body{
    background-color: #f5f5f5;
}
.forum-pic{
    margin-top: 50px;
}
.water-box{
    margin-top: 45px;
}
.water-content{
    position: relative;
    min-height: 800px;
}
.water-content .water-item{
    text-align: center;
   width: 266px;
    padding: 15px 15px 30px;
    border: 1px solid #efefef;
    display: inline-block;
    margin: 0 22px 25px 0;
    float: left;
    transition: all .3s;
    opacity: 0;
    background-color:#fff;
   filter: alpha(opacity=0);
}
.water-content .water-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 10px 0 #ddd;
}
.water-content .water-item .link-img{
    width: 260px;
    /*height: 202px;*/
}
.water-content .water-item .link-img>img{
    width: 100%;
    height: 100%;
}
.water-content .water-item .info-box{
    margin-top: 15px;
    height: 30px;
    display: block;
}
.water-item .info-box .info-left{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    overflow: hidden;
    margin-right: 10px;
}
.info-box .info-right{
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    color: #271e1f;
    float: left;
}
.info-box .info-right span{
    margin-right: 10px;
}
.water-content .water-item .level-box{
    padding: 10px 0;
    border-top: 1px #efefef dashed;
    margin-top: 15px;
    color: #ffab2e;
    text-align: left;
}
.water-content .water-item>.water-text{
    color: #3e3a39;
    width: 260px;
    display: block;
    text-align: left;
}
/*返回顶部*/
.go-btn {
    position: fixed;
    right: 10px;
    top: 700px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}