.banner-box {
    width: 100%;
    min-width: 1280px;
    height: 500px;
    background: url("../../images/forum/forum-bg.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}
.search-wrap{
    padding-top: 180px;
    margin: 0 auto;
    width: 720px;
}
.search-box {
    width: 720px;
    height: 80px;
    box-sizing: border-box;
    position: relative;
}

.search-box .search-bg {
    height: 80px;
    background-color: #000000;
    opacity: .3;
    filter: alpha(opacity=40);
    border-radius: 3px;
}

.search-box .input-box {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    height: 60px;
    width: 700px;
    border-radius: 3px;
}

.search-box .input-box .search-input {
    width: 570px;
    height: 60px;
    line-height: 60px;
    padding-left: 60px;
    font-size: 16px;
    background: url("../../images/forum/search-icon.png") no-repeat 4% center #ffffff;
    overflow: hidden;
    *float: left;
    *width: 515px;
    outline: none;
    border-radius: 3px;
    box-sizing: border-box;
}

.search-box .input-box .search {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    border-radius: 2px;
    background: linear-gradient(to bottom, #564647, #1b0d11);
    background-color: #271e1e \9;
    *margin-top: 5px;
}

.search-box .input-box .search:hover {
    background: linear-gradient(to bottom, #443536, #160d10);
}

.banner-box .hot-box {
    max-width: 1000px;
    height: auto;
    color: #ffffff;
    text-align: left;
    margin-top: 20px;
}

.banner-box .hot-box > a {
    border: 1px solid #ffffff;
    padding: 6px 10px;
    border-radius: 20px;
    color: #ffffff;
    margin: 0 0 15px 15px;
}

.banner-box .hot-box > a:hover {
    background-color: #fff;
    color: #271e1e;
}

/*主体*/
.section {
    margin-top: 50px;
}

.section .section-title {
    background: url("../../images/forum/forum-pic.jpg") no-repeat center;
    height: 95px;
    background-size: cover;
}
.section .section-title>a{
    display: inline-block;
    width: 100%;
    height: 95px;
}
.section-style {
    margin-top: 50px;
    padding: 0 38px;
    box-sizing: border-box;
}

.current-event {
    padding: 0 24px;
}

.section-style > h5 {
    font-size: 24px;
    color: #271e1f;
    border-left: 2px solid #271e1f;
    text-indent: 10px;
}

.section .article-main {
    margin-bottom: 40px;
}

.article-center:after {
    display: block;
    width: 0;
    height: 0;
    content: '';
    clear: both;
}

.section .article-box {
    margin-top: 30px;
    padding: 0 30px 0 42px;
}

.section .article-box:after {
    display: block;
    width: 0;
    height: 0;
    content: '';
    clear: both;
}

.section .article-center {
    margin: 0 auto;
}

/*展示列表兼容开始*/
.section .article-item {
    min-height: 380px;
    float: left;
    margin: 0 11px 15px 0;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid #efefef;
    transition: all .3s;
    background-color: #ffffff;

}

/*新加版心*/
/*google开始*/
/*大屏幕*/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 1700px) {
    .section .article-box {
        width: 1815px;
        margin: 30px auto 0;
        padding: 0;
    }
}

/*中屏幕*/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 1400px) {
    .section .article-box {
        width: 1205px;
        margin: 30px auto 0;
    }

    .article-box .guang-gao {
        width: 290px;
        background: url("../../images/forum/ad.png") no-repeat center;
        position: relative;
        cursor: pointer;
        height: 380px;
        margin-left: 0;
    }
}

/*小屏幕*/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 1280px) {
    .section .article-box {
        width: 1205px;
        margin: 30px auto 0;
    }

    .article-box .guang-gao {
        width: 290px;
        background: url("../../images/forum/ad.png") no-repeat center;
        position: relative;
        cursor: pointer;
        height: 380px;
        margin-left: 0;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 1600px) {
    .section .article-box {
        width: 1205px;
        margin: 30px auto 0;
    }

    .article-box .guang-gao {
        width: 290px;
        background: url("../../images/forum/ad.png") no-repeat center;
        position: relative;
        cursor: pointer;
        height: 380px;
        margin-left: 0;
    }
}

/*google结束*/

/*火狐开始*/

@media screen and (max-width: 1440px) {
    @-moz-document url-prefix() {
        .section .article-box {
            width: 1205px;
            margin: 30px auto 0;
            padding: 0;
        }
        .article-box .guang-gao {
            width: 290px;
            background: url("../../images/forum/ad.png") no-repeat center;
            position: relative;
            cursor: pointer;
            height: 380px;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 1366px) {
    @-moz-document url-prefix() {
        .section .article-box {
            width: 1205px;
            margin: 30px auto 0;
            padding: 0;
        }
        .article-box .guang-gao {
            width: 290px;
            background: url("../../images/forum/ad.png") no-repeat center;
            position: relative;
            cursor: pointer;
            height: 380px;
            margin-left: 0;
        }
    }
}

@media screen and (max-width: 1600px) {
    @-moz-document url-prefix() {
        .section .article-box {
            width: 1205px;
            margin: 30px auto 0;
        }

        .article-box .guang-gao {
            width: 290px;
            background: url("../../images/forum/ad.png") no-repeat center;
            position: relative;
            cursor: pointer;
            height: 380px;
            margin-left: 0;
        }
    }
}

@media screen and (min-width: 1700px) {
    @-moz-document url-prefix() {
        .section .article-box {
            width: 1815px;
            margin: 30px auto 0;
            padding: 0;
        }
    }
}

/*火狐结束*/
/*IE开始*/
@media screen and (max-width: 1440px) {
    .section .article-box {
        width: 1205px;
        margin: 30px auto 0;
        padding: 0;
    }

    .article-box .guang-gao {
        width: 290px;
        background: url("../../images/forum/ad.png") no-repeat center;
        position: relative;
        cursor: pointer;
        height: 380px;
        margin-left: 0;
    }
}

@media screen and (max-width: 1680px) {
    .section .article-box {
        width: 1205px;
        margin: 30px auto 0;
        padding: 0;
    }

    .article-box .guang-gao {
        width: 290px;
        background: url("../../images/forum/ad.png") no-repeat center;
        position: relative;
        cursor: pointer;
        height: 380px;
        margin-left: 0;
    }
}

/*IE结束*/
/*新加版心*/

/*展示列表兼容结束*/

.article-item .article-title {
    font-size: 12px;
    color: #271e1f;
}

.article-item .article-title:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.article-item .article-title .title-left {
    float: left;
    margin-right: 15px;
    border-radius: 2px;
    overflow: hidden;
}

.article-item .article-title .title-right {
    float: left;
    margin-top: 7px;
    width: 170px;
    word-wrap: break-word;
}

.article-item .article-title .title-right > p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.article-text {
    display: block;
    border-top: 1px solid #efefef;
    width: 228px;
    margin-top: 25px;
    padding-top: 20px;
    word-wrap: break-word;
    height: 190px;
}

.article-text > .over-text {
    font-size: 12px;
    color: #727171;
    width: 228px;
    line-height: 15px;
    max-height: 60px;
    overflow: hidden;
    padding-top: 20px;
}

.article-text .over-title {
    max-height: 100px;
    font-size: 24px;
    color: #271e1f;
    line-height: 25px;
    overflow: hidden;
}

.browse-box {
    height: 30px;
    margin-top: 15px;
}

.browse-box > li {
    float: left;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #efefef;
}
.browse-box >li>span{
    font-size: 20px;
    vertical-align: sub;
    line-height: 16px;
    color: #7a7979;
}
.browse-box >li .icon-wodepinglun{
    line-height: 18px;
    font-size: 16px;
}
.browse-box .min-pic {
    vertical-align: middle;
    margin-right: 10px;
}

.browse-box .comments-btn {
    border-left: 0;
}

.section .article-box .article-item:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 3px 6px 0 #f1f1f1;
}

.section .article-box .guang-gao:hover {
    border: 1px solid transparent;
    transform: none;
    box-shadow: 0 3px 6px 0 #f1f1f1;
}

.article-item:hover .over-title {
    color: #f22828;
}

/*广告开始*/
.article-box .guang-gao {
    width: 290px;
    background: url("../../images/forum/ad.png") no-repeat center;
    position: relative;
    cursor: pointer;
    height: 389px;
}

.article-box .guang-gao p {
    font-size: 22px;
    font-weight: bold;
    color: #271e1e;
}

.article-box .guang-gao p > span {
    color: #f22828;
}

.article-box .guang-gao .release-btn {
    display: inline-block;
    width: 225px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background-color: #b11f20;
    font-size: 18px;
    margin-top: 165px;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 2px 3px 0 #271e1e47;
    transition: all 1s;
}

.article-box .guang-gao .release-btn:hover {
    background-color: #ee2323;
}

/*广告结束*/
.section .more-box {
    width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.section .more-box .more-btn {
    display: inline-block;
    width: 178px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #dcdddd;
    border-radius: 2px;
    margin-top: 40px;
    color: #271e1e;
    font-size: 14px;
    box-shadow: 0 2px 6px #f1f1f1;
    background-color: #ffffff;
}

.section .more-box .back-btn {
    display: inline-block;
    width: 178px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #dcdddd;
    border-radius: 2px;
    margin-top: 40px;
    color: #271e1e;
    font-size: 14px;
    background-color: #fff;
}

.section .more-box .back-btn:hover {
    background-color: #f1f1f1;
}

.section .more-box .more-btn:hover {
    background-color: #f1f1f1;
}

/*回复区*/
.answer-box .answer-title {
    width: 100%;
    height: 98px;
    border-top: 1px solid #dcdddd;
    border-bottom: 1px solid #271e1f;
    background-color: #efeff0;
}

.answer-title .answer-top {
    width: 1280px;
    margin: 0 auto;
    height: 98px;
    position: relative;
}

.answer-title .answer-top .question {
    position: absolute;
    top: -25px;
    left: 35px;
}

.answer-title .answer-top .question-text {
    position: absolute;
    left: 170px;
    top: 20px;
}

.answer-title .answer-top .question-text > h4 {
    font-size: 24px;
}

.answer-title .answer-top .question-text > h4 > span {
    color: #cb2021;
    font-style: italic;
    margin: 0 0px;
}

.answer-title .answer-top .question-text > p {
    font-size: 12px;
    margin-top: 10px;
}

.answer-title .answer-top .question-text > p > span {
    color: #f5a623;
    margin: 0 5px;
}

.answer-title .answer-top .ask-btn {
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 45px;
    color: #ffffff;
    top: 28px;
    font-size: 18px;
    background-color: #b11f20;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    transition: all 1s;
}

.answer-title .answer-top .ask-btn:hover {
    background-color: #ee2323;
}

.answer-main .answer-center:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*只兼容IE8*/
.section .answer-main {
    background: url("../../images/forum/answer-bg.png") repeat-y center;
    box-sizing: border-box;
    background-size: cover;
    padding: 40px 0 30px 0;
}

.section .answer-main .answer-center {
    width: 1830px;
    margin: 0 auto;
}

.section .answer-center .answer-item {
    margin-right: 15px;
    margin-right: 10px \9;
    padding: 30px;
}

/*相反重置*/
.section .answer-main {
    background-color: #ffffff \9;
    padding: 40px 30px 30px 42px \9;
    box-sizing: border-box;
    background-size: cover;
}

.section .answer-main .answer-center {
    width: 1200px;
    margin: 0 auto;
}

.answer-main .answer-center .answer-item {
    float: left;
    margin: 0 0 15px 11px;
    padding: 30px;
    transition: all .3s;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
    max-height: 279px;
}

.answer-main .answer-center .answer-item:first-child {
    margin-left: 0;
}

.answer-main .answer-center .answer-item:first-child + .answer-item + .answer-item + .answer-item + .answer-item {
    margin-left: 0;
}

.answer-main .answer-center .answer-item .hot-flag {
    background: url("../../images/forum/hot.png") no-repeat center;
    width: 27px;
    height: 30px;
    position: absolute;
    top: -5px;
    right: 25px;
}

.answer-main .answer-center .answer-item:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.answer-center .answer-item .item-title {
    font-size: 12px;
    color: #271e1f;
}

.answer-center .answer-item .item-title:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.answer-center .answer-item .item-title .title-left {
    float: left;
    margin-right: 15px;
    border-radius: 2px;
    overflow: hidden;
}

.answer-center .answer-item .item-title .title-right {
    float: left;
    margin-top: 7px;
    width: 170px;
    word-wrap: break-word;
}

.answer-center .answer-item .item-title .title-right > p:first-child {
    font-weight: bold;
    margin-bottom: 5px;
}

.answer-text {
    display: block;
    border-top: 1px solid #efefef;
    width: 228px;
    margin-top: 25px;
    padding-top: 20px;
    word-wrap: break-word;
}

.answer-text .over-title {
    height: 80px;
    font-size: 24px;
    color: #271e1f;
    line-height: 26px;
    overflow: hidden;
}

.answer-item .participants {
    min-height: 38px;
}

.answer-item .participants:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: bottom;
}

.answer-item .participants > li {
    float: left;
    margin-right: 4px;
}

.events-box .events-center {
    padding: 0 24px;
    box-sizing: border-box;
    margin: 25px 0 10px 0;
}

.events-box .events-center .events-item {
    width: 308px;
    box-sizing: border-box;
    float: left;
}

.events-box .events-center:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.events-box .events-center .events-item .events-title {
    width: 280px;
    height: 150px;
    background-color: #dddddd;
}

.events-box .events-center .events-item .title-text {
    font-size: 18px;
    width: 290px;
    min-height: 85px;
    margin-top: 20px;
    color: #271e1e;
}

.events-box .events-center .events-item .text-time {
    font-size: 12px;
    color: #727171;
    width: 290px;
    line-height: 17px;
    border-top: 1px #727171 dashed;
    padding-top: 25px;
    overflow: hidden;
    height: 85px;
    word-break: break-all;
}

.events-box .events-center .events-item .date-item {
    margin-top: 25px;
}

.events-box .events-center .events-item .date-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.events-box .events-center .events-item .date-item > li {
    float: left;
    margin-right: 15px;
    color: #727171;
    font-size: 12px;
    vertical-align: middle;
}

.events-box .events-center .events-item .date-item>li>span{
    font-size: 20px;
    vertical-align: sub;
    line-height: 16px;
    color: #7a7979;
}
.events-box .events-center .events-item .date-item>li .icon-wodepinglun{
    line-height: 18px;
    font-size: 16px;
}

/*feedback样式*/
.feedback-main {
    margin-top: 75px;
    background: url("../../images/forum/feed-bg.jpg") no-repeat center center #000000;
    min-height: 601px;
    width: 100%;
    min-width: 1280px;
    background-size: cover;
}

.feedback-main .feed-center {
    width: 1280px;
    padding: 50px 24px 24px 24px;
    box-sizing: border-box;
    margin: 0 auto;
}

.feedback-main .feed-center .feed-style {
    color: #ffffff;
    font-size: 24px;
    border-left: 2px #ffffff solid;
    padding-left: 10px;
}

.feed-center .item-box {
    margin-top: 20px;
}

.feed-center .item-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.feed-center .item-box .feed-item {
    float: left;
    width: 258px;
    padding: 15px;
    height: auto;
    background-color: #ffffff;
    margin-right: 20px;
    transition: all .3s;
}

.feed-center .item-box .feed-item:hover {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}

.feed-item .user-info {
    margin-top: 15px;
    height: 33px;
}

.feed-item .user-info .info-left, .info-right {
    float: left;
    margin-right: 10px;
}

.feed-item .user-info .info-right {
    margin-top: 8px;
}

.feed-item .user-info .info-right > span {
    margin-right: 10px;
    font-weight: bold;
    color: #271e1e;
}

.feed-item .praise-box {
    margin-top: 15px;
    border-top: 1px #d8d8d8 dashed;
    padding-top: 5px;
}

.feed-item .praise-box > a {
    color: #271e1e;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    height: 60px;
    overflow: hidden;
}

.feed-item .praise-box .starts-box {
    height: 24px;
    margin-bottom: 5px;
}

.feed-item .praise-box .starts-box > li {
    float: left;
    margin-right: 4px;
    color: #ffab2e;
    font-size: 14px;
}
