.bbs-banner {
    height: 300px;
    width: 100%;
    background: url("../../images/forum/bbs-bg.jpg") no-repeat center #0a194c;
    background-size: cover;
    min-width: 1280px;
    overflow: hidden;
}

.information-box {
    padding-top: 120px;
}

.information-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.info-left {
    float: left;
    height: 63px;
}

.info-left .img-left {
    float: left;
    margin-right: 20px;
    height: 60px;
    width: 60px;
    overflow: hidden;
    border-radius: 2px;
}
.info-left .img-left>img{
    width: 100%;
    height: 100%;
}
.info-left .img-right {
    padding-top: 23px;
    float: left;
    font-size: 12px;
    box-sizing: border-box;
    color: #ffffff;
}

.info-left .img-right > p > span {
    font-weight: bold;
    margin-right: 10px;
}

.info-left .img-right > a {
    margin-top: 10px;
    color: #ffffff;
    text-decoration: underline;
}

.info-right {
    float: right;
}

.info-right > a {
    float: left;
    width: 160px;
    height: 40px;
    line-height: 40px;
    background-color: #b21f1f;
    margin-left: 10px;
    text-align: center;
    border-radius: 3px;
    color: #ffffff;
}

/*类型列表*/
.bbs-banner .style-list {
    margin-top: 67px;
}

.bbs-banner .style-list > li {
    float: left;
    width: 174px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #877070;
    margin-right: 1px;
    transition: all .3s;
}

.bbs-banner .style-list > li > a {
    color: #ffffff;
    width: 100%;
    height: 100%;
}

/*鼠标经过样式*/
.bbs-banner .style-list > li:hover {
    background-color: #ffffff;
    height: 55px;
    line-height: 55px;
    margin-top: -5px;
}

.bbs-banner .style-list > li:hover a {
    color: #271e1f;
}

/*选中的类样式*/
.bbs-banner .style-list .active-list {
    background-color: #ffffff;
    height: 55px;
    line-height: 55px;
    margin-top: -5px;
}

.bbs-banner .style-list .active-list > a {
    color: #271e1f;
    width: 100%;
    height: 100%;
}

/*主体*/
.bbs-main {
    margin-top: 66px;
}

.bbs-main .main-warp:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*左边模块*/
.bbs-main .main-warp .warp-left {
    float: left;
    width: 918px;
}

.bbs-main .main-warp .warp-left .article-title {
    height: 45px;
    width: 100%;
    border-bottom: 1px solid #dcdddd;
    position: relative;
}

.warp-left .article-title .title-left {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    min-width: 200px;
    border-bottom: 2px solid #b21f1f;
    font-size: 24px;
    color: #271e1f;
}

.warp-left .article-title .title-right {
    width: 200px;
    border: 1px solid #cccccc;
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
}

.article-title .title-right .state-value {
    width: 200px;
    height: 44px;
    line-height: 40px;
    text-indent: 15px;
    overflow: hidden;
    outline: none;
    text-align: left;
    cursor: pointer;
    color: #727171;
    background: url("../../images/forum/down-pic.png") no-repeat 90% center #ffffff;
}

.article-title .title-right .state-list {
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    box-shadow: 0 3px 0 0 #f5f5f5;
    background-color: #ffffff;
    z-index: 9;
    border-top: 1px solid #cccccc;
}

.article-title .title-right .state-list > li {
    height: 38px;
    line-height: 38px;
    text-indent: 15px;
    border: 1px solid #efefef;
    border-top: none;
    cursor: pointer;
    color: #727171;
}

.article-title .title-right .state-list > li:first-child {
    border-top: 1px solid #efefef;
}

.article-title .title-right .state-list > li:hover {
    background-color: #efefef;
}

/*显示条目*/
.main-warp .warp-left .article-center {
    min-height: 500px;
    margin-bottom: 150px;
}

/*空状态*/
.main-warp .warp-left .article-center .empty-state {
    padding-top: 100px;
    margin: 0 auto;
    width: 200px;
    display: none;
}

.article-center .empty-state > ul {
    float: right;
    margin-top: 5px;
}

.article-center .empty-state > ul > li:first-child {
    color: #c9caca;
    margin-bottom: 5px;
}

.article-center .empty-state > ul > li:first-child + li > a {
    color: #2e2525;
    text-decoration: underline;
}

.warp-left .article-center .article-item {
    padding: 30px 0;
    border-bottom: 1px solid #efefef;
}

.warp-left .article-center .article-item .item-left, .item-right, .item-center {
    float: left;
}

.article-center .article-item .item-left {
    margin-right: 25px;
}

/*个人文章列表(公共)*/
.main-warp .warp-left .article-center .article-list {
    border-bottom: 1px solid #CCC;
    padding: 30px 0;
}

.article-center .article-list:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.article-center .article-list .list-left {
    float: left;
    width: 660px;
}

.article-list .list-left h4 {
    font-size: 24px;
    color: #271e1f;
}

.article-list .list-left i {
    margin-top: 20px;
    font-size: 12px;
    color: #271e1f;
}

.article-list .list-left p {
    margin-top: 15px;
    color: #727171;
    font-size: 14px;
    max-height: 40px;
    min-height: 40px;
    overflow: hidden;
}

.article-list .list-right {
    float: right;
    display: inline-block;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-left: 1px solid #efefef;
    border-radius: 2px;
}

.article-list .list-right > li {
    float: left;
    width: 80px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-right: 1px solid #efefef;
}
.article-list .list-right >li>span{
    font-size: 20px;
    vertical-align: sub;
    line-height: 16px;
    color: #7a7979;
}
.article-list .list-right >li .icon-wodepinglun{
    line-height: 18px;
    font-size: 16px;
}
/*Comment and share模块样式*/
.water-box {
    margin-top: 40px;
    width: 918px;
    position: relative;
}

.article-center .water-box .each-item {
    padding: 15px;
    border: 1px solid #ccc;
    width: 290px;
    box-sizing: border-box;
    float: left;
    margin-right: 16px;
    margin-bottom: 20px;
    background-color: #ffffff;
    transition: all .3s;
    opacity: 0;
    fill-opacity: 0;
}
.article-center .water-box .each-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 2px 1px 0 #F6F6F6;
}
.article-center .water-box .each-item > img {
    width: 260px;
    height: auto;
}

.article-center .water-box .each-item .give-like {
    border: 1px solid #efefef;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    max-width: 160px;
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #271e1f;
}

.article-center .water-box .each-item .give-like > span {
    color: #b21f1f;
}

.article-center .water-box .each-item .give-like > img {
    vertical-align: sub;
}

.rating-box {
    margin-top: 10px;
    border-top: 1px #efefef dashed;
    padding-top: 10px;
}

.rating-box .stars-box {
    color: #ffab2e;
    font-size: 18px;
}

.rating-box > p {
    margin-top: 8px;
    font-size: 14px;
    color: #3e3a39;
    max-height: 60px;
    overflow: hidden;
}

.water-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}


/*右侧模块开始*/
.bbs-main .main-warp .warp-right {
    float: right;
    width: 290px;
    border: 1px solid #dcdddd;
}

.warp-right .hot-label {
    position: relative;
    padding: 30px 20px 15px 20px;
    box-sizing: border-box;
}

.warp-right .hot-label > h3 {
    font-size: 18px;
}

.hot-text {
    margin-top: 20px;
}

.hot-text > a {
    padding: 0 15px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    color: #271e1f;
    margin: 0 10px 15px 0;
    background-color: #ffffff;
}

.hot-text > a:hover {
    background-color: #dcdddd;
}

.main-warp .warp-right .hot-label .hot-flag {
    position: absolute;
    top: 0;
    right: 17px;
}

.parameter-box {
    border-top: 1px solid #efefef;
    padding: 30px 20px;
    box-sizing: border-box;
}

.parameter-box > input[type="text"] {
    width: 248px;
    height: 38px;
    line-height: 38px;
    text-indent: 15px;
    border: 1px solid #efefef;
    outline: none;
    margin-bottom: 10px;
}

.parameter-box > select {
    margin-bottom: 10px;
    width: 250px;
    text-indent: 15px;
}
@-moz-document url-prefix() {
    .parameter-box > select {
        margin-bottom: 10px;
        width: 250px;
        text-indent: 5px;
    }
}

.quote-now {
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    background-color: #b21f1f;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    transition: all 1s;
}

.quote-now:hover {
    background-color: #ee2323;
}

/*右侧模块结束*/
