.search-banner {
    background: url("../../images/forum/search-bg.png") no-repeat center;
    height: 251px;
    overflow: hidden;
    width: 100%;
    min-width: 1280px;
    position: relative;
}
.search-banner .search-wrap{
    padding-top: 80px;
    max-width: 1000px;
    margin: 0 auto;
}
.search-banner .search-box {
    width: 720px;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

.search-box .search-bg {
    height: 80px;
    background-color: #000000;
    opacity: .3;
    filter: alpha(opacity=40);
    border-radius: 2px;
}

.search-box .input-box {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    height: 60px;
    width: 700px;
    border-radius: 2px;
}

.search-box .input-box .search-input {
    width: 700px;
    height: 60px;
    line-height: 60px;
    padding-left: 60px;
    font-size: 16px;
    background: url("../../images/forum/search-icon.png") no-repeat 4% center #ffffff;
    overflow: hidden;
    *float: left;
    *width: 515px;
    outline: none;
    border-radius: 2px;
    box-sizing: border-box;
}

.search-box .input-box .search {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    border-radius: 2px;
    background: linear-gradient(to bottom, #564647, #1b0d11);
    background-color: #271e1e \9;
    *margin-top: 5px;
    position: absolute;
    top: 5px;
    right: 4px;
}

.search-box .input-box .search:hover {
    background: linear-gradient(to bottom, #443536, #160d10);
}

.search-banner .hot-tags .tags-right{
    max-width: 1000px;
    margin: 20px auto 0;
    text-align: center;
}

.search-banner .hot-tags .tags-right > span:hover {
    background-color: #fff;
    cursor: pointer;
}

.search-banner .hot-tags:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.search-banner .hot-tags .tags-right > span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 15px;
    border-radius: 15px;
    border: 1px solid #727171;
    margin: 0 0 10px 17px;
    cursor: pointer;
}

.result-box {
    margin-top: 1px;
    min-height: 600px;
}

/*结果标题*/
.result-title {
    height: 45px;
    line-height: 45px;
    background-color: #ddddde;
}

.result-title > ul {
    width: 760px;
    margin: 0 auto;
    height: 45px;
}

.result-title > ul > li {
    padding: 0 35px;
    line-height: 44px;
    float: left;
}

.result-title > ul > li > a {
    color: #271e1f;
}

.result-title > ul .active-item {
    border-bottom: 1px solid #b21f1f;
}

/*数据显示盒子*/
.result-box .items-box {
    padding-top: 60px;
}

/*空状态*/
.result-box .items-box .empty-items {
    width: 604px;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.items-box .empty-items > p {
    font-size: 18px;
    color: #727171;
}

.items-box .empty-items > p > span {
    color: #b21f1f;
}

.items-box .empty-items .not-find {
    margin-top: 30px;
    font-size: 18px;
    color: #9fa0a0;
}

.items-box .empty-items > a {
    font-size: 14px;
    color: #4184f3;
    width: 138px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #4184f3;
    margin-top: 20px;
    border-radius: 2px;
}

.items-box .empty-items > a:hover {
    box-shadow: 0 1px 2px 0 #3d92e4;
}

.items-box .each-box {
    width: 1000px;
    margin: 0 auto;
}

.items-box .each-box > p {
    font-size: 18px;
    color: #727171;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #ddddde;
}

.items-box .each-box > p > span {
    color: #b21f1f;
}

.items-box .each-box .each-item {
    padding: 24px 0;
    border-bottom: 1px solid #ddddde;
    transition: all 1s;
    cursor: pointer;
}

.items-box .each-box .each-item > a {
    width: 100%;
}

.items-box .each-box .each-item:hover .each-right > h4 {
    color: #b21f1f;
}

.items-box .each-box .each-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.items-box .each-box .each-item .each-left {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 2px;
    float: left;
    margin-right: 30px;
}

.items-box .each-box .each-item .each-right {
    float: left;
    margin-top: 9px;
}

.each-item .each-right > h4 {
    font-size: 18px;
    color: #271e1f;
}

.each-item .each-right > p {
    margin-top: 10px;
    font-size: 12px;
}

.each-item .each-right > p > .user {
    font-weight: bold;
    color: #271e1f;
}

.each-item .each-right > p > .time {
    color: #271e1f;
}

.each-item .each-right > p > i {
    margin: 0 10px;
}

/*分页样式开始*/
.page-box {
    padding-top: 38px;
    text-align: center;
    margin-bottom: 90px;
}

#pages {
    margin-bottom: 38px;
    height: 36px;
}

#pages a#pageprev, #pages a#pagenext {
    background: #c8c8c8;
}

#pages span {
    width: 11px;
    height: 18px;
}

#pages a#pageactive {
    background: #e6e6e6;
    color: #666;
}

#pages a:hover {
    background: #e6e6e6;
    color: #666;
}

.yy-icon {
    /*background-image: url("../");*/
    background-image: url("../../images/forum/icon.png");
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
}

.yy-ljt {
    background-position: -139px 0;
}

.yy-rjt {
    background-position: -119px 0;
}

#pages a {
    width: 32px;
    height: 18px;
    padding: 7px 0;
    border-radius: 2px;
    display: inline-block;
    color: #666;
    line-height: 18px;
    text-align: center;
    margin-right: 5px;
    transition: background-color 0.2s ease-out;
    vertical-align: middle;
}

/*分页样式结束*/