.banner-about {
    background: url("../images/about-us-bg.jpg") no-repeat center;
    height: 241px;
    width: 100%;
    min-width: 1280px;
}

.about-content {
    margin-top: 100px;
}

.about-l {
    width: 240px;
    height: auto;
    border-bottom: none;
    float: left;
}

.about-l-top {
    height: 80px;
    line-height: 80px;
    padding-left: 25px;
    background-color: #f7f8f8;
    font-weight: bold;
    font-size: 24px;
    box-sizing: border-box;
}

.left-item {
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding-left: 25px;
    box-sizing: border-box;
    border: 1px solid #efefef;
    border-top: none;
    color: #2e2525;
}

.about-l .active-item {
    background-color: #2e2525;
    color: #ffffff;
}

.about-l .share-box{
    height: 40px;
    margin-top: 20px;
    text-align: center;
}
.about-l .share-box>a{
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.about-l .share-box>a>img{
    transition: all .3s;
}
.about-l .share-box>a:hover img{
    transform: scale(1.3);
}
/*右侧*/
.about-r {
    float: right;
    width: 960px;
    height: auto;
}

.about-r .about-r-title {
    font-size: 30px;
    color: #b21f1f;
    padding-top: 25px;
}

.about-r .title-sign-box {
    height: 30px;
    width: 100%;
    border-top: 1px solid #b21f1f;
    position: relative;
    margin-top: 25px;
}

.about-r .title-sign {
    display: inline-block;
    width: 35px;
    height: 15px;
    position: absolute;
    top: -8px;
    left: 0;
    background-color: #ffffff;
}

/*contact-us界面*/
/*地图导航*/
.map-navigation-box {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #efefef;
}

.map-text-box {
    margin-top: 60px;
}

.map-text-l {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    height: 161px;
}

.map-text-r {
    display: inline-block;
    float: right;
    margin-top: 10px;
}

.map-text-r > div {
    margin-bottom: 20px;
}

.map-text-r > div > .fast-icon {
    vertical-align: middle;
    margin-right: 15px;
}

.send-message-box {
    width: 100%;
    height: 500px;
    background-color: #f7f8f8;
    border: 1px solid #efefef;
}

.send-message-box .message-title {
    height: 80px;
    line-height: 80px;
    font-weight: bold;
    border-bottom: 1px dashed #dcdddd;
    padding-left: 30px;
    box-sizing: border-box;
}

.form-box {
    margin-top: 60px;
    margin-left: 135px;
    height: 300px;
}

.form-box .name-and-email {
    padding-left: 60px;
}

.form-box div {
    margin-bottom: 25px;
}

.form-box input {
    height: 40px;
    border: 1px solid #efefef;
    background-color: #ffffff;
    text-indent: 15px;
    outline: none;
    margin-left: 10px;
}

.form-box .name-box {
    width: 240px;
    margin-right: 25px;
}

.form-box .phone-box {
    width: 550px;
}

.form-box .info-box {
    width: 550px;
    height: 80px;
    resize: none;
    border: 1px solid #efefef;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
}

.form-box .textarea-box {
    padding-left: 42px;
}

.form-box .textarea-box > span {
    float: left;
    margin-right: 10px;
}

.form-box .send-btn {
    width: 240px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #ffffff;
    padding-left: 10px;
    text-align: left;
    box-sizing: border-box;
    font-weight: bold;
    margin-left: 110px;
    background: url("../images/black-pointer.png") no-repeat 90% center #b21f1f;
}
.form-box .send-btn:hover{
    background-color: #d52424;
}

/*计价盒子*/
.valuation-box {
    width: 100%;
    height: 240px;
    background-color: #efebeb;
    position: relative;
    overflow: hidden;
}
.valuation-box .mask{
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
    min-width: 1280px;
    background-color: #ffffff;
    z-index: 3;
}
.valuation-box .valuation-item {
    height: 242px;
    background: url("../images/valuation-bg.png") no-repeat 50% center;
    padding: 95px 0 0 210px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.valuation-item .your-files {
    font-size: 18px;
    margin-top: 15px;
}

.got-project {
    margin-top: 20px;
    color: #826c6c;
}

.got-project > a {
    text-decoration: underline;
    color: #826c6c;
}

.pcb-now-btn {
    background: url("../images/pcb-btn-bg.jpg") no-repeat center;
    width: 293px;
    height: 65px;
    line-height: 58px;
    color: #ffffff;
    font-weight: bold;
    text-indent: 30px;
    position: absolute;
    top: 135px;
    right: 100px;
}

/*-Method of payment页面*/
.method-account {
    margin-top: 80px;
    height: 60px;
}

.method-account .account-title {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    width: 320px;
}

.hsbc-box {
    padding: 50px 0;
    border-top: 1px dashed #2e2525;
}

.hsbc-box .hsbc-l {
    width: 320px;
    height: 175px;
    display: inline-block;
    background: url("../images/hsbc-bg.png") no-repeat 10% 80%;
}

.hsbc-box .hsbc-l {
    font-size: 18px;
    font-weight: bold;
    float: left;
}

.hsbc-box .hsbc-r {
    display: inline-block;
    height: auto;
}

.hsbc-box .hsbc-r > div {
    margin-bottom: 15px;
}

.hsbc-box .hsbc-r > div > span {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.union-box {
    border-top: 1px dashed #2e2525;
    padding-top: 50px;
}

.union-box .union-l {
    width: 320px;
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 18px;
    height: 210px;
    background: url("../images/union-bg.png") no-repeat 10% 80%;
}

.union-box .union-r {
    padding-top: 20px;
    float: left;
    display: inline-block;
    width: 640px;
    text-align: left;
    font-size: 12px;
}

.union-box .union-r .union-table {
    width: 100%;
    border-collapse: collapse;
}

.union-box .union-r .union-table th, td {
    width: 50%;
    padding-left: 15px;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid #efefef;
}

.union-box .union-r .union-table th {
    background-color: #f7f8f8;
    font-weight: bold;
}

.union-box .union-r .introduced-box {
    margin-top: 45px;
    line-height: 20px;
    font-weight: bold;
}

/*Introduction页面*/
.gogo-box {
    height: 560px;
    background: url("../images/Introduction-bg.png") no-repeat right center;
    padding-top: 80px;
    box-sizing: border-box;
}

.gogo-box .gogo-title {
    font-size: 30px;
    font-weight: bold;
}

.gogo-box .gogo-text {
    line-height: 20px;
    margin-top: 40px;
}

.about-r .advantages-box {
    border-top: 1px dashed #2e2525;
}

.about-r .advantages-box .advantages-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}

.advantages-box .advantages-item {
    margin-top: 70px;
}

.advantages-box .advantages-item > .list {
    display: inline-block;
    width: 320px;
    height: 315px;
    float: left;
    padding-top: 110px;
    box-sizing: border-box;
}

.advantages-box .advantages-item > .list > p {
    width: 240px;
    line-height: 20px;
}

.advantages-box .advantages-item > .item1 {
    background: url("../images/advantages1.png") no-repeat 5% 10%;
}

.advantages-box .advantages-item > .item2 {
    background: url("../images/advantages2.png") no-repeat 5% 10%;
}

.advantages-box .advantages-item > .item3 {
    background: url("../images/advantages3.png") no-repeat 5% 10%;
}

.advantages-box .advantages-item > .item4 {
    background: url("../images/advantages4.png") no-repeat 5% 10%;
}

.advantages-box .advantages-item > .item5 {
    background: url("../images/advantages5.png") no-repeat 5% 10%;
}

.advantages-box .advantages-item > .item6 {
    background: url("../images/advantages6.png") no-repeat 5% 10%;
}

.advantages-img-box {
    border-top: 1px dashed #2e2525;
    padding-top: 50px;
    cursor: pointer;
}

.advantages-img-box .img-item {
    width: 230px;
    height: 242px;
    border-radius: 50px;
    margin: 0 10px 10px 0;
    box-sizing: border-box;
    float: left;
}
.advantages-img-box .img1 {
    background: url("../images/team.png") no-repeat left center;
}

.advantages-img-box .img2 {
    background: url("../images/team2.png") no-repeat left center;
}

.advantages-img-box .img3 {
    background: url("../images/team3.png") no-repeat left center;
}

.advantages-img-box .img4 {
    background: url("../images/team4.png") no-repeat left center;
}

.advantages-img-box .img5 {
    background: url("../images/team5.png") no-repeat left center;
}

.advantages-img-box .img6 {
    background: url("../images/team6.png") no-repeat left center;
}

.advantages-img-box .img7 {
    background: url("../images/team7.png") no-repeat left center;
}

.advantages-img-box .img8 {
    background: url("../images/team8.png") no-repeat left center;
}

.factory-box {
    border-top: 1px dashed #2e2525;
    padding-top: 20px;
    height: auto;
    margin-top: 50px;
}

.factory-box > p {
    font-size: 24px;
    font-weight: bold;
}

.factory-show {
    background-size: 100% auto;
    width: 960px;
}

.factory-show .full {
    width: 100%;
    overflow: hidden;
    min-width: 960px;
}

.change-btn {
    width: 70px;
    position: relative;
    float: right;
}

.factory-show .content {
    width: 960px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}

.factory-show .swiper-container {
    overflow: hidden;
    height: 190px;
}

.factory-show .swiper-slide {
    height: 240px;
    position: relative;
}

.factory-show .swiper-slide img {
    max-width: 100%;
    opacity: 0.7;
    -webkit-transition: all linear 300ms;
    transition: all linear 300ms;
}

.factory-show .swiper-slide a:hover img {
    opacity: 1;
}

.factory-show .arrow-left {
    background: url(../images/back-left.png) no-repeat left center;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 50px;
    z-index: 15;
}

.factory-show .arrow-right {
    background: url(../images/back-right.png) no-repeat right center;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 50px;
    z-index: 15;
}
.factory-show .arrow-left:hover{
    background: url(../images/backed-left.png) no-repeat left center;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 50px;
    z-index: 15;
}

.factory-show .arrow-right:hover{
    background: url(../images/backed-right.png) no-repeat right center;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 50px;
    z-index: 15;
}

/*privacy-policy页面*/
.privacy-policy {
    margin-top: 60px;
}

.privacy-policy .policy-title {
    font-weight: bold;
    margin-bottom: 50px;
}

.privacy-policy .policy-item {
    border-top: 1px dashed #2e2525;
    padding: 45px 0;
}

.privacy-policy .policy-item .item-title {
    font-size: 18px;
    font-weight: bold;
}

.privacy-policy .policy-item .policy-text {
    margin-top: 30px;
}

.privacy-policy .policy-item .policy-text > p {
    line-height: 25px;
}

.privacy-policy .policy-item .policy-text > p > span {
    font-weight: bold;
    margin-right: 5px;
}

.privacy-policy .policy-item .to-users {
    margin-bottom: 30px;
    line-height: 25px;
}

/*Order Guide页面*/
.how-order {
    margin-top: 10px;
}

.how-order .how-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.how-order .sub-menus {
    margin-top: 40px;
    height: 82px;
}

.how-order .sub-menus .menus-item {
    width: 319px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #f7f8f8;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    float: left;
    border-right: 1px solid #ffffff;
    cursor: pointer;
}

/*选中状态下的*/
.how-order .sub-menus .active-tab {
    border-bottom: 2px solid #b21f1f;
    background-color: #ffffff;
}

.how-order .flow-chart-box {
    background: url("../images/flow-chart.png") no-repeat center;
    height: 700px;
    width: 960px;
    cursor: pointer;
}

.how-order .step-box {
    border-top: 1px dashed #2e2525;
    padding-top: 30px;
    cursor: pointer;
}

.how-order .step-box .step-title {
    font-size: 18px;
    font-weight: bold;
}

.how-order .step-box p {
    margin-top: 26px;
    line-height: 20px;
}

.how-order .step-box .registered-img {
    height: 545px;
    width: 100%;
    background: url("../images/registered-img.png") no-repeat center;
}

.how-order .step-box .step2-box {
    background: url("../images/step2-bg.png") no-repeat center;
    height: 600px;
    width: 100%;
}

.how-order .step-box .step3-box {
    background: url("../images/step3.png") no-repeat center;
    height: 460px;
    width: 100%;
}

.how-order .step-box .step4-box {
    background: url("../images/step4.png") no-repeat center;
    height: 620px;
    width: 100%;
}

.how-order .step-box .step5-box {
    background: url("../images/step5.png") no-repeat center;
    height: 290px;
    width: 100%;
}

.how-order .step-box .step51-box {
    background: url("../images/step5-1.png") no-repeat center;
    height: 1290px;
    width: 100%;
}

.how-order .step-box .step6-box {
    background: url("../images/step6.png") no-repeat center;
    height: 460px;
    width: 100%;
}

/*Shipping method guide页面*/
.shipping-method-box .shipping-method-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    height: 100px;
}

.shipping-method-box .method-item {
    border-top: 1px dashed #2e2525;
    padding: 40px 0;
    min-height: 200px;
    box-sizing: border-box;
}

.shipping-method-box .method-item > h4 {
    font-size: 18px;
}

.shipping-method-box p {
    line-height: 20px;
    margin-top: 15px;
}

.shipping-method-box .dhl-box {
    background: url("../images/dhl-bg.png") no-repeat 90% center;
}

.shipping-method-box .ups-box {
    background: url("../images/ups-bg.png") no-repeat 88% center;
}

.shipping-method-box .tnt-box {
    background: url("../images/tnt-bg.png") no-repeat 90% center;
}

.shipping-method-box .ems-box {
    background: url("../images/ems-bg.png") no-repeat 90% center;
}

.shipping-method-box .fedex-box {
    background: url("../images/fedex-bg.png") no-repeat 90% center;
}

.shipping-method-box .post-box {
    background: url("../images/post-bg.png") no-repeat 90% center;
}

.shipping-method-box .air-sea-box {
    background: url("../images/air-sea-bg.png") no-repeat 90% center;
}

.shipping-method-box .prompt-order {
    margin-top: 110px;
    border: 1px solid #877070;
    line-height: 20px;
    color: #877070;
    border-radius: 5px;
    padding: 40px;
    position: relative;
}

.shipping-method-box .prompt-order .bg-person {
    position: absolute;
    top: -30px;
    left: -10px;
}

/*Quality Gurrantee页面*/
.quality-gurrantee-box {

}

.quality-gurrantee-box .guarantee-box {
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid #efefef;
    color: #2e2525;
    background-color: #f7f8f8;
    line-height: 20px;
}

.quality-gurrantee-box .guarantee-box .signature-box {
    font-weight: bold;
    height: 40px;
    margin-top: 50px;
    background: url(../images/signature.png) no-repeat 96% center;
    text-align: right;
    padding-right: 180px;
    padding-top: 12px;
    box-sizing: border-box;
}

.quality-gurrantee-box .supplier-box {
    margin-top: 85px;
}

.quality-gurrantee-box .supplier-box > h4 {
    font-size: 18px;
}

.quality-gurrantee-box .supplier-box p {
    margin-top: 35px;
    line-height: 20px;
}

.quality-gurrantee-box .guarantee-item {
    margin-top: 50px;
    border-top: 1px dashed #2e2525;
    padding-top: 40px;
}

.quality-gurrantee-box .guarantee-item > h4 {
    font-size: 18px;
}

.quality-gurrantee-box .guarantee-item p {
    margin-top: 25px;
    line-height: 20px;
}

/*PCBGOGO Delivery页面*/
.delivery-box .delivery-title {
    margin: 10px 0 40px 0;
}

.delivery-box .delivery-title > h4 {
    font-size: 18px;
}

.delivery-box .delivery-title p {
    margin-top: 30px;
    line-height: 20px;
}

.delivery-box .delivery-item {
    padding: 50px 0;
    border-top: 1px dashed #2e2525;
}

.delivery-box .delivery-item > h4 {
    font-size: 18px;
}

.delivery-box .delivery-item p {
    margin-top: 30px;
    line-height: 20px;
}

.delivery-box .delivery-item .item-nums {
    margin-top: 50px;
}
.delivery-box .delivery-item .item-nums>h4{
    font-size: 18px;
}
.delivery-box .delivery-item .item-nums .by-dhl{
    margin-top: 30px;
    padding: 30px ;
    background-color: #f7f8f8;
    border: 1px solid #efefef;
    line-height: 25px;
    font-size: 12px;
}
