/* 主体*/
.order-main {
    width: 100%;
    height: 100%;
}

.order-main::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧*/
.order-main .box-r {
    background-color: #fff;
    padding-left: 276px;
    width: 1080px;
}

.box-r .r-title {
    padding-top: 55px;
    font-size: 24px;
    color: #2e2525;
    font-weight: bold;
}

/*返回顶部*/
.order-main .go-btn {
    position: fixed;
    right: 10px;
    top: 700px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*修改密码盒子*/
.box-r .change-box {
    margin-top: 30px;
    border-top: 1px solid #efefef;
    padding-top: 100px;
    min-height: 600px;
}

.box-r .change-box .change-l {
    width: 360px;
    float: left;
    height: 430px;
    border-right: 1px solid #efefef;
    text-align: center;
    color: #fdbb2d;
    font-size: 12px;
}

.box-r .change-box .change-r {
    width: 640px;
    float: right;
    text-align: left;
}

.box-r .change-box .change-r .change-item {
    height: 40px;
    margin-bottom: 17px;
}

.box-r .change-box .change-r .change-item i {
    font-size: 12px;
    width: 110px;
    text-align: left;
    font-weight: bold;
}

.box-r .change-box .change-r .change-item input {
    width: 360px;
    height: 38px;
    border: 1px solid #efefef;
    line-height: 38px;
    text-indent: 15px;
}

.update-btn {
    cursor: pointer;
    background-color: #b21f1f;
    color: #ffffff;
    width: 240px;
    height: 40px;
    border: 1px solid #b21f1f;
    border-radius: 2px;
    text-align: center;
    margin-left: 115px;
    line-height: 30px;
    margin-top: 30px;
    font-size: 14px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
}

.update-btn:hover {
    background-color: #e22222;
}

.copy-right-box {
    margin-top: 80px;
}

/* <!--遮罩层弹出-->*/
.open-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*IE遮罩兼容*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    display: none;
}

.order-main .open-mask .confirm-box {
    width: 640px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -320px;
    z-index: 99999;
    opacity: 1;
}

.order-main .open-mask .confirm-box p {
    text-align: center;
    margin-top: 50px;
}

.order-main .open-mask .confirm-box .confirm-btn {
    width: 100%;
    margin-top: 35px;
    height: 40px;
    text-align: center;
}

.order-main .open-mask .confirm-box .confirm-btn .yes-btn, .no-btn {
    width: 140px;
    height: 40px;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    margin-right: 25px;
}

.order-main .open-mask .confirm-box .confirm-btn .yes-btn {
    background-color: #271e1e;
}

.order-main .open-mask .confirm-box .confirm-btn .no-btn {
    background-color: #685858;
}
