/*主体样式*/
.main-box {
    margin-top: 50px;
    height: auto;
}

.main-box .main-l {
    width: 960px;
    display: inline-block;
    float: left;
    height: auto;
}

/*轮播图*/
.banner-box {
    width: 850px;
    height: 495px;
    overflow: hidden;
    position: relative;
}

.banner-box .img-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 850px;
    height: 495px;
}

.banner-box .img-item > a {
    width: 100%;
    height: 100%;
}

.banner-box .img-item > a > img {
    width: 100%;
    height: 100%;
}

/*动态列表*/
.dynamic-title{
    position: absolute;
    top:40px;
    left: 38px;
    z-index: 101;
    width: 650px;
    overflow: hidden;
    height: 116px;
}
.dynamic-list-title {
    padding-bottom: 20px;
    width: 850px;
}

.dynamic-list-title > p {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    width: 620px;
    height: 56px;
    overflow: hidden;
}
.dynamic-title .dynamic-ul{
    color: #ffffff;
    padding-top: 0;
    margin-top: 20px;
    border-top: none;
}
.dynamic-ul {
    padding-top: 20px;
    height: 20px;
    border-top: 1px solid #efefef;
    color: #727171;
}

.dynamic-ul > li {
    float: left;
    margin-right: 15px;
    font-size: 12px;
}

.dynamic-ul>li>span{
    font-size: 20px;
    vertical-align: sub;
    line-height: 16px;
    color: #7a7979;
}
.dynamic-ul>li .icon-wodepinglun{
    line-height: 18px;
    font-size: 16px;
}



.dynamic-box {
    margin: 35px 0 50px 0;
}

/*轮播图遮罩开始*/
.box-mask {
    position: relative;
    left: 0;
    top: 325px;
    z-index: 9;
}
.box-mask .mask{
    width: 850px;
    height: 170px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: #271e1e;
}
/*按钮索引*/
.index-btn{
    position: absolute;
    bottom: 30px;
    right: 25px;
    z-index: 10;
}
.index-btn>li{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.index-btn>.left-index{
    margin-right: 15px;
    background: url("../images/forum/left.png") no-repeat center rgb(55, 70, 76);
}
.index-btn>.left-index:hover{
    background: url("../images/forum/lefted.png") no-repeat center rgba(39, 30, 30, 0.22);
}
.index-btn>.right-index{
    background: url("../images/forum/right.png") no-repeat center rgb(55, 70, 76);
}
.index-btn>.right-index:hover{
    background: url("../images/forum/righted.png") no-repeat center rgba(39, 30, 30, 0.22);
}
/*轮播图遮罩结束*/

/*具体列表项*/
.dynamic-item {
    width: 850px;
    min-height: 190px;
    padding: 30px 0;
    border-bottom: 1px solid #efefef;
}
.dynamic-box .dynamic-item:first-child{
   border-top: 1px solid #efefef;
}
.dynamic-item .titles{
    font-size: 24px;
    font-weight: bold;
    color: #2e2525;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 30px;
    width: 850px;
}
.item-l {
    display: inline-block;
    width: 320px;
    height: 190px;
    float: left;
}

.item-l > img {
    width: 100%;
    height: 100%;
}

.item-r {
    width: 530px;
    display: inline-block;
    float: left;
    height: 190px;
    padding-left: 38px;
    box-sizing: border-box;
}

.item-r .titles-text {
    font-size: 14px;
    color: #727171;
    line-height: 21px;
    max-height: 150px;
    min-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*翻页*/
#pages {
    margin-bottom: 40px;
    height: 36px;
}

#pages a#pageprev, #pages a#pagenext {
    background: #c8c8c8;
}

#pages a {
    width: 32px;
    height: 18px;
    padding: 7px 0;
    border-radius: 3px;
    display: inline-block;
    color: #666;
    line-height: 18px;
    text-align: center;
    font-family: Arial;
    margin-right: 5px;
    transition: background-color 0.2s ease-out;
    vertical-align: middle;
}

#pages a#pageactive {
    background: #e6e6e6;
    color: #666;
}

#pages a:hover {
    background: #e6e6e6;
    color: #666;
}

#pages span {
    width: 11px;
    height: 18px;
}

.yy-ljt {
    background-position: -139px 0;
}

.yy-icon {
    background: url("../images/icon.png") no-repeat;
    display: inline-block;
    overflow: hidden;
}

.yy-rjt {
    background-position: -119px 0;
}

.yy-icon {
    background: url("../images/icon.png") no-repeat;
    display: inline-block;
    overflow: hidden;
}

/*主体右侧*/
.main-r {
    float: left;
    width: 319px;
    height: auto;
}

/*返回顶部*/
.go-btn {
    position: fixed;
    right: 10px;
    top: 450px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.user-wave {
    font-size: 12px;
    color: #2e2525;
    margin: 10px 0 5px 0;
}

.right-ul {
    width: 319px;
    height: auto;
    padding-left: 25px;
    box-sizing: border-box;
}

/*热门标签*/
.right-ul .hot-label {
    position: relative;
    padding: 30px 20px 15px 20px;
    box-sizing: border-box;
    border: 1px solid #efefef;
    border-bottom: none;
}

.right-ul .hot-label > h3 {
    font-size: 18px;
}

.right-ul .hot-label .hot-text {
    margin-top: 20px;
}

.right-ul .hot-label .hot-text > a {
    padding: 0 15px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #cccccc;
    color: #271e1f;
    margin: 0 0px 15px 0;
    background-color: #ffffff;
}

.right-ul .hot-label .hot-text > a:hover {
    background-color: #dcdddd;
}

.right-ul .hot-label .hot-flag {
    position: absolute;
    top: 0;
    right: 17px;
}

/*下单表单*/
.quote-box {
    height: 410px;
    border: 1px solid #efefef;
    padding: 30px 0 0 0;
    box-sizing: border-box;
    text-align: center;
}

.pcb-text {
    font-weight: bold;
    margin-bottom: 30px;
    padding-left: 20px;
    text-align: left;
    font-size: 18px;
}

.quotes {
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    border: 1px solid #efefef;
    margin-bottom: 10px;
}

.down-box {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.down-box > select {
    width: 250px;
}

.down-val {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-indent: 15px;
    background: url("../images/downed-pointer.png") no-repeat 90% center;
    border: 1px solid #efefef;
}

.down-ul {
    position: absolute;
    top: 41px;
    left: 0;
    width: 200px;
    background-color: #ffffff;
    height: 190px;
    overflow-y: scroll;
    text-align: left;
    border: 1px solid #efefef;
    display: none;
    z-index: 99;
}

.down-ul li {
    width: 100%;
    height: 38px;
    line-height: 38px;
    text-indent: 15px;
    background-color: #ffffff;
}

.down-ul li:hover {
    background-color: #b0fcff;
}

.quote-btn {
    width: 250px;
    height: 40px;
    background-color: #b21f1f;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    transition: all 1s;
}

.quote-btn:hover {
    background-color: #ee2323;
}

/*翻页*/
#pages {
    margin-bottom: 40px;
    height: 36px;
}

#pages a#pageprev, #pages a#pagenext {
    background: #c8c8c8;
}

#pages a {
    width: 32px;
    height: 18px;
    padding: 7px 0;
    border-radius: 3px;
    display: inline-block;
    color: #666;
    line-height: 18px;
    text-align: center;
    font-family: Arial;
    margin-right: 5px;
    transition: background-color 0.2s ease-out;
    vertical-align: middle;
}

#pages a#pageactive {
    background: #e6e6e6;
    color: #666;
}

#pages a:hover {
    background: #e6e6e6;
    color: #666;
}

#pages span {
    width: 11px;
    height: 18px;
}

.yy-ljt {
    background-position: -139px 0;
}

.yy-icon {
    background: url("../images/icon.png") no-repeat ;
    display: inline-block;
    overflow: hidden;
}

.yy-rjt {
    background-position: -119px 0;
}

.yy-icon {
    background: url("../images/icon.png") no-repeat;
    display: inline-block;
    overflow: hidden;
}

/*返回顶部*/
.go-btn {
    position: fixed;
    right: 10px;
    top: 650px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/*底部列表*/
.footer {
    height: 120px;
    padding-top: 30px;
    background-color: #271e1e;
    width: 100%;
    min-width: 1280px;
}

.footer-item .footer-item-ul {
    padding: 30px 0;
    color: #826c6c;
    font-size: 12px;
}

.footer-item .footer-item-ul > li {
    float: left;
    border-right: 1px dotted #877070;
    padding: 0 20px;
}

.footer-item .footer-item-ul .ban-quan {
    padding-left: 0;
}

.footer-item .footer-item-ul .footer-last-item {
    border-right: none;
    box-sizing: border-box;
}

.min-logo {
    margin-left: 100px;
}

.min-logo img {
    vertical-align: middle;
}

.footer-item .footer-item-icon {
    padding-top: 35px;
    padding-bottom: 108px;
}

.footer-item .footer-item-icon > li {
    float: left;
    margin-right: 1px;
}
