/*底部*/
.footer {
    background-color: #2e2525;
    width: 100%;
    min-width: 1280px;
}

.footer::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.footer .footer-title {
    width: 100%;
    height: 120px;
    min-width: 1200px;
    background-color: #271e1e;
}

.footer-title-ul > li {
    width: 25%;
    height: 120px;
    padding: 36px 0;
    float: left;
    box-sizing: border-box;
    font-size: 18px;
}

.footer-title-ul > li:first-child + li {
    padding-left: 20px;
    box-sizing: border-box;
}

.footer-title-ul > li:first-child + li + li {
    padding-left: 20px;
    box-sizing: border-box;
}

.footer-title-ul > li:first-child + li + li + li {
    padding-left: 50px;
    box-sizing: border-box;
}

.footer-title-ul > li dl {
    transition: all .3s;
    height: 54px;
    cursor: pointer;
}

.footer-title-ul > li dl:hover {
    transform: translateY(-8px);
}

.footer-title-ul > li dl dt {
    margin-right: 25px;
}
.footer-title-ul > li dl dt>span{
    font-size: 50px;
    line-height: 50px;
    color: #877070;
}
.footer-title-ul > li dl dd {
    color: #877070;
}

.footer-title-ul > li dl dt, dd {
    float: left;
    display: inline-block;
}

.links-type::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.links-title:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.links-title {
    width: 960px;
    height: 200px;
    padding-top: 40px;
    box-sizing: border-box;
}

.links-title > li {
    float: left;
    min-height: 156px;
}

.links-title > li:first-child {
    width: 228px;
}

.links-title > li:first-child + li {
    width: 250px;
    border-left: 1px solid #271e1e;
    padding-left: 20px;
    box-sizing: border-box;
}

.links-title > li:first-child + li + li {
    width: 250px;
    border-left: 1px solid #271e1e;
    padding-left: 20px;
    box-sizing: border-box;
}

.links-title > li:first-child + li + li + li {
    width: 228px;
    border-left: 1px solid #271e1e;
    padding-left: 20px;
    box-sizing: border-box;
}

.links-title > li > p {
    /*margin: 20px 0;*/
    margin-bottom: 20px;
    color: #fff;
}

.links-title .links-lists {
    line-height: 20px;
    font-size: 12px;
}

/*jp样式自定义*/
.links-title .links-lists .b13{
    display: none;
}
.links-title .links-lists .b22{
    display: none;
}
/*jp样式自定义*/
.links-title .links-lists > li > a {
    color: #826c6c;
}

.links-title .links-lists > li > a:hover {
    text-decoration: underline;
}

.footer-item-icon {
    /*margin-top: 29px;*/
    margin-top: 44px;
}

.footer-item-icon > li {
    display: inline-block;
    margin-right: 1px;
}

.footer-item-icon:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧表单*/
.send-from {
    width: 300px;
    height: auto;
    float: right;
    padding-top: 40px;
    box-sizing: border-box;
    padding-left: 50px;
}

.send-from > p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
}

.send-from input[type="text"] {
    height: 40px;
    width: 100%;
    color: #999;
    line-height: 40px;
    border-radius: 2px;
    text-indent: 15px;
    text-align: left;
    cursor: pointer;
    margin-bottom: 10px;
}

.send-from textarea {
    height: 70px;
    width: 100%;
    border-radius: 2px;
    color: #999;
    cursor: pointer;
    resize: none;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.send-from input[type="button"] {
    height: 40px;
    width: 100%;
    color: #fff;
    line-height: 40px;
    border-radius: 2px;
    text-indent: 15px;
    text-align: left;
    cursor: pointer;
    margin-top: 15px;
    background: url(../images/rightzx.png) 210px center no-repeat #b21f1f;

}

.send-from input[type="button"]:hover {
    background: url(../images/rightedzx.png) 210px center no-repeat #e22222;
}

/*右侧表单*/

/*底部表单*/
.footer-from {
    margin-top: 30px;
}

.footer-from::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.footer-item {
    border-top: 1px solid #362b2b;
    padding-bottom: 60px;
}

.footer-item .footer-item-ul {
    padding: 30px 0;
    color: #826c6c;
    font-size: 12px;
}

.footer-item .footer-item-ul > li {
    float: left;
    border-right: 1px dotted #877070;
    padding: 0 20px;
    cursor: default;
}
/*jp样式自定义*/
.footer-item .footer-item-ul > li:first-child+li{
    display: none;
}
/*jp样式自定义*/

.footer-item .footer-item-ul .ban-quan {
    padding-left: 0;
}

.footer-item .footer-item-ul .footer-last-item {
    border-right: none;
    box-sizing: border-box;
    padding-right: 0;
    display: inline-block;
    width: 290px;
    padding-left: 0;
    /*jp样式自定义*/
    float: right;
    /*jp样式自定义*/
}

:root .footer-item .footer-item-ul .footer-last-item {
    border-right: none;
    box-sizing: border-box;
    padding-right: 0;
    display: inline-block;
    width: 308px;
    /*jp样式自定义*/
    float: right;
    /*jp样式自定义*/
}

@-moz-document url-prefix() {
    .footer-item .footer-item-ul .footer-last-item {
        width: 290px !important;
    }
}

/*分享样式*/
.footer-item .footer-item-ul .footer-last-item .share-box {
    height: 30px;
    /*text-align: right;*/
    float: right;
}

.footer-item .footer-item-ul .footer-last-item .share-box > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 2px;
}

.footer-item .footer-item-ul .footer-last-item .share-box > a > img {
    width: 100%;
    height: 100%;
    transition: all .3s;
    transform: scale(1.1);
}

.footer-item .footer-item-ul .footer-last-item .share-box > a:hover img {
    transform: scale(1.3);
}
