/*表单*/
.slDiv {
    float: left;
    height: 57px;
    line-height: 57px;
    position: relative;
    color: #2e2525;
    cursor: pointer;
}

.slDiv .btnSelect1, .btnSelect2 {
    width: 140px;
    display: inline-block;
    text-indent: 25px;
    height: 57px;
    line-height: 57px;
    outline: none;
}

.slDiv .ulDiv {
    display: none;
    width: 240px;
    height: 150px;
    border: 1px solid #EEEEEE;
    border-radius: 1px;
    background: #FFF;
    margin-top: 8px;
    position: absolute;
    top: 50px;
    left: -66px;
    z-index: 100;
}

.slDiv .ulDiv {
    display: none;
}

.slDiv .ulDiv ul li {
    cursor: pointer;
    color: #2e2525;
    text-indent: 15px;
    height: 30px;
    line-height: 30px;
}

.slDivk {
    position: relative;
    height: 58px;
}

.slDivk i {
    position: absolute;
    top: 18px;
    right: 15px;
}

.slDivk .slDiv {
    position: absolute;
    background-color: #ccc;
    display: block;
}

.slDivk .ulDivThick {
    position: absolute;
    background: #fff;
    width: 240px;
    height: 150px;
    top: 58px;
    left: -1px;
    display: none;
    text-indent: 15px;
    cursor: pointer;
    color: #2e2525;
    border: 1px solid #EEEEEE;
}

.ulDivThick ul li {
    height: 30px;
    line-height: 30px;
}

.slDiv3, .slDiv4 {
    width: 160px;
    display: inline-block;
    color: #2e2525;
    height: 58px;
    box-sizing: border-box;
}

.btnSelect4 {
    width: 140px;
    height: 58px;
    line-height: 58px;
    outline: none;
    text-indent: 5px;
    overflow: hidden;
}

.ulDiv4 > ul > li {
    height: 30px;
    line-height: 30px;
    text-indent: 15px;
}

.ulDiv3, .ulDiv4 {
    position: absolute;
    top: 58px;
    left: -1px;
    background: #fff;
    width: 240px;
    display: none;
    border: 1px solid #EEEEEE;
}

.ulDiv3 > ul {
    height: 150px;
    overflow-y: scroll;
}

.ulDiv3 > ul > li {
    height: 30px;
    line-height: 30px;
    text-indent: 15px;
}

.slDiv4 ul li:hover {
    background: #cbebf6;
}

.ulDiv3 > ul > li:hover {
    background: #cbebf6;
}

.slDiv .ulDiv ul li:hover {
    background: #cbebf6;
}

.ulDivThick ul li:hover {
    background: #cbebf6;
}

/*banner轮播图*/
.banner-box {
    width: 100%;
    height: 500px;
    position: relative;
}

/*IE7兼容*/
.banner-picbox {
    position: absolute;
    left: 0;
    width: 100%;
}

/*IE7兼容*/
.change-btn .banner-left, .banner-right {
    display: inline-block;
    width: 40px;
    height: 90px;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: black;
    z-index: 999;
    cursor: pointer;
}

.change-btn .banner-left {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -45px;
    background: url("../images/banner-left.png") no-repeat center;
}

.change-btn .banner-left:hover {
    background: url("../images/banner-lefted.png") no-repeat center;
    opacity: .5;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
}

.change-btn .banner-right {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -45px;
    background: url("../images/banner-right.png") no-repeat center;

}

.change-btn .banner-right:hover {
    background: url("../images/banner-righted.png") no-repeat center;
    opacity: .5;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
}

.banner-picbox .banner-pic {
    width: 100%;
    min-width: 1280px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
    background: url("../images/loading.gif") no-repeat #ccc center;
}

/**/
.banner-pic a {
    display: inline-block;
    width: 100%;
    height: 500px;
    background-size: cover;
}

.banner1 {
    /*background: url("../images/banner1_jp.jpg") no-repeat center;*/
}

.banner2 {
    /*background: url("../images/banner2_jp.jpg") no-repeat center;*/
}

.banner3 {
    /*background: url("../images/banner3_jp.jpg") no-repeat center;*/
}

.banner4 {
    /*background: url("../images/banner4_jp.jpg") no-repeat center;*/
}

.banner5 {
    /*background: url("../images/banner5_jp.jpg") no-repeat center;*/
}

.banner6 {
    /*background: url("../images/active6-banner.jpg") no-repeat center;*/
}

.gif-banner {
    /*background: url("../images/banner2.gif") no-repeat center;*/
}

/**/
.advert {
    color: #fff;
}

.banner-num {
    position: absolute;
    left: 0;
    bottom: -480px;
}

.banner-num > li {
    width: 20px;
    height: 5px;
    margin-right: 5px;
    background-color: #ddd;
    float: left;
    cursor: pointer;
    position: relative;
    transition: all .3s;
}

.banner-num::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

.advert .change-bgc {
    transition: all .3s;
    width: 40px;
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #b21f1f;
}

/*导航表单*/
select {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 1px #000;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/downed-pointered.png") no-repeat scroll right center transparent;
    -ms-background-position-x: 96%;
    padding-right: 0;
    cursor: pointer;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}

option {
    width: 200px;
    color: #2e2525;
}

.boxed {
    font-size: 12px;
    font-weight: bold;
}

.form-box {
    width: 560px;
    height: 320px;
    position: absolute;
    left: 0;
    top: 80px;
    *top: 20px;
}

.form-title {
    width: 100%;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
}

.form-title li {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    cursor: pointer;
    color: #826c6c;
    background-color: #2e2525;
    position: relative;
}

.form-title li:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    height: 40px;
    border-left: 1px solid #483838;
}

.form-title li:first-child:after {
    display: none;
}

.form-title .selected-li {
    background-color: #f4f2f2;
    color: #2e2525;
}

/*第一个表单*/
.form1-box, .form2-box, .form3-box, .form4-box {
    width: 100%;
    height: 280px;
    display: block;
    padding: 50px 36px 0;
    box-sizing: border-box;
    background-color: #f4f2f2;
}

.form-box .boxed .kg span {
    display: inline-block;
    width: 50px;
    height: 57px;
    color: #999;
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
}

.form-box .boxed .kg input {
    float: left;
    margin-top: 10px;
    height: 35px;
    line-height: 35px;
    text-indent: 10px;
    width: 80px;
    margin-left: 20px;
    margin-right: 20px;
    border: none;
    outline: none;
}

/*类型条*/
.type {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.form-box .boxed .type .type-l > span {
    display: inline-block;
    width: 65px;
    height: 40px;
    color: #877070;
    text-align: center;
    box-sizing: border-box;
    float: left;
    padding-top: 5px;
}

.form-box .boxed .form2-box .type .type-l .text-height {
    line-height: 33px;
}

.type .type-l {
    width: 238px;
    height: 40px;
    float: left;
    position: relative;
    border-radius: 2px;
    background-color: #ffffff;
}

.type-r {
    float: right;
    width: 238px;
    height: 40px;
    background-color: #ffffff;
    color: #877070;
    position: relative;
    border-radius: 2px;
}

.type-r > .thic {
    float: left;
    text-indent: 15px;
    line-height: 58px;
}

.type-r .btnSelect2 {
    height: 57px;
    line-height: 57px;
    color: #2e2525;
    float: left;
}

.type-l .btnSelect3 {
    height: 58px;
    width: 140px;
    outline: none;
}

.form2-box .type .type-r .parts-q {
    display: inline-block;
    width: 80px;
    height: 40px;
    float: left;
    padding-left: 10px;
    padding-top: 3px;
    box-sizing: border-box;
}

.form2-box .type .type-l .parts-q {
    padding-top: 12px;
}

.select-type {
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: none;
    float: left;
    outline: 0;
    text-indent: 5px;
    color: #898989;
}

.prototype-from {
    height: auto;
    font-weight: bold;
    color: #2e2525;
}

.prototype-top {
    height: 40px;
}

.prototype-l {
    display: inline-block;
    width: 238px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 2px;
    box-sizing: border-box;
    *float: left;
}

.prototype-l label {
    color: #877070;
}

.prototype-length {
    display: inline-block;
    margin: 7px 0 0 10px;
    float: left;
    color: #877070;
}

.cheng-hao {
    float: left;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    color: #877070;
    font-size: 14px;
}

.prototype-width {
    display: inline-block;
    margin-top: 7px;
    float: left;
    color: #877070;
}

.get-input {
    width: 45px;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #898989;
    margin: 0 10px;
    outline: none;
    border: none;
}

.pcs-box {
    width: 150px;
    width: 155px \0;
    height: 40px;
    outline: none;
    border: none;
    margin-left: 18px;
    color: #898989;
}

.layers-box {
    width: 170px;
    width: 192px \0;
    height: 40px;
    line-height: 40px \0;
    outline: none;
    margin-left: 15px;
    margin-left: 0 \9;
    border: none;
    padding-left: 15px \9;
    color: #898989;
}

.thickness-box {
    width: 156px;
    height: 40px;
    outline: none;
    margin-left: 15px;
    border: none;
    color: #898989;
}

.prototype-bottom {
    height: 40px;
    margin-top: 15px;
}

.prototype-bottom .bottom-l {
    /*待定*/
    display: inline-block;
    width: 238px;
    float: left;
    background-color: #ffffff;
    padding-left: 10px;
    box-sizing: border-box;
    border-radius: 2px;
}

.form1 .btn-box {
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.form2 .btn-box {
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.form3 .btn-box {
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.form4 .btn-box {
    width: 100%;
    height: 50px;
    margin-top: 25px;
}

.lian-jie {
    float: right;
}

/*第二个表单*/
.form2-box {
    width: 100%;
    height: 280px;
    display: none;
}

/*第三个表单*/
.form3-box {
    width: 100%;
    height: 280px;
    display: none;
}

.stencil-top {
    height: 40px;
    color: #2e2525;
}

.stencil-l {
    width: 238px;
    height: 40px;
    display: inline-block;
    float: left;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #ffffff;
}

.stencil-text {
    display: inline-block;
    margin-top: 3px;
    float: left;
    color: #877070;
}

.stencil-l .frame-box {
    width: 75px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #898989;
    position: relative;
    display: inline-block;
    float: left;
    text-align: center;
    margin: 5px 0 0 7px;
    font-size: 12px;
    color: #877070;
    box-sizing: border-box;
    cursor: pointer;
}

.stencil-l .frame-box .singed {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.stencil-l .now-active {
    border: 1px solid #4c3a3a;
}

.stencil-l .now-active .singed {
    display: block;
}

.stencil-r {
    width: 238px;
    height: 40px;
    background-color: #ffffff;
    display: inline-block;
    float: left;
    margin-left: 12px;
    border-radius: 2px;
}

.quant-input {
    height: 40px;
    outline: none;
    border: none;
    margin-left: 5px;
    color: #898989;
}

.stencil-bottom {
    height: 40px;
    margin-top: 15px;
}

.size-text {
    display: inline-block;
    float: left;
    color: #877070;
    padding-top: 3px;
    box-sizing: border-box;
}

.size-input {
    outline: none;
    border: none;
    margin-left: 20px;
    height: 40px;
    width: 170px;
    color: #898989;
}

.side-text {
    display: inline-block;
    float: left;
    color: #877070;
    padding-top: 3px;
    box-sizing: border-box;
}

.side-input {
    outline: none;
    border: none;
    margin-left: 4px;
    height: 40px;
    line-height: 40px;
    width: 168px;
    color: #898989;
}

/*第四个表单开始*/
.form4-box {
    display: none;
}

.fpc-info {
    margin-left: 12px;
    float: right;
    padding-left: 13px;
}

.fpc-info > span {
    display: inline-block;
    width: 65px;
    height: 40px;
    color: #877070;
    text-align: center;
    box-sizing: border-box;
    float: left;
    padding-top: 10px;
}

.fpc-info > input {
    width: 140px;
    height: 40px;
    line-height: 40px;
    border: none;
    float: left;
    outline: 0;
    text-indent: 5px;
    color: #898989;
}

/*第四个表单结束*/

/*主体内容*/
.main {
    width: 100%;
    height: 100%;
}

/*服务开始*/
.guarantee-box > li {
    float: left;
    padding: 50px 0 0;
    cursor: pointer;
    height: 200px;
    box-sizing: border-box;
    width: 25%;
}

.guarantee-box > li:first-child + li + li {
    padding-left: 54px;
}

.guarantee-box > li:first-child + li + li + li {
    padding-left: 54px;
}

.guarantee-box > li > a {
    display: inline-block;
}

.guarantee-box > li > a > .iconfont {
    float: left;
    transition: all .5s;
    margin: 20px 17px 0 0;
    font-size: 60px;
    color: #b21f1f;
    line-height: 60px;
}

.guarantee-box > li:hover .iconfont {
    transform: translateY(-5px);
}

.guarantee-box > li:hover a > .guarantee-text h3 {
    color: #b21f1f;
}

.guarantee-box > li > a > .guarantee-text {
    float: left;

}

.guarantee-box > li > a > .guarantee-text > h3 {
    font-size: 18px;
    color: #2e2525;
}

.guarantee-box > li > a > .guarantee-text > p {
    font-size: 12px;
    color: #898989;
    width: 180px;
    line-height: 18px;
    margin-top: 10px;
}

.guarantee-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*服务结束*/

/*如何下单开始*/
.how-use {
    background-color: #f4f2f2;
    min-width: 1280px;
    padding-bottom: 40px;
}


/*如何下单结束*/
/*简介*/
.introduction-box {
    padding-top: 70px;
    color: #2e2525;
    text-align: center;
}

.introduction-box > h3 {
    font-size: 24px;
}

.introduction-box > p {
    font-size: 12px;
    margin-top: 10px;
    line-height: 20px;
}

.introduction-box > .see-more {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    background-color: #b21f1f;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    color: #ffffff;
    transition: all 1s;
    font-size: 14px;
}

.introduction-box > .see-more:hover {
    background-color: #ee2323;
}

/*简介*/
/*下单流程*/
.the-process {
    margin-top: 40px;
    background: url("../images/the-process.png") no-repeat #ffffff 85% center;
    width: 1280px;
    height: 114px;
}

.the-process h5 {
    font-size: 14px;
    padding: 30px 0 0 50px;
    width: 370px;
}

.the-process .quote-btn {
    display: block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #efefef;
    color: #b21f1f;
    float: left;
    margin: 10px 0 0 95px;
    transition: all .3s;
}

.the-process .quote-btn:hover {
    box-shadow: 0 0 6px #efefef;
}

/*下单流程*/
/*样板计价*/
.sample-pricing {
    margin-top: 20px;
}

.sample-pricing .item {
    float: left;
    width: 210px;
    height: 500px;
    background-color: #ffffff;
    margin-left: 5px;
    transition: all .3s;
}

.sample-pricing .item:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: 0 6px 10px 10px #f4f2f2;
}

.sample-pricing .item:hover .see-more {
    color: #ffffff;
    background-color: #b21f1f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
}

/*第一个特殊pcb样板*/
.sample-pricing .pcb-sample {
    margin-left: 0;
    width: 420px;
}

.sample-pricing .pcb-sample .item-left {
    float: left;
    width: 210px;
    height: 500px;
    position: relative;
}

.sample-pricing .pcb-sample .item-left:after {
    position: absolute;
    top: 0;
    right: 0;
    height: 500px;
    content: '';
    border: 1px solid #efefef;
}

.sample-pricing .pcb-sample .item-left .top {
    height: 260px;
    border-bottom: 1px solid #fafafa;
    background: url("../images/prototype-img.png") no-repeat #efefef center;
}

.sample-pricing .pcb-sample .item-left .top h4 {
    font-size: 14px;
    color: #b21f1f;
    padding: 180px 0 0 30px;
}

.sample-pricing .pcb-sample .item-left .top p {
    color: #826c6c;
    padding: 5px 0 0 30px;
}

.pcb-sample .item-left .center {
    margin: 30px 0 0 20px;
    height: 139px;
    overflow: hidden;
    font-size: 12px;
}

.pcb-sample .item-left .center .list {
    margin-bottom: 10px;
    color: #826c6c;
    line-height: 22px;
}

.pcb-sample .item-left .center .list em {
    vertical-align: top;
    font-style: normal;
}

.pcb-sample .item-left .center .list i {
    width: 170px;
}

/*价格*/
.pcb-sample .item-left .center .price-box {
    margin-top: 33px;
}

.pcb-sample .item-left .center .price-box span {
    display: inline-block;
    padding: 0 10px;
    border-radius: 10px;
    height: 20px;
    line-height: 23px;
    background-color: #f4f2f2;
    color: #826c6c;
    font-size: 14px;
}

.pcb-sample .item-left .center .price-box .price {
    font-size: 24px;
    color: #2e2525;
    background-color: #ffffff;
    vertical-align: bottom;
}

.sample-pricing .item .see-more {
    border-top: 1px solid #efefef;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-top: 29px;
    cursor: pointer;
    border-radius: 2px;
    transition: all .3s;
    font-size: 14px;
    color: #826c6c;
}

/*.sample-pricing .pcb-sample .item-left .see-more {*/
/*    margin-top: 20px;*/
/*}*/

.sample-pricing .pcb-sample .item-right {
    width: 210px;
    float: left;
}

.sample-pricing .pcb-sample .item-right .img-box {
    margin-top: 58px;
    text-align: center;
    overflow: hidden;
    height: 110px;
}

.sample-pricing .pcb-sample .item-right .specifications {
    padding: 18px 0 0 20px;
    font-size: 12px;
}

.sample-pricing .pcb-sample .item-right .specifications li {
    float: left;
    padding: 0 8px;
    height: 25px;
    line-height: 25px;
    background-color: #f4f2f2;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all .3s;
    margin: 0 5px 6px 0;
    min-width: 35px;
    text-align: center;
}

.sample-pricing .pcb-sample .item-right .specifications li:hover {
    border: 1px solid #b21f1f;
    cursor: pointer;
}

.sample-pricing .pcb-sample .item-right .img2-box {
    height: 110px;
    text-align: center;
    overflow: hidden;
    padding-top: 35px;
    border-top: 1px solid #efefef;
}

.sample-pricing .item .sample-pictures {
    text-align: center;
    width: 140px;
    height: 140px;
    background-color: #f4f2f2;
    border-radius: 100%;
    margin: 35px auto;
    overflow: hidden;
}

.sample-pricing .item .sample-pictures img {
    transition: all .3s;
}

.sample-pricing .item .sample-pictures:hover img {
    transform: scale(1.1);
}

.sample-pricing .item .text-box {
    border-bottom: 1px solid #efefef;
    height: 50px;
    padding-left: 30px;
}

.sample-pricing .item .text-box h5 {
    font-size: 14px;
    color: #b21f1f;

}

.sample-pricing .item .text-box span {
    color: #826c6c;
}

.sample-pricing .item .lists {
    margin: 30px 0 0 20px;
    height: 118px;
    overflow: hidden;
    font-size: 12px;
}

.sample-pricing .item .lists .list {
    margin-bottom: 10px;
    color: #826c6c;
    line-height: 18px;
}

.sample-pricing .item .lists .list em {
    vertical-align: top;
    font-style: normal;
}

.sample-pricing .item .lists .list i {
    width: 170px;
}

.sample-pricing .item .prices-box {
    padding-left: 25px;
}

.sample-pricing .item .prices-box span {
    display: inline-block;
    padding: 0 10px;
    border-radius: 10px;
    height: 20px;
    line-height: 23px;
    background-color: #f4f2f2;
    color: #826c6c;
}

.sample-pricing .item .prices-box .price {
    font-size: 24px;
    color: #2e2525;
    background-color: #ffffff;
    vertical-align: bottom;
}

/*样板计价*/

/*样板层级开始*/
.board-info {
    height: 400px;
}

.layer-info {
    float: left;
    width: 420px;
    height: 400px;
    border-right: 1px solid #dddd;
}

.layer-img-box {
    height: 295px;
}

.layer-img-box .img-item {
    width: 100%;
    height: 295px;
    text-align: center;
}

.layer-img-box .img-item > a {
    text-align: center;
    font-size: 14px;
    color: #b21f1f;
    height: 20px;
    padding-right: 25px;
    background: url(../images/link-point.png) no-repeat right 41%;
    margin-top: 29px;
    vertical-align: middle;
}

.layer-img-box .img-item:first-child {
    background: url(../images/two-layer_jp.png) no-repeat center;
}

.layer-img-box .img-item:first-child + .img-item {
    background: url(../images/four-layer_jp.png) no-repeat center;
    display: none;
}

.layer-img-box .img-item:first-child + .img-item + .img-item {
    background: url(../images/six-layer_jp.png) no-repeat center;
    display: none;
}

.layer-img-box .img-item:first-child + .img-item + .img-item + .img-item {
    background: url(../images/eight-layer_jp.png) no-repeat center;
    display: none;
}

/*标题*/
.layer-info .layer-title {
    width: 400px;
    height: 60px;
    background-color: #f4f2f2;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px #ddd;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
}

.layer-info .layer-title > li {
    height: 43px;
    width: 92px;
    border-radius: 23px;
    padding-top: 11px;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
    margin: 2px 4px 0 0;
    text-align: left;
    padding-left: 32px;
}

.layer-info .layer-title > li:hover {
    background-color: #cb2323;
    color: #ffffff;
    box-shadow: 0 1px 2px #c5c2c3;
}

.layer-info .layer-title .active-flag {
    background-color: #cb2323;
    color: #ffffff;
    box-shadow: 0 1px 2px #c5c2c3;
}

.user-trade {
    float: right;
    height: 400px;
    width: 859px;
    background-color: #ffffff;
    position: relative;
}

.user-trade .number-box {
    background: url("../images/latest-trade.png");
    width: 521px;
    height: 400px;
    padding: 110px 0 0 120px;
    box-sizing: border-box;
}

.user-trade .number-box > p {
    font-size: 24px;
    color: #2e2525;
    width: 200px;
    text-align: center;
}

.latest-box {
    font-size: 14px;
    color: #2e2525;
    margin-top: 15px;
    width: 210px;
}

.latest-box .move-num {
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    overflow: hidden;
    width: 85px;
    display: inline-block;
    margin-left: 5px;
    color: #b21f1f;
}

.latest-box .move-num .digital {
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.latest-box .move-num .digital > span {
    display: block;
    width: 10px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.number-box .flag-text {
    width: 200px;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    margin-top: 20px;
    text-shadow: 0 0 2px #000000;
}

.number-box .check-order {
    width: 200px;
    line-height: 40px;
    height: 40px;
    background-color: #b21f1f;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    color: #ffffff;
    transition: all 1s;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    text-shadow: 0 0 2px #000000;
}

.number-box .check-order:hover {
    background-color: #ee2323;
}

/*样板层级结束*/

.user-trade .boxr {
    float: right;
    position: absolute;
    top: 38px;
    right: 0;
    *overflow: hidden;
}

.boxr .boxr-ul {
    width: 425px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px 0 20px 24px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px #efefef;
}

.boxr .boxr-ul:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.boxr .boxr-ul .progress {
    border-right: none;
}

.boxr .boxr-ul > li {
    float: left;
    padding: 0 37px 0 18px;
    text-align: center;
    border-right: 1px solid #2e2525;
    color: #2e2525;
    font-size: 14px;
    font-weight: bold;
}

.boxr .boxr-content {
    width: 422px;
    height: 260px;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 2px 3px #ddd;
    margin: 3px 0 0 1px;
    border: 1px solid #ddd \9;
}

.process-box {
    position: relative;
    margin-left: 10px;
    display: inline-block;
    color: #fdbb2d;
    width: 95px;
}

.boxr-content .country-price > li {
    background-color: #ffffff;
    height: 48px;
    line-height: 38px;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
    margin-bottom: 1px;
    border-bottom: 1px #efefef dashed;
}

.boxr-content .country-price > li .process {
    display: inline-block;
    width: 60px;
    height: 5px;
    background-color: #2e2525;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    left: 40px;
}

.country-gq {
    padding-left: 10px;
    width: 100px;
}

.country-time {
    padding: 0 0 0 20px;
    min-width: 35px;
    display: inline-block;
    width: 65px;
    box-sizing: border-box;
}

.money {
    padding-left: 10px;
    width: 95px;
    display: inline-block;
    color: #b21f1f;
    text-align: center;
}

.boxr-content .country-price > li .process-box .process-color {
    display: inline-block;
    width: 10px;
    height: 5px;
    background-color: #fdbb2d;
    border-radius: 15px;
    position: absolute;
    top: 15px;
    left: 40px;
}

/*转孔车间*/
.turn-hole {
    background: url("../images/turn-hole.jpg") no-repeat center;
    width: 100%;
    min-width: 1280px;
    height: 400px;
    position: relative;
    color: #ffffff;
}

.turn-hole .turn-content:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.turn-content .choose-us {
    width: 400px;
    float: left;
    margin-top: 75px;
}

.turn-content .choose-us h3 {
    font-size: 24px;
    color: #b21f1f;
}

.turn-content .choose-us ul {
    margin-top: 40px;
}

.turn-content .choose-us ul > li {
    line-height: 19px;
    background: url("../images/check.png") no-repeat left center;
    padding-left: 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 12px;
}

/*视频盒子*/
.video-box {
    width: 860px;
    float: right;
}

.video-box .video-title {
    font-size: 24px;
    text-align: center;
    margin-top: 35px;
}

.video-item {
    height: 302px;
    margin-top: 29px;
    float: right;
}

.video-item .open-video {
    cursor: pointer;
    background: url("../images/video-play.png") no-repeat center;
    background-size: cover;
    height: 302px;
    width: 408px;
    line-height: 120px;
    text-align: center;
    float: left;
    overflow: hidden;
}

.play-img {
    margin-top: 115px;
    transition: all 1s;
}

.video-item .open-video:hover .play-img {
    transform: rotate(360deg);
}

/*弹出视频盒子*/
.file-mask {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .5;
    -moz-opacity: .5;
    filter: Alpha(opacity=50);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.video-file {
    width: 600px;
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -190px;
    z-index: 999999;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 21px;
    line-height: 23px;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
    transition: all 1s;
}

.pop-window {
    display: none;
}

/*工厂随机图片切换开始*/
.factory-box {
    float: right;
    height: 302px;
    width: 405px;
}

.shutter {
    overflow: hidden;
    width: 405px;
    height: 307px;
    position: relative;
}

.shutter-img {
    z-index: 1;
}

.shutter-img,
.shutter-img a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.shutter-img a > img {
    width: 100%;
    height: 100%;
}

.shutter-img .created {
    overflow: hidden;
    position: absolute;
    z-index: 20;
}

.shutter-btn li {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    right: 0;
    cursor: pointer;
    transition: all .3s;
    color: #f4f2f2;
}

.shutter-btn li.prev {
    right: 0;
    background: url("../images/pre.png") no-repeat center #ffffff;
}

.shutter-btn li.next {
    right: 40px;
    background: url("../images/next.png") no-repeat center #ffffff;
}

.shutter-btn li:hover {
    background-color: #271e1f;
    color: #ffffff;
}

/*工厂随机图片切换结束*/

/*更多信息开始*/
.for-more {

}

.for-more .choose-box {
    height: 250px;
    background-color: #f4f2f2;
}

.for-more .choose-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.for-more .choose-box > li {
    width: 426px;
    float: left;
    height: 250px;
    position: relative;
}

.choose-box > li:first-child {
    background: url("../images/broker.png") no-repeat 77% 20%;
}

.choose-box > li .choose-text {
    font-size: 18px;
    color: #2e2525;
    margin: 130px 0 0 55px;
}

/*透明标志*/
.choose-box > li > .transparent-flag {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../images/transparent-layer.png") no-repeat;
    z-index: 1;
    width: 225px;
    height: 251px;
}

.choose-box > li > p {
    background: url("../images/indicators.png") no-repeat right center;
    margin: 15px 0 0 60px;
    width: 88px;
    height: 20px;
}

.choose-box > li > p > a {
    color: #b21f1f;
    font-size: 14px;
    transition: all .5s;
    position: relative;
    z-index: 3;
}

.choose-box > li > p > a:hover {
    text-decoration: underline;
}

.choose-box > li:first-child + li {
    background: url("../images/one-stop.png") no-repeat 77% 20%;
}

.choose-box > li:first-child + li + li {
    background: url("../images/better-quality.png") no-repeat 77% 20%;
}

/*案例*/
.for-more .case-box {
    background-color: #ffffff;
    padding: 50px 0;
}

.case-box > li {
    display: inline-block;
    width: 424px;
}

.case-box > li .case-img {
    display: inline-block;
    overflow: hidden;
    width: 160px;
    height: 86px;
    margin-right: 15px;
}

.case-box > li .case-img > img {
    width: 100%;
    height: 100%;
}

.case-box > li .case-img img {
    transition: all .5s;
}

.case-box > li:hover img {
    transform: scale(1.1);
}

.case-box > li .case-text {
    display: inline-block;
    float: right;
}

.case-box > li .case-text > p {
    font-size: 14px;
    color: #271e1f;
    margin-bottom: 10px;
    width: 240px;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}

.case-box > li:hover .case-text > p {
    color: #b21f1f;
}

.case-box > li .case-text > span {
    font-size: 11px;
    color: #727171;
}

/*更多信息结束*/

/*论坛信息*/


.forum-user {
    background: url("../images/forum-user-bg.png") no-repeat center;
    width: 100%;
    min-height: 550px;
    min-width: 1280px;
}

.forum-user .forum-title {
    height: 110px;
    width: 1280px;
    margin: 0 auto;

}

.forum-user .forum-title h3 {
    float: left;
    font-size: 24px;
    margin: 35px 0 35px 25px;
}

.forum-user .forum-title .score-box {
    float: left;
    margin-left: 10px;
    height: 26px;
    line-height: 26px;
    background-color: #f4f2f2;
    padding: 0 10px;
    border-radius: 20px;
    margin-top: 35px;
}

.forum-user .forum-title .score-box em {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}

.forum-user .forum-title .score-box a {
    text-decoration: underline;
    color: #b21f1f;
}

.user-content {
    margin: 0 auto;
    position: relative;
    width: 1840px;
}

.user-content:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.angle-flag {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/the-angle.png") no-repeat center;
    width: 17px;
    height: 17px;
}

.forum-user .lists {
    float: left;
    margin-left: 20px;

}

.forum-user .lists:first-child {
    margin-left: 0;
}

.forum-user .lists > a {
    transition: all .3s;
}

.forum-user .lists:hover > a {
    transform: translateY(-5px);
}

.user-content .user-list {
    width: 290px;
    height: 205px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    cursor: pointer;
    border-bottom: 1px solid #efefef;
}

.user-content .user-list .list-img {
    width: 250px;
    height: 148px;
}

.user-content .user-list .list-img img {
    width: 100%;
    height: 100%;
}

.user-content .user-list .the-star {
    padding: 9px 0;
}

.user-list .the-star .star-box {
    display: inline-block;
}

.user-list .the-star .star-box > span {
    color: #fdbc00;
}

.leave-message {
    float: right;
    margin-top: 2px;
}

.leave-message > li {
    float: left;
    margin-right: 20px;
    color: #271e1e;
}

.leave-message > li > span {
    font-size: 22px;
    vertical-align: sub;
    line-height: 22px;
    color: #7a7979;
}

.leave-message > li .icon-wodepinglun {
    line-height: 24px;
    font-size: 16px;
}

.arrow-box {
    background: url("../images/arrow.png") no-repeat center;
    width: 290px;
    height: 87px;
    text-align: center;
}

.arrow-box > p {
    padding-top: 20px;
    height: 55px;
    overflow: hidden;
    line-height: 18px;
    color: #271e1e;
    width: 250px;
    margin: 0 auto;
    box-sizing: border-box;
}

/*个人头像*/
.person-image {
    width: 290px;
}

.person-image .header-box {
    width: 90px;
    height: 90px;
    margin: 25px auto 0;
    text-align: center;
}

.person-image .header-box .header-pic {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 2px;
    overflow: hidden;
}

.person-image .header-box .header-pic > img {
    width: 100%;
    height: 100%;
}

.person-image .header-box p {
    margin-top: 5px;
    color: #271e1e;
}

/*广告*/
.guang-gao {
    width: 290px;
    background: url(../images/forum/ad.png) no-repeat center;
    position: relative;
    cursor: pointer;
    height: 380px;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .3s;
}

.forum-user .guang-gao:hover {
    transform: translateY(-10px);
}

.forum-user .guang-gao:hover > a {
    transform: none;
}

.guang-gao p {
    font-size: 22px;
    font-weight: bold;
    color: #271e1e;
}

.guang-gao p > span {
    color: #f22828;
}

.guang-gao .release-btn {
    display: inline-block;
    width: 225px;
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background-color: #b11f20;
    font-size: 18px;
    margin-top: 165px;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 2px 3px 0 #271e1e47;
    transition: all 1s;
}

.guang-gao .release-btn:hover {
    background-color: #ee2323;
}

@media screen and (max-width: 1680px) {
    .forum-user .lists:first-child {
        margin-left: 0;
        display: none;
    }

    .forum-user .last-lists {
        display: none;
    }

    .user-content {
        margin: 0 auto;
        position: relative;
        width: 1272px;
    }
}
