.the-top {
    background-color: #ffffff;
}

/*会员中心按钮*/
.m-btn {
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    text-align: center;
    background-color: #b21f1f;
    color: #ffffff;
    float: right;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    transition: all 1s;
}

.m-btn:hover {
    background-color: #ee2323;
}

.top-nav {
    height: 80px;
    background-color: #2e2525;
    width: 100%;
    min-width: 1400px;
}

/*左侧logo*/
.top-nav .nav-l {
    width: 240px;
    line-height: 80px;
    text-align: center;
    background-color: #2a2222;
    float: left;
}

.top-nav .nav-l img {
    vertical-align: middle;
}

.top-nav .nav-r {
    float: right;
    height: 80px;
    margin-right: 50px;
}

.top-nav .shopping-box {
    float: left;
    height: 60px;
    padding-top: 15px;
    box-sizing: border-box;
}

.shopping-box > ul > li {
    padding: 0 20px;
    float: left;
    position: relative;
}

.shopping-box .car-box .car-nums {
    /*display: none;*/
}

.shopping-box > ul .active {
    /*display: none;*/
}

.shopping-box > ul > li .point {
    width: 10px;
    height: 10px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    background-color: #b21f1f;
    position: absolute;
    color: #fff;
    top: 15px;
    right: 15px;
    font-size: 12px;
}

.shopping-box > ul > li .round {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    background-color: #b21f1f;
    position: absolute;
    color: #fff;
    top: 8px;
    right: 8px;
    font-size: 12px;
}

.shopping-box > ul > li > a {
    color: #877070;
}

.shopping-box > ul > li > a > span {
    display: inline-block;
    font-size: 26px;
    line-height: 26px;
    margin-top: 12px;
}

.shopping-box > ul > li > a > .icon-youhuiquan {
    font-size: 17px;
}

.shopping-box > ul > li > a > .icon-ai-message {
    font-size: 22px;
}

.shopping-box > ul > li > a > .icon-fukuan {
    font-size: 18px;
}

.shopping-box > ul > li > a > .icon-gouwuche1 {
    font-size: 22px;
}

.shopping-box > ul > li:hover a {
    color: #ffffff;
}

/*元素显示与隐藏*/
.shopping-box > ul > li .now-show {
    display: block;
}

.shopping-box > ul > li .now-hide {
    display: none;
}

/*右侧头像*/
.user-box {
    float: right;
    height: 80px;
    color: #fff;
    position: relative;
    margin-left: 25px;
}

.user-box .hi-text {
    float: left;
    margin-top: 35px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    /*新加样式*/
    display: inline-block;
    max-width: 175px;
    overflow: hidden;
    height: 15px;
}

.user-box .user-pic {
    margin-top: 20px;
    float: left;
}

.user-box .user-pic i {
    float: left;
}

.user-box .user-pic .user-head {
    width: 40px;
    height: 40px;
}

.user-box .user-pic .user-head > img {
    width: 100%;
    height: 100%;
}

.user-box .user-pic .down-pointer {
    margin-top: 15px;
    margin-left: 5px;
}

/*!*右侧登陆后*!*/
.user-box .user-item {
    width: 160px;
    border: 1px solid #efefef;
    position: absolute;
    top: 65px;
    z-index: 12;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    display: none;
}

.user-box .user-item .account {
    height: 40px;
    text-indent: 15px;
    line-height: 40px;
    background-color: #fff;
    color: #2e2525;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #efefef;
    margin-top: -1px;
    transition: all .3s;
}

.user-box .user-item .account:hover {
    border: 1px solid #efefef;
    background-color: #efefef;
}

.user-box .user-item .active {
    background-color: #efefef;
}

.user-box .user-item .facebook-btn, .out-btn {
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #efefef;
    cursor: pointer;
    font-weight: bold;
}

.user-box .user-item .facebook-btn {
    background-color: #3b5897;
    margin-top: 12px;
    transition: all .3s;
}

.user-box .user-item .facebook-btn:hover {
    background-color: #4b7fce;
    margin-top: 12px;
}

.user-box .user-item .out-btn {
    background-color: #fff;
    color: #b21f1f;
    margin-top: 12px;
}

.user-box .user-item .out-btn:hover {
    background-color: #f7f8f8;
    color: #b21f1f;
    margin-top: 12px;
}

/*菜单导航*/
.main-menu {
    height: 40px;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
    z-index: 9;
    padding-left: 240px;
    box-sizing: border-box;
}

.main-menu .menu-list {
    float: left;
}

.main-menu .menu-list li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    padding: 0 15px;
    box-sizing: content-box;
    position: relative;
}

.main-menu .menu-list li:after {
    display: block;
    content: '';
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
}

.main-menu .menu-list li a {
    color: #3e3a39;
}

.main-menu .menu-list li:hover a {
    color: #b21f1f;
}

.main-menu .menu-list li:hover:after {
    border-top: 2px solid #b21f1f;
}

/*激活导航*/
.main-menu .menu-list .active:after {
    border-top: 2px solid #b21f1f;
}

.main-menu .menu-list .active a {
    color: #b21f1f;
}
/*订单链接*/
.in-link{
    float: left;
    height: 23px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #efe9e9;
    padding: 0 10px;
    margin-top: 8px;
    line-height: 23px;
}
.in-link .icon-jisuan1{
    color: #d7c3c3;
    font-size: 14px;
    line-height: 21px;
    margin-right: 10px;
    margin-left: 0;
}
.in-link span{
    float: left;
    color: #d0b8b8;
    font-size: 12px;
    margin: 0 10px;
}
.in-link a{
    float: left;
    height: 23px;
    color: #3e3a39;
}
.in-link a:hover{
    color: #b21f1f;
}
/*面包屑*/
.main-menu .bread-crumbs {
    float: right;
    margin-top: 10px;
}

.main-menu .bread-crumbs a {
    color: #c9caca;
}

.main-menu .bread-crumbs .icon-shouye1 {
    font-size: 12px;
    margin-right: 5px;
}

/*版权说明*/
.copy-right-box {
    font-size: 12px;
    color: #826c6c;
    margin: 0;
    height: 70px;
    line-height: 70px;
    border-top: 1px solid #efefef;
}

/*版权说明*/
/*返回顶部按钮*/
.go-btn {
    position: fixed;
    right: 10px;
    top: 700px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9999;
}
