/* 主体*/
.order-main:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧*/
.order-main .box-r {
    background-color: #fff;
    padding-left: 276px;
    width: 1080px;
}

.box-r .r-title {
    padding-top: 55px;
    font-size: 24px;
    color: #2e2525;
    font-weight: bold;
}

/*审查盒子*/
.under-review-box {
    font-size: 12px;
}

.under-review-box .box-title {
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #efefef;
    background-color: #f7f8f8;
    margin: 35px 0 15px 0;
}

.under-review-box .box-title .title-l {
    width: 320px;
    height: 42px;
    border-right: 1px solid #efefef;
    display: inline-block;
}

.under-review-box .box-title .title-c {
    width: 594px;
    height: 42px;
    border-right: 1px solid #efefef;
    display: inline-block;
}

.under-review-box .box-title .title-r {
    width: 148px;
    height: 42px;
    display: inline-block;
}

/*具体项*/
.box-item {
    height: auto;
    border: 1px solid #efefef;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.box-item .th1 {
    width: 30%;
    padding-left: 30px;
    box-sizing: border-box;
}

.box-item .th2 {
    width: 54.5%;
}

.box-item .th3 {
    width: 15.5%;
}

.td1 {
    width: 84.5%;
}

.td2 {
    width: 15.5%;
}

.item-title {
    background-color: #f7f8f8;
}

.item-title .item-left {
    width: 325px;
    display: inline-block;
    padding-left: 30px;
    box-sizing: border-box;
}

.item-title .item-center {
    width: 594px;
    display: inline-block;
    padding-left: 30px;
    box-sizing: border-box;
}

.item-title .item-right {
    width: 148px;
    display: inline-block;
    padding-left: 30px;
    box-sizing: border-box;
}

 .right-price {
    font-size: 16px;
    color: #b21f1f;
}

.box-item .product-l {
    width: 324px;
    float: left;
    height: auto;
    display: inline-block;
    padding: 23px 0 23px 35px;
    box-sizing: border-box;
}

.pcb-number {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pcb-number .pcb-title {
    font-weight: bold;
}

.numbers-text {
    font-size: 12px;
    width: 200px;
    margin-top: 17px;
}

.numbers-pic {
    color: #b21f1f;
    margin-top: 15px;

}
.numbers-pic>span{
    text-decoration: underline;
}
.numbers-pic .icon-icon-xiangqing{
    text-decoration: none;
    vertical-align: middle;
}
.listed{
    border-top: 1px solid #efefef;
}
/*中间*/
.comentari-c {
    width: 587px;
    height: auto;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 23px 10px 23px 30px;
}
.comentari-c>p>span {
    color: #d5d6d6;
    cursor: pointer;
}
.comentari-c>p .stats-active {
    color: #fdbb2d;
}

.comentari-c .product-img-box {
    margin-top: 20px;
}

.comentari-c .product-img-box i {
    width: 60px;
    height: 50px;
    margin: 0 10px 5px 0;
}

.comentari-c .product-img-box i img {
    width: 100%;
    height: 100%;
}

.under-box {
    width: 148px;
    text-align: center;
    line-height: 200px;
}
.status{
    width: 148px;
    display: inline-block;
    line-height: 200px;
}
.under-pic {
    color: #fdbb2d;
    text-align: center;
    font-weight: bold;
}

.view-btn {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #fdbb2d;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
    margin-top: 20px;
    cursor: pointer;
}

/*遮罩弹窗层*/
.open-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*IE遮罩兼容*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    display: none;

}

.order-main .open-mask .confirm-box {
    width: 640px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -320px;
    z-index: 99999;
    opacity: 1;
}

.order-main .open-mask .confirm-box p {
    text-align: center;
    margin-top: 50px;
}

.order-main .open-mask .confirm-box .confirm-btn {
    width: 100%;
    margin-top: 35px;
    height: 40px;
    text-align: center;
}

.order-main .open-mask .confirm-box .confirm-btn .yes-btn, .no-btn {
    width: 140px;
    height: 40px;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    margin-right: 25px;
}

.order-main .open-mask .confirm-box .confirm-btn .yes-btn {
    background-color: #271e1e;
}

.order-main .open-mask .confirm-box .confirm-btn .no-btn {
    background-color: #685858;
}

/*空数据元素*/
.empty-item {
    width: 100%;
    height: 400px;
    margin-top: 107px;
    text-align: center;
}

.empty-item .empty-order {
    display: inline-block;
    height: 70px;
}

.empty-item .empty-order .empty-pic {
    float: left;
}

.empty-item .empty-order .empty-link-box {
    float: left;
    margin-left: 25px;
}

.empty-text {
    color: #c9caca;
    font-size: 12px;
    text-align: left;
}
.empty-link-box .empty-link{
    color: #2e2525;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 10px;
}
.copy-right-box {
   margin-top: 230px;
}
