/*主体*/
.order-main::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}
/*右侧*/
.order-main .box-r {
    background-color: #fff;
    padding-right: 80px;
    padding-left: 276px;
    width: 1080px;
}


.box-r .r-title {
    padding-top: 55px;
    font-size: 24px;
    color: #2e2525;
    font-weight: bold;
}

.box-r .invitation-box {
    margin-top: 58px;
    height: 295px;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
}

.box-r .invitation-box .invitation-item {
    float: left;
    margin-top: 80px;
    margin-left: 70px;
}

.box-r .invitation-box .invitation-text {
    font-size: 18px;
    margin-left: 70px;
    width: 685px;
    float: left;
    margin-top: 110px;
    word-wrap: break-word;
}

/*联系盒子*/
.box-r .link-box {
    margin-top: 18px;
    border: 1px solid #efefef;
    height: auto;
}

.box-r .link-box .link-item {
    height: 60px;
}

.box-r .link-box .link-item li {
    width: 359px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    height: 60px;
    line-height: 60px;
    font-weight: bold;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}

.box-r .link-box .link-list {
    height: 240px;
}

.box-r .link-box .link-list li {
    width: 359px;
    border-right: 1px solid #efefef;
    height: 240px;
    font-weight: bold;
    text-align: center;
    float: left;
    padding-top: 40px;
    box-sizing: border-box;
}

.box-r .link-box .link-list li .link-address {
    color: #727171;
    font-size: 12px;
    margin-top: 20px;
}

.box-r .link-box .link-list li .link-btn {
    margin-top: 37px;
    font-size: 12px;
    color: #ffffff;
    background-color: #271e1e;
    width: 140px;
    height: 38px;
    border-radius: 2px;
    line-height: 38px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
}

.box-r .link-box .link-list li .user-name {
    width: 278px;
    line-height: 38px;
    height: 38px;
    border: 1px solid #efefef;
    text-indent: 15px;
}

.box-r .link-box .link-list li .send-btn {
    font-size: 12px;
    color: #ffffff;
    background-color: #b21f1f;
    width: 140px;
    height: 38px;
    border-radius: 2px;
    line-height: 38px;
    text-align: center;
    margin-top: 25px;
    margin-left: 35px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
}

/*查询统计*/
.statistics-box {
    margin-top: 45px;
    border-top: 1px solid #efefef;
    padding-top: 18px;
}
.statistics-box .statistics-price{
    background-color: #f7f8f8;
    margin-top: 20px;
    width: 100%;
    height: 90px;
    border: 1px solid #efefef;
}
.price-item{
    width: 25%;
    float: left;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-right: 1px solid #ebebeb;
}
.price-item>i{
    color: #2e2525;
    font-size: 24px;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: bold;
}

/*人员列表*/
.box-r .person-title {
    /*border-top: 1px solid #efefef;*/
    height: 80px;
}

.box-r .person-title .title-l {
    float: left;
    height: 80px;
    line-height: 80px;
    font-weight: bold;
}

.box-r .person-title .title-r {
    height: 80px;
    float: right;
}

.box-r .person-title .title-r li {
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    border-right: 1px solid #efefef;
    margin-top: 25px;
    font-weight: bold;
    font-size: 12px;
}

.box-r .person-title .title-r li span {
    color: #b21f1f;
    margin-left: 10px;
}

/*人员列表表格*/
.box-r .person-lists table {
    width: 100%;
}

.box-r .person-lists table tr {
    text-align: center;
    height: 60px;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
}

.box-r .person-lists table .table-title {
    background-color: #f7f8f8;
    height: 38px;
    border: 1px solid #efefef;
    font-size: 12px;

}

.box-r .person-lists table .table-title th {
    border-right: 1px solid #efefef;

}
/*返回顶部*/
.order-main .go-btn {
    position: fixed;
    right: 10px;
    top: 700px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


/*新加样式*/
.code-link {
    text-align: center;
    background: #f6f6f6;
    border: 1px solid #eee;
    padding: 25px;
    min-height: 20px;
    margin-bottom: 9px;
}
.code-link>p {
    margin: 0 0 11px;
}
.code-link .copy-link {
    font-size: 18px;
    font-weight: 600;
    height: 21px;
    line-height: 24.2px;
    color: #434445;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.1);
    box-sizing: content-box;
    background: #fff;
    border: 2px dashed #ccc;
    display: inline-block;
    padding: 15px;
    text-align: center;
    border-radius: 7px;
    width: 460px;
    margin-bottom: 10px;
}
.share-buttons{
    color: #ffffff;
}
.share-buttons .re-btn {
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 600;
}
.re-btn-primary {
    color: #fff;
    transition: all 150ms ease-in-out;
    /*border-color: transparent!important;*/
    background-color: #21955b !important;
    background-image: linear-gradient(top,#22995d,#209058);
    /*border-color: #209058 #209058 #125232;*/
    /*border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);*/
}

.re-btn {
    padding: 6px 13.5px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
    color: #434445;
    cursor: pointer;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 3px;
}
.btn-twitter {
    background-color: #55acee;
    border-color: #55acee;
}
.btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}
.re-btn-primary:hover{
    color: #ffffff;
}
.btn-twitter:hover{
    color: #ffffff;
}
.btn-facebook:hover{
    color: #ffffff;
}
.refer-form-control{
    margin: 0;
    width: 524px;
    resize: none;
    padding: 5px;
    box-sizing: border-box;
    height: auto;
    min-height: 80px;
}
.copy-right-box {
    margin-top: 180px;
}
