.ui-window-title {
    color: #333333;
    font: 700 16px/26px Arial;
    height: 27px;
    margin-bottom: 0;
    padding-top: 10px;
    text-indent: 15px;
}

.ui-window-bd {
    padding: 20px 15px 15px;
}

.orderdetail {
    background-color: #FFFFFF;
    border-left: 1px solid #E3E6EB;
    border-top: 1px solid #E3E6EB;
    color: #666;
    font-size: 13px;
}

.orderdetail td {
    border-bottom: 1px solid #E3E6EB;
    border-right: 1px solid #E3E6EB;
    padding: 3px 3px 3px 5px;
}

.product-price-info-wrapper {
    padding-top: 10px;
    margin-right: 10px;
    float: right;
}

.orderdetail .product-price-info1, .orderdetail .product-price-info2, .orderdetail .product-price-info3 {
    clear: both;
    float: right;
}

.orderdetail .product-price-title {
    color: #999999;
    line-height: 18px;
    margin: 0 2px 0 15px;
}

.orderdetail .currency, .orderdetail .value {
    color: #333333;
    font-size: 12px;
    font-weight: 700;
}

.orderdetail .product-price-info2 {
    margin-top: 5px;
}

.orderdetail .product-price-total {
    font-size: 14px;
}

.ui-cost b {
    color: #FF6600;
}

.orderdetail .product-price-info3 {
    margin-top: 15px;
}

.orderdetail .product-price-info3 a {
    text-decoration: none;
}