/* 主体*/
.order-main::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧*/
.order-main .box-r {
    background-color: #fff;
    padding-left: 276px;
    width: 1080px;
}

/*反馈盒子*/
.feedback-box {
    margin-top: 35px;
}

.feedback-box .feedback-title {
    height: 58px;
    line-height: 58px;
    border: 1px solid #efefef;
    background-color: #f7f8f8;
}

.title-l {
    width: 500px;
    height: 36px;
    line-height: 26px;
    position: relative;
    font-size: 12px;
    color: #877070;
    text-indent: 60px;
    margin: 0px;
    display: inline-block;
}

.title-l .min-person {
    position: absolute;
    top: -20px;
    left: 0;
}

.title-r {
    display: inline-block;
    float: right;
    margin-right: 30px;
    font-weight: bold;
}

/*列表顶部*/
.feedback-header {
    margin-top: 15px;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid #efefef;
}

.header-l {
    width: 320px;
    height: 80px;
    background-color: #f7f8f8;
    border-right: 1px solid #efefef;
    box-sizing: border-box;
    padding: 20px 0 0 45px;
    display: inline-block;
}

.header-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}

.header-box img {
    width: 100%;
    height: 100%;
}

.header-r {
    width: 758px;
    float: right;
}

.header-r .header-item {
    width: 33%;
    height: 80px;
    display: inline-block;
    float: left;
    padding-left: 25px;
    box-sizing: border-box;
    cursor: pointer;
}

.header-r .header-item span {
    float: left;
    margin-top: 30px;
}

.good-stars {
    color: #d5d6d6;
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 25px 10px;
    cursor: pointer;
}

.good-stars li {
    float: left;
    height: 28px;
    margin-right: 2px;
}

.good-stars .active {
    color: #fdbb2d;
}

/**/
.feedback-list {
    margin-top: 15px;
    width: 100%;
    height: auto;
    background-color: #f7f8f8;
    border: 1px solid #efefef;
}

.feedback-list .list-l {
    width: 320px;
    padding: 110px 60px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    float: left;
}

.production-text {
    font-weight: bold;
}

.production-price {
    margin-top: 20px;
}

.production-number {
    margin-top: 10px;
}

/*右侧*/
.list-r {
    float: left;
    width: 760px;
    box-sizing: border-box;
    padding: 30px 30px 0 30px;
    background-color: #ffffff;
}

.list-rating {
    height: 28px;
    line-height: 28px;
}

.rating-stars {
    width: 90px;
    display: inline-block;
    float: left;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
}

.rate-name-box {
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}

.rate-name {
    width: 90px;
    display: inline-block;
    float: left;
    font-weight: bold;
}

.rate-name-input {
    text-indent: 10px;
    width: 600px;
    height: 38px;
    border: 1px solid #efefef;
    font-size: 12px;
    line-height: 38px;
}

.rate-area {
    height: 136px;
    font-size: 12px;
    width: 600px;
    border: 1px solid #efefef;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}

.area-tips {
    margin-left: 224px;
    margin-top: 5px;
    color: #727171;
    font-size: 12px;
}

.up-pic-box {
    border: 1px solid #efefef;
    width: 600px;
    margin-left: 90px;
    margin-top: 14px;
    min-height: 120px;
}

/*图片上传*/
.f-imgshow {
    float: left;
    width: 100%;
}

.m-imgshow .thumbnail-list {
    width: 100%;
    overflow: hidden;
    margin-bottom: -10px;
}

.m-imgshow .btn-upload {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    background: url(../images/bg-upload.png) no-repeat center top;
    cursor: pointer;
}

.m-imgshow .upload-num {
    float: left;
    height: 50px;
    margin-bottom: 10px;
    line-height: 50px;
    color: #999;
}

.m-imgshow .upload-num em {
    color: #e4393c;
    margin: 0 2px;
}

.m-imgshow .thumbnail-item {
    position: relative;
    float: left;
    width: 48px;
    height: 48px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    cursor: pointer;
}

.m-imgshow .thumbnail-item img {
    display: block;
    width: 48px;
    height: 48px;
}

/*图片上传*/
.up-pics {
    width: 100px;
    height: 100px;
    text-align: center;
    display: inline-block;
    margin: 10px 0 0 10px;
    position: relative;
    cursor: pointer;
    border: 1px solid #efefef;
    float: left;
}

.up-pics img {
    width: 100%;
    height: 100%;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #b21f1f;
    color: #ffffff;
    font-size: 12px;
}

.files-box {
    text-align: center;
    font-size: 15px;
    background-color: #f7f8f8;
    color: #727171;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px 0 0 10px;
    position: relative;
    cursor: pointer;
    border: 1px solid #efefef;
    float: left;
    transition: all .3s;
}

.files-box:hover {
    background-color: #b21f1f;
    color: #ffffff;
}

.up-files {
    margin-top: 20px;
}

.files-btn {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100px;
    height: 100px;
    z-index: 9;
    filter: alpha(opacity=0);
}

.up-text {
    margin-top: 25px;
    margin-left: 90px;
    font-size: 12px;
}

.up-save-tips {
    color: #fdbb2d;
    font-size: 12px;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 45px;
}

/*按钮盒子*/
.feedback-btn-box {
    text-align: center;
    margin-top: 40px;
}

.feedback-cancel, .feedback-exit {
    border-radius: 2px;
    color: #ffffff;
    width: 240px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
}

.feedback-cancel {
    background-color: #271e1e;
    margin: 20px 20px;
}

.feedback-exit {
    background-color: #b21f1f;
    text-align: center;
}

.copy-right-box {
    margin-top: 180px;
}
