/* 主体*/
.order-main {
    width: 100%;
    height: 100%;
}

.order-main:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧*/
.order-main .box-r {
    width: 1080px;
    margin-left: 276px;
    padding-right: 80px;
    background-color: #fff;
}

.box-r .r-title {
    padding-top: 55px;
    font-size: 24px;
    color: #2e2525;
    font-weight: bold;
}

/*选项卡展示*/
.pay-shows {
    width: 1080px;
    height: 100px;
    margin-top: 30px;
    border: 1px solid #e5e5e5cc;
}

.pay-shows li {
    width: 216px;
    border: 1px solid #d3d3d3;
    height: 100px;
    float: left;
    border-right: none;
    background-color: #e5e5e5;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    position: relative;
    font-size: 12px;
}

.pay-shows li .line-pic {
    position: absolute;
    left: 0;
    bottom: 0;
}

/*导航切换*/
.box-r .tabed {
    margin-top: 20px;
    height: 37px;
    position: relative;
    border-bottom: 2px solid #b21f1f;
}

.tabed .tabed-ul {
    display: inline-block;
    height: 37px;
    float: left;
    position: absolute;
    z-index: 99;
    border-right: 2px solid #efefef;
}

.tabed .tabed-ul li {
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 138px;
    float: left;
    border: 2px solid #efefef;
    border-bottom: 0 solid #b21f1f;
    border-right: none;
    font-size: 12px;
    cursor: pointer;
}

.tabed .tabed-ul li > span {
    color: #b21f1f;
}

.tabed .tabed-ul .active {
    border: 2px solid #b21f1f;
    border-bottom: 2px solid #ffffff;
}

/*条件搜索*/
.box-r .search-box {
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid #efefef;
    margin-top: 20px;
}

.box-r .search-box input {
    height: 26px;
    line-height: 26px;
    border: 1px solid #efefef;
    width: 160px;
    text-indent: 15px;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2) inset;
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .2) inset;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .2) inset;
}

.box-r .search-box .pcb-file {
    margin-left: 50px;
}

.box-r .search-box .search-btn {
    padding: 0 8px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    background-color: #2c1f1f;
    font-size: 12px;
    border-radius: 2px;
    margin-left: 10px;
    transition: all .3s;
}

.box-r .search-box .search-btn:hover {
    background-color: #613838;
}

/*条件搜索*/

/*列表详情盒子*/
.box-r .details1 {
    margin-top: 45px;
}
.box-r .zx{
    margin-bottom: 50px;
    min-height: 450px;
}
.details1 .details-title {
    font-size: 12px;
    color: #2e2525;
}

.title-ul:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.details1 ul li {
    float: left;
    height: 38px;
    margin-top: 15px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #efefef;
    border-right: none;
    background-color: #f7f8f8;
    font-size: 12px;
    color: #2e2525;
}

.details1 .detai {
    width: 320px;
}

.details1 .file {
    width: 200px;
}

.details1 .amount {
    width: 120px;
}

.details1 .status {
    width: 200px;
}

.details1 .statused {
    width: 234px;
}

.details1 .contents {
    border: 1px solid #efefef;
}

.details1 .contents:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.contents-ol:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.contents-ol li {
    float: left;
}

.contents-ol {
    padding: 18px;
    position: relative;
}

.contents-ol .detai-pic {
    height: auto;
    width: 502px;
}

.contents-ol .detai-pic .detai-box {
    width: 502px;
}

.contents-ol .detai-pic .detai-box a {
    margin: 5px 0 10px 36px;
    text-decoration: underline;
    color: #397ecc;
    display: block;
    width: 163px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.detai-item {
    margin-bottom: 15px;
}

.detai-pic .detai-box .detai-l {
    float: left;
    margin-right: 5px;
}

.detai-pic .detai-box .detai-r {
    font-size: 12px;
    padding-top: 10px;
    float: left;
    font-weight: bold;
    width: 173px;
}

.link-files {
    display: table-cell;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    min-height: 103px;
    height: 103px;
    vertical-align: middle;
}

/*新加*/
.link-files > a {
    margin: 5px 0 10px 20px;
    text-decoration: underline;
    color: #397ecc;
    display: block;
    width: 163px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*新加*/
.link-files > span {
    margin-left: 38px;
}

.link-files > input {
    margin-top: 50px;
}

/*buying-btn*/
.buying-btn {
    display: inline-block;
    width: 120px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 #c6c6c6;
    margin-left: 37px;
}

.buying-btn:hover {
    background-color: #ccc;
}

.detai-r .time-box {
    margin-top: 10px;
    color: #727171;
}

.detai-r .time-box .icon-shijian {
    color: #ccc;
    margin-right: 3px;
}

.detai-r .size-box {
    margin-top: 8px;
    color: #727171;
}

.detai-r .size-box .icon-icon-xiangqing {
    color: #b21f1f;
    margin: 5px 2px 0 0;
}

.file-box {
    width: 200px;
    text-align: center;
    padding-top: 25px;
}

.amount-box {
    width: 120px;
    text-align: center;
    font-size: 18px;
    color: #b21f1f;
}
.assembly-cost{
    height: auto;
    width: 100%;
    color: #847f7f;
    font-size: 12px;
    text-align: left;
}
.assembly-cost i{
    display: block;
}
.status-box {
    width: 200px;
    text-align: center;
    font-size: 12px;
}

.status-box > p:first-child {
    margin-bottom: 12px;
    color: #a29d9d;
}

.status-box > a {
    display: block;
    font-weight: bold;
}

.status-box > a:first-child + a {
    margin-top: 12px;
}

.status-box .awai {
    font-size: 12px;
    color: #fdbb2d;
}

.see-detail {
    font-size: 12px;
    color: #b21f1f;
    margin-top: 5px;
}

.see-detail > span {
    text-decoration: underline;
}

.see-detail .icon-icon-xiangqing {
    vertical-align: middle;
    margin-right: 5px;
    text-decoration: none;
}

.statused-box {
    width: 220px;
    text-align: center;
}

.statused-box .del-box {
    position: absolute;
    top: 30px;
    right: 0;
    cursor: pointer;
}

.statused-box .del-box .icon-shanchu {
    color: #b21f1f;
    font-size: 22px;
}

.new-amount {
    font-size: 18px;
    color: #b21f1f;
    text-align: center;
    width: 120px;
    margin-top: 40px;
}

.new-jindu {
    color: #271e1e;
    font-weight: bold;
    padding-left: 55px;
    margin-top: 5px;
}

.new-status {
    width: 200px;
    text-align: center;
}

.old-progress {
    width: 100px;
    height: 8px;
    border-radius: 8px;
    background-color: #271e1e;
    position: relative;
}

.new-progress {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fdbb2d;
    width: 40px;
    height: 8px;
    border-radius: 8px;
}

.pay-now {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #b21f1f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
}

.new-invoice {
    width: 100px;
    height: 30px;
    border-radius: 2px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background-color: #826c6c;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
}

/*分页*/
.paging-box {
    margin-top: 80px;
}

.paging-box > ul {
    height: 32px;
}

.paging-box > ul > li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
    float: left;
    background-color: #ffffff;
}

.paging-box > ul > .go-up {
    background-color: #c8c8c8;
    color: #ffffff;
    font-size: 14px;
    border-radius: 2px;
    font-weight: bold;
}

.paging-box > ul > .go-down {
    background-color: #c8c8c8;
    color: #ffffff;
    font-size: 14px;
    border-radius: 2px;
    font-weight: bold;
}

.paging-box > ul > li:hover {
    background-color: #e6e6e6;
}

/*确认遮罩层*/
.order-main .open-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    /*IE遮罩兼容*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    display: none;
}

.order-main .open-mask .confirm-box {
    width: 640px;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -320px;
    z-index: 99999;
    opacity: 1;
}

.order-main .open-mask .confirm-box p {
    text-align: center;
    margin-top: 50px;
}

.order-main .open-mask .confirm-box .confirm-btn {
    width: 100%;
    margin-top: 35px;
    height: 40px;
    text-align: center;
}

.order-main .open-mask .confirm-box .confirm-btn .yes-btn, .no-btn {
    width: 140px;
    height: 40px;
    border-radius: 3px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    margin-right: 25px;
}

.order-main .open-mask .confirm-box .confirm-btn .yes-btn {
    background-color: #271e1e;
}

.order-main .open-mask .confirm-box .confirm-btn .no-btn {
    background-color: #685858;
}

/*新加按钮*/

.tec-progress {
    padding: 0 8px;
    display: block;
    line-height: 22px;
    font-weight: normal;
    height: 22px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin-top: 9px;
    border-radius: 2px;
    margin-left: 43px;
}

.tec-progress:hover {
    background-color: #ffffff;
}

/*弹出表格*/
.orderdetail {
    background-color: #FFFFFF;
    border-left: 1px solid #E3E6EB;
    border-top: 1px solid #E3E6EB;
    color: #666;

}

.orderdetail td {
    border-bottom: 1px solid #E3E6EB;
    border-right: 1px solid #E3E6EB;
    padding: 3px 3px 3px 5px;
}

/*空元素*/
.empty-item {
    width: 100%;
    height: 400px;
    margin-top: 107px;
    text-align: center;
    /*display: none;*/
}

.empty-item .empty-order {
    display: inline-block;
    height: 70px;
}

.empty-item .empty-order .empty-pic {
    float: left;
}

.empty-item .empty-order .empty-link-box {
    float: left;
    margin-left: 25px;
}

.empty-text {
    color: #c9caca;
    font-size: 14px;
}

.empty-link-box .empty-link {
    color: #2e2525;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 10px;
}
.copy-right-box {
   margin-top: 180px;
}
