/*主体*/
.order-main::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧*/
.order-main .box-r {
    padding-left: 270px;
    background-color: #fff;
}

.order-main .box-r .balance-box {
    min-width: 1080px;
    min-height: 600px;
}

.balance-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.order-main .box-r .balance-box .balance-l {
    width: 740px;
    height: auto;
    float: left;
}

/*头像信息*/
.balance-box .balance-l .person-show {
    width: 740px;
    height: 100px;
    background-color: #dccac9;
    margin-bottom: 20px;
    border: 1px solid #d0b8b8;
    margin-top: 52px;
}

.person-show .portrait {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: -20px;
    float: left;
    overflow: hidden;
    background-color: #eeeeee;
    border-radius: 6px;
    /*display: table;*/
    position: relative;
}

.person-show .portrait .portrait-img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.person-show .portrait img {
    max-width: 100px;
    display: block;
}

.person-show .portrait .vip-sign {
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 99;
    text-align: center;
}
.person-show .portrait .vip-sign .iconfont{
    font-size: 20px;
}
.person-show .portrait .vip-sign:after{
    display: block;
    content: '';
    width: 70%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 23%;
    background-color: #ffffff;
    z-index: -1;
}
/*0-2*/
.person-show .portrait .vip-sign .icon-V0,.icon-V1,.icon-V2{
    color: #826c6b;
}
/*3-5*/
.person-show .portrait .vip-sign .icon-V3,.icon-V4,.icon-V5{

    color: #d18c00;
}
/*6*/
.person-show .portrait .vip-sign .icon-V6{
    color: #d0021b;
}
/*6*/
.person-show .portrait .vip-sign .icon-VIP1{
    color: #f5a623;
}
.person-show .portrait-info {
    margin-left: 20px;
    float: left;
}

.person-show .portrait-info .info-item {
    float: left;
    margin: 25px 30px 0 0;
}

.person-show .portrait-info .info-item a {
    color: #000000;
}

.person-show .portrait-info .info-item p {
    margin-top: 10px;
}

.person-show .portrait-info .info-item .accumulate>span:first-child {
    color: #5993d4;
    text-decoration: underline;
}

.person-show .portrait-info .accumulate-point {
    color: #d0021b;
}

/*账户余额*/
.balance-box .balance-l .account {
    background-color: #f7f8f8;
    font-weight: bold;
    color: #2e2525;
    border: 1px solid #efefef;
    display: block;
    border-bottom: none;
}

.balance-box .balance-l .account .account-item {
    float: left;
    height: 80px;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;

}

.account-item:first-child {
    width: 424px;
    border-right: 1px solid #efefef;
}
.account-item:first-child+.account-item{
    width: 314px;
}
.account .account-item .account-text {
    float: left;
    margin-top: 12px;
}

.account .account-item .account-price {
    float: left;
    margin: 12px 0 0 25px;
}

.account .account-item .account-price .price {
    font-size: 30px;
    color: #b21f1f;
}

.account .account-item .account-price .vdlid {
    font-size: 12px;
}

.account .account-item .redeem-box{
    float: right;
    font-size: 12px;
    margin-top: 28px;
    color: #5993d4;
}
.account .account-item .redeem-box:hover{
    text-decoration: underline;
}
.balance-box .balance-l .list-link {
    box-sizing: border-box;
    height: 120px;
    border: 1px solid #efefef;
}

.balance-box .balance-l .list-link > li {
    width: 19%;
    height: 82px;
    border-right: 1px solid #efefef;
    text-align: center;
    padding-top: 36px;
    float: left;
}

.balance-box .balance-l .list-link .link-pic {
    vertical-align: middle;
}

.balance-box .balance-l .list-link .link-pic > span {
    color: #ccc;
    font-size: 24px;
}

.balance-box .balance-l .list-link .link-pic > .icon-baoguofahuo {
    font-size: 28px;
    line-height: 26px;
}

.balance-box .balance-l .list-link .num {
    font-size: 18px;
    margin-left: 10px;
    color: #2e2525;
}

.balance-box .balance-l .list-link .text {
    margin-top: 5px;
    color: #727171;
    font-size: 12px;
}

.balance-box .balance-l .order-detail {
    margin-top: 25px;
}

.balance-box .balance-l .order-detail .detail-title {
    height: 40px;
    background-color: #f7f8f8;
    border: 1px solid #efefef;
}

.balance-box .balance-l .order-detail .list-picture {
    border: 1px solid #efefef;
}

.balance-l .order-detail .list-picture > li {
    padding: 20px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #efefef;
    overflow: hidden;
    font-size: 12px;
}

.balance-l .order-detail .list-picture > li:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.balance-l .order-detail .list-picture > li .pic-show {
    float: left;
    margin-right: 15px;
}

.balance-l .order-detail .list-picture > li .time-box {
    *float: left;
    width: 308px;
    /*新加*/
    max-height: 146px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
}

.balance-l .order-detail .list-picture > li .time-box > a {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 5px;
}

.balance-l .order-detail .list-picture > li .time-box > .ignore {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 5px;
    line-height: 64px;
    font-weight: bold;
    color: #cccccc;
    border: 1px solid #cccccc3b;
    text-align: center;
}

.balance-l .order-detail .list-picture > li .time-box > a > img {
    width: 100%;
    height: 100%;
}

.balance-l .order-detail .list-picture > li .on_view {
    width: 180px;
    *float: left;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.balance-l .order-detail .list-picture > li .view-link {
    *float: left;
    width: 120px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.balance-l .order-detail .list-picture > li .view-link > a {
    color: #b21f1f;
    text-decoration: underline;
}

.balance-l .order-detail .list-picture > li .icon-icon-xiangqing {
    color: #b21f1f;
    vertical-align: middle;
}

.balance-l .order-detail .list-picture > li .time-pic .view {
    text-decoration: underline;
    color: #b21f1f;
}

.balance-l .order-detail .detail-title li {
    float: left;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #efefef;
}

.balance-l .order-detail .detail-title .odw {
    width: 330px;
}

.balance-l .order-detail .list-picture > li .total-num {
    *float: left;
    width: 110px;
    text-align: center;
    color: #b21f1f;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
}

.balance-l .order-detail .list-picture > li .total-num > p {
    color: #2e2525;
}

.balance-l .order-detail .list-picture > li .add-success {
    float: left;
    height: 60px;
    text-align: center;
    margin-top: 20px;
    margin-left: 30px;
}

.balance-l .order-detail .list-picture > li .add-gerber {
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #2e2526;
    float: left;
    margin-top: 33px;
    border-radius: 2px;
    margin-left: 25px;
    color: #fff;
    font-size: 12px;
    background-image: url(../images/order/up.png);
    background-repeat: no-repeat;
    background-position: 16px center;
    text-indent: 25px;
    transition: all .5s;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
}

.balance-l .order-detail .list-picture > li .add-gerber:hover {
    background-color: #535353;
    color: red;
}

.balance-l .order-detail .list-picture > li .on-view {
    height: 60px;
    line-height: 60px;
    float: left;
    background-image: url(../images/order/under-review.png);
    background-repeat: no-repeat;
    background-position: 5px center;
    text-indent: 25px;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 12px;
    color: #ffc300;
}

.balance-l .loading-more {
    background-color: #efefef;
    height: 40px;
    line-height: 40px;
    width: 100%;
    border: 1px solid #efefef;
    margin-top: 15px;
    text-align: center;
}

.balance-l .more-btn {
    text-decoration: underline;
    color: #2e2525;
}

/*论坛列表*/
.balance-l .forum-box {
    margin-top: 30px;
}

.forum-box .forum-lists {
    border-bottom: 2px solid #b21f1f;
    height: 38px;
}

.forum-box .forum-lists li {
    height: 36px;
    line-height: 36px;
    text-align: center;
    width: 140px;
    float: left;
    border: 2px solid #efefef;
    border-bottom: 2px solid #b21f1f;
}

.forum-box .forum-lists .active {
    border: 2px solid #b21f1f;
    border-bottom: 2px solid #ffffff;
}

.bask-box {
    margin-top: 30px;
}

.bask-box .bask-area {
    margin-top: 60px;
}

.bask-box .bask-area .bask-tips {
    display: inline-block;
    float: left;
    margin-top: 10px;
}

.bask-box .bask-items {
    margin-top: 30px;
    border: 1px solid #efefef;
    padding: 40px 60px;
}
.bask-box .bask-items .items-content{
   margin-left: -34px;
}
.bask-box .bask-items .item:hover{
    box-shadow: 0 2px 2px #efefef;
}
.bask-box .bask-items .item {
    width: 288px;
    height: 400px;
    border: 1px solid #efefef;
    float: left;
    margin: 0 0 15px 36px;
    padding: 25px 28px;
    box-sizing: border-box;
}

.bask-box .bask-items .item > a {
    display: block;
    color: #000000;
}

.bask-items .item-portrait .portrait-img {
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

.bask-items .item-portrait .portrait-img img {
    max-width: 40px;
    width: 100%;
    height: 100%;
}

.bask-items .item-portrait .portrait-text {
    float: left;
    margin: 4px 0 0 4px;

}

/*重写IE8+兼容*/
:root .bask-items .item-portrait .portrait-text {
    margin: 4px 0 0 13px;
}

/*介绍*/
.bask-items .item-info {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #efefef;
}

.bask-items .item-info h2 {
    font-size: 24px;
    height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.bask-items .item-info .info-text {
    margin-top: 20px;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: #727171;
    line-height: 20px;
}

.bask-items .see-record {
    margin-top: 60px;
}

.bask-items .see-record li {
    float: left;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border: 1px solid #efefef;
    margin-left: -1px;
    color: #727171;
}

.bask-items .see-record li .icon-chakanyan {
    vertical-align: sub;
    font-size: 22px;
}

/*右侧*/
.order-main .box-r .balance-box .balance-r {
    width: 320px;
    height: 320px;
    float: left;
    margin-left: 20px;
    cursor: pointer;
    padding-top: 52px;
}

.balance-r > img {
    width: 100%;
    height: 100%;
}

.copy-right-box {
   margin-top: 60px;
    width: 900px;
}
/*空数据元素*/
.empty-item {
    width: 100%;
    height: 400px;
    margin-top: 107px;
    text-align: center;
    display: none;
}

.empty-item .empty-order {
    display: inline-block;
    height: 70px;
}

.empty-item .empty-order .empty-pic {
    float: left;
}

.empty-item .empty-order .empty-link-box {
    float: left;
    margin-left: 25px;
}

.empty-text {
    color: #c9caca;
    font-size: 14px;
}

.empty-link-box .empty-link {
    color: #2e2525;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 10px;
}

/*日文提示*/
.balance-l .prompt {
    display: none;
}
/*日文提示*/

.balance-r .message-forum {
    margin: 13px 0 20px;
    border: 1px solid #efefef;
}

.balance-r .message-forum .message-title {
    border-bottom: 1px solid #efefef;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

.balance-r .message-forum .message-items {
    padding: 0 15px;
    font-size: 12px;
}
.message-items li{
    border-bottom: 1px solid #efefef;
    padding: 20px 0;
}
.message-items li a{
    color: #000000;
}
.message-items li:hover{
    color: #b21f1f;
}
.message-items li:hover a{
    color: #b21f1f;
}
.message-items li:after{
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}
.message-items li .message-time {
    float: left;
    color: #727171;
    width: 50px;
}
.message-items li .message-text{
    float: left;
    margin-left: 20px;
    width: 218px;
    height: 57px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    line-height: 14px;
}
.message-forum .message-more{
    margin: 0 auto;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #b21f1f;
    text-decoration: underline;
}
