body {
    user-select: none;
}

.banner-box {
    width: 100%;
    min-width: 1280px;
    height: 240px;
    background: url("../images/optimized.jpg") no-repeat;
    background-image: url("../images/optimized.jpg") \9;
    background-repeat: no-repeat \9;
    background-position: center center;
    padding-top: 196px;
    background-size: cover !important;
    box-sizing: border-box;
}

.nb {
    width: 100%;
    height: 44px;
    background-color: #d0b8b8;
}

.banner-box .banner-ul {
    height: 44px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.banner-box .banner-ul .active {
    background-color: #ffffff;
    color: #2e2525;
}

.banner-box .banner-ul .active a {
    color: #2e2525;
}

.banner-box .banner-ul > li {
    width: 319px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #d0b8b8;
    float: left;
    border-right: 1px solid #a48d8d;
    color: #ffffff;
}

.banner-box .banner-ul li a {
    color: #2e2525;

}

/*主体列表盒子*/

.main .prototype-box {
    padding-top: 102px;
    padding-bottom: 100px;
    position: relative;
    display: block;
}

.prototype-title {
    font-size: 30px;
    color: #2e2525;
    width: 936px;
    position: relative;
}

.prototype-title > .icon-PCB {
    font-size: 26px;
    color: #408b00;
}

.prototype-box .prototype-title .tips-box {
    font-size: 12px;
    margin-left: 25px;
    color: #fdbb2d;
}

/*内容*/
.prototype-box .content {
    margin-top: 25px;
}

.prototype-box .content .content-l {
    width: 936px;
    float: left;
    font-size: 12px;
}

/*计价右侧开始*/
.content .content-r {
    width: 320px;
    float: right;
    background-color: #efefef;
    position: relative;
    top: 0;
}

.quantity-select .selectq {
    width: 100%;
    height: 28px;
    line-height: 28px;
    outline: none;
    text-indent: 15px;
    background-image: url("../images/downed-pointer.png");
    background-repeat: no-repeat;
    background-position: 90% center;
    cursor: pointer;
    border: none;
}

.content .content-r .content-top-price {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #efefef;
    height: 70px;
    *width: 320px;
    display: none;
}

.content .content-r .main-price {
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
    background-color: #efefef;
    display: none;
    width: 320px;
}

.content .content-r .main-price .time-box .js-build-box .active {
    border: 1px solid #b21f1f;
}

.content .content-r .main-price .time-box, .shipping-box {
    height: auto;
    width: 100%;
    position: relative;
    border-top: 1px solid #fff;
    padding: 20px 0 20px 0;
    cursor: pointer;
}

.content .content-r .main-price .shipping-box {
    margin-top: 10px;
}

.content .content-r .calculate {
    width: 320px;
    height: 50px;
    background-color: #271e1e;
    border-radius: 2px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    *min-width: 360px;
}
.content .content-r .calculate > .icon-jisuan {
    font-size: 28px;
    margin-right: 10px;
    vertical-align: sub;
}
.content .content-r .main-price .time-box .build-time, .shipping-costs {
    width: 105px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 90px;
    line-height: 35px;
    background: #efefef;
    text-align: center;
}

.content .content-r .main-price .time-box .lead-time {
    background-color: #FFFFFF;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    min-height: 50px;
    color: #fdbb2d;
    display: none;
}

.content .content-r .main-price .time-box .build-box {
    display: none;
}

.content .content-r .main-price .time-box .show-item {
    display: block;
}

.content .content-r .main-price .time-box .time-l {
    border: 1px solid #efefef;
}

.content .content-r .main-price .time-box .time-l > dl > dt {
    color: #727171;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    float: left;
    width: 133px;
}

.content .content-r .main-price .time-box .time-l > dl > dd {
    line-height: 32px;
    color: #2e2525;
    height: 32px;
    box-sizing: border-box;
    float: left;
    width: 142px;
    text-align: right;
}

.content .content-r .main-price .time-box .time-l > dl > dd .original-price {
    color: #727171;
    margin-right: 5px;
    font-size: 12px;
}

.content .content-r .main-price .time-box .time-l > dl > dd .original-price .price {
    text-decoration: line-through;
}

.content .content-r .main-price .time-box .time-r {
    width: 133px;
    border: 1px solid rgb(193, 193, 193);
    margin: 20px 0;
    float: right;
}

.content .content-r .main-price .time-box dl {
    background-color: #fff;
    height: 32px;
}

.content .content-r .main-price .time-box ul .sale-box {
    border-bottom: none;
}

.content .content-r .main-price .time-box ul .sale-box .sale-item {
    text-decoration: line-through;
}

.content .content-r .main-price .time-box ul .sale-box .sale-item {
    float: right;
}

.content .content-r .main-price .time-box .icon-Express {
    color: #f5a623;
    *margin-top: -25px;
}


.content .content-r .content-top-price .price-box .price-left {
    width: 72px;
    word-wrap: break-word;
    word-break: break-all;
    float: left;
    font-weight: bold;
}

.content .content-r .content-top-price .price-box .price-right {
    float: right;
    font-size: 30px;
    color: #b21f1f;
}

.content .content-r .content-top-price .price-box {
    overflow: auto;
    margin-top: 17px;
}

.content .content-r .price-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-l {
    margin-top: 0;
    *float: left;
}

/*物流*/
.content .content-r .main-price .shipping-box .shipping-r {
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    float: right;
    background-color: #ffffff;
    word-break: break-all;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-item::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-item > i {
    float: left;
    margin-right: 5px;
}

.content .content-r .main-price .shipping-box .shipping-l .shipping-title {
    margin-left: 0;
    width: 100%;
    margin-bottom: 5px;
}

.content .content-r .main-price .shipping-box .shipping-l .country-title {
    width: 100%;
    margin: 10px 0 0 0;
}

.content .content-r .main-price .shipping-box .shipping-l .country-title .shipping-down {
    width: 138px;
}

.content .content-r .main-price .shipping-box .shipping-l::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-r .shipping-price {
    float: right;
    color: #2e2525;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-time {
    font-size: 12px;
    margin-top: 7px;
    color: #999999;
}

.quantity-select {
    margin-left: 7px;
    width: 160px;
    border: 1px solid #a9a9a9;
    height: 28px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
}

/*联系邮箱*/
.content .content-r .main-price .shipping-email {
    width: 100%;
    height: 36px;
    text-indent: 15px;
    border: 1px solid #cfcfcf;
}

/*计价列表*/
.content .content-r .pricing-list {
    background-color: #ffffff;
    min-height: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    display: none;
}

.content .content-r .pricing-list li:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .pricing-list .list-name {
    float: left;
    color: #727171;
    font-size: 12px;
}

.content .content-r .pricing-list .list-price {
    float: right;
}

.content .content-r .pricing-list .list-price .list-price-jp {
    font-size: 12px;
    margin-right: 10px;
    color: #727171;
}

/*活动价格*/
.content .content-r .active-price {
    border: 1px solid #efefef;
    border-bottom: 0;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: none;
}

.content .content-r .active-price > span {
    float: left;
    color: #727171;
    font-size: 12px;
}

.content .content-r .active-price .preferential {
    float: right;
    text-decoration: line-through;
    color: #b21f1f;
}

/*下单按钮*/
.content .content-r .add-basket {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #b21f1f;
    font-size: 18px;
    color: #ffffff;
    border-radius: 2px;
    transition: all 1s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    display: none;
    *min-width: 360px;
}

.content .content-r .add-basket .icon-gouwuche1 {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: sub;
}

.content .content-r .add-basket:hover {
    background-color: #ee2323;
}

/*下单提示按钮*/
.basket-tips {
    padding: 25px 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    color: #fdbb2d;
    display: none;
    transition: all 1s;
    width: 320px;
}

.content:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧加载动画*/
.loading-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 534px;
    line-height: 576px;
    background-color: rgba(0, 0, 0, .2);
    background-color: #271e1e \9;
    z-index: 99;
    text-align: center;
    filter: alpha(opacity=20);
}

/*计价右侧结束*/
/*PCB  Prototype下单计价开始*/
.board-item {
    padding: 10px 0 10px 30px;
    font-size: 12px;
    border: 1px solid #efefef;
    border-top: none;
    *min-height: 50px;
}

.board-item::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.board-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.board-item .item-left {
    width: 130px;
    line-height: 30px;
    float: left;
    font-weight: bold;
    position: relative;
}

.board-item .item-right {
    float: left;
    position: relative;
}

.board-item .item-right .list {
    padding: 0 10px;
    border: 1px solid #cfcfcf;
    position: relative;
    min-height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 12px;
    cursor: pointer;
}

.board-item .item-right .flag {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/right-sign.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 12px;
    display: none;
}

/*添加active-list之后俄样式开始*/
.board-item .item-right .active-list {
    border: 1px solid #2e2525;
}

.board-item .item-right .active-list .flag {
    display: block;
}

/*添加active-list之后俄样式结束*/
/*提示气泡*/
.board-item .item-tips {
    position: relative;
    float: right;
    margin: 6px 20px 0 0;
    cursor: pointer;
}

.board-item .item-tips .tips-box {
    padding: 10px;
    border: 1px solid #fdbb2d \9;
    box-shadow: 0 0 2px 0 #fdbb2d;
    position: absolute;
    width: auto;
    min-width: 210px;
    left: -210px;
    background-color: #ffffff;
    z-index: 9;
    color: #999999;
    display: none;
    cursor: pointer;
}

.board-item .item-tips:hover .tips-box {
    display: block;
}

/*材料图片*/
.board-item .material-style {
    width: 750px;
    top: -5px;
    left: 0;
    z-index: 3;
}

.board-item .material-style .list {
    margin-top: 10px;
}

.board-item .item-right .list .material-img {
    vertical-align: middle;
}

/*router-process 1.1隐藏元素开始*/
.process {
    background-color: #efefef;
    display: none;
}

.process .item-right .list {
    background-color: #ffffff;
}

.item-right .accept-box {
    float: left;
}

.item-right .accept-box .accept-text {
    float: left;
    margin: 0 10px 0 30px;
}

/*router-process 1.1隐藏元素结束*/

/*1.2隐藏元素开始*/
.panel-rails {
    background-color: #efefef;
    display: none;
    border-bottom: 1px solid #ffffff;
}

.edge-item {
    float: left;
    margin-left: 50px;
}
.edge-item:first-child{
    margin-left: 0;
}
.edge-item .edge-title {
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

.edge-item input {
    width: 80px !important;
}
.edge-item .pcs{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-left: 0;
    float: left;
}
.edge-item .edge-tips {
    float: left;
    margin-left: 10px;
    position: relative;
}

.edge-item .edge-tips > span {
    color: #408a00;
    text-decoration: underline;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
}

.edge-item .edge-tips img {
    display: none;
    position: absolute;
    z-index: 10;
    left: -360px;
    top: 30px;
}

.edge-item .edge-tips:hover img {
    display: block;
}
.edge-item .rails{
    float: left;
}
.edge-item .dropdown1 {
    position: relative;
}

.edge-item .dropdown1 input {
    width: 138px !important;
}

.edge-item .dropdown-ul {
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 9;
    width: 138px;
}

.edge-item .edge-mm {
    float: left;
}
.edge-item .edge-mm span{
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-left: 0;
}
.panel-rails .edge-box {
    padding-left: 130px;
    box-sizing: border-box;
}

.panel-rails .edge-box .edge-text {
    width: 748px;
    height: 58px;
    overflow: auto;
    resize: none;
    margin: 10px 0;
}

/*1.2个隐藏元素结束*/

.item-right .get-value {
    width: 158px;
    height: 28px;
    border: 1px solid #cfcfcf;
    line-height: 28px \9;
    text-indent: 15px;
}

/*第三项*/
.start-flag {
    background-image: url("../images/strat.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 7px;
    height: 6px;
    position: absolute;
    top: 12px;
    left: -12px;
}

.item-right .size-length, .size-width {
    float: left;
    border: 1px solid #cfcfcf;
    text-indent: 15px;
    width: 148px;
    height: 28px;
    line-height: 30px \9;
}

.item-right .cheng-hao {
    display: inline-block;
    padding: 0 10px;
    font-size: 18px;
    float: left;
    line-height: 28px;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.board-item .inch-box {
    float: right;
    width: 94px;
    padding-left: 8px;
    box-sizing: border-box;
    height: 28px;
    line-height: 28px;
    color: #727171;
    border: 1px solid #cfcfcf \9;
    box-shadow: 0 0 2px 0 #c9caca;
    margin-right: 15px;
    background-image: url(../images/problem.png);
    background-position: 92% center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    text-align: left;
    *z-index: 9;
}

.inch-box .inch-open {
    position: absolute;
    top: 29px;
    left: -242px;
    width: 336px;
    height: 370px;
    padding: 12px 30px;
    box-sizing: border-box;
    display: none;
    z-index: 9;
    text-indent: 0;
    border: 1px solid #fdbb2d \9;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 #fdbb2d;
    text-align: left;
}

.inch-open-pic {
    border-bottom: 1px solid #efefef;
}

.inch-open .inch-input {
    margin-top: 25px;
}

.inch-open .inch-input .inch-inputX {
    width: 250px;
    height: 40px;
    border: 1px solid #cfcfcf;
    padding: 0 12px;
    box-sizing: border-box;
    color: #2e2525;
    margin-bottom: 10px;
}

.inch-open .inch-input .inch-inputX .inputX {
    height: 35px;
    width: 170px;
    text-indent: 15px;
}

.inch-open .inch-input .submin {
    width: 250px;
    height: 40px;
    background-color: #2e2525;
    color: #ffffff;
    font-weight: bold;
    transition: all .3s;
    border-radius: 2px;
    margin-top: 5px;
    cursor: pointer;
}

.inch-open .inch-input .submin:hover {
    background-color: rgba(58, 47, 47, 0.84);
}

.inch-box:hover .inch-open {
    display: block;
}

/*第四项*/
.board-nums {
    height: 230px;
    background-color: #efefef;
    width: 425px;
    position: absolute;
    top: 30px;
    left: -1px;
    border: 1px solid #cfcfcf;

    /*兼容IE7*/
    *position: relative;
    *top: 0;
    *left: 0;
    *z-index: 9;
    /*兼容IE7*/
}

.dropdown-input {
    width: 158px;
    height: 28px;
    border: 1px solid #cfcfcf;
    line-height: 28px \9;
    text-indent: 15px;
    background: url("../images/downed-pointer.png") no-repeat 97% center #ffffff;
    position: relative;
}

.board-nums {
    display: none;
}

.boardnumber {
    position: absolute;
    top: 0;
    left: -1px;
    border: 1px solid #cfcfcf;
    z-index: 9;
    background-color: #efefef;
    padding: 5px;
    width: 416px;
    height: 220px;
}

.boardnumber > li {
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 0 5px;
    min-width: 40px;
    text-align: center;
    font-size: 12px;
    background-color: #ffffff;
    margin: 3px 1px;
    cursor: pointer;
    float: left;
}

.boardnumber > li:hover {
    background-color: #d0b8b8;
}

.other-box {
    width: 416px;
    height: 30px;
    border-radius: 2px;
    background-color: #efefef;
    position: absolute;
    top: 195px;
    left: 8px;
    z-index: 99;
}

.other-box .other-input {
    width: 95px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #d8d8d8;
    color: #6E6E6E;
    padding-left: 3px;
    margin-right: 3px;
}

.confirm-btn {
    width: 60px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    border: 0;
    font-size: 12px;
    margin-left: 6px;
    background: #271e1e;
    border-radius: 2px;
    color: #fff;
}

.cancel-btn {
    width: 60px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
    border: 0;
    font-size: 12px;
    margin-left: 6px;
    background: #7B7B7B;
    border-radius: 2px;
    color: #fff;
}

/*第五项*/
.layer-boxs {
    background-color: #efefef;
    min-height: 50px;
    display: none;
}

.dropdown1 {
    float: left;
    margin-right: 20px;
}

.dropdown-ul {
    position: absolute;
    top: 43px;
    left: 0;
    background-color: #ffffff;
    width: 158px;
    border: 1px solid #cfcfcf;
    display: none;
    z-index: 9;
}

.item-right h4 {
    margin-bottom: 5px;
}

.dropdown-ul > li {
    height: 30px;
    line-height: 30px;
    text-indent: 15px;
    cursor: pointer;
}

.dropdown-ul > li:hover {
    background-color: #d0b8b8;;
}

/*第六项隐藏元*/
.mcpcb {
    background-color: #efefef;
    display: none;
}

.metal-box > .list {
    background-color: #ffffff;
}

.metal-box > img {
    float: left;
    margin-right: 20px;
}

/*第十一项*/
.board-item .item-right .green, .red, .yellow, .blue, .white, .purple, .black, .matt-black, .matt-green {
    width: 30px;
    height: 20px;
    float: left;
    margin: 4px 17px 0 0;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
    border: 1px solid #cfcfcf;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.matt-black {
    background-color: #767676;
}

.matt-green {
    background-color: #57be5a;
}

.color-box {
    position: relative;
    top: -5px;
    left: 0;
    *top: 0;
    *left: 0;
    width: 768px;
}

.color-box .list {
    margin-top: 10px;
}

.bevel-box {
    float: left;
    display: none;
}

.bevel-text {
    float: left;
    margin: 10px 20px 0 40px;
}

.add-surface{
    margin-top: 40px;
    display: none;
}
.above-tips{
    padding-top: 40px;
    color: #727171;
}
.auni-nickel{
    display: none;
}
.other-nickel-btn{
    float: left;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #efefef;
    cursor: pointer;
}
.other-nickel-btn:hover{
    background-color: #efefef;
}
.other-nickel{
    min-height: 205px;
    z-index: 99999;
    width: 465px;
    padding: 35px 10px;
    background-color: #ffffff;
    display: none;
}
.other-nickel .lists{
   margin-right: -12px;
}
.other-nickel .list{
    margin-bottom: 20px;
}
.other-nickel .enter-au{
width: 400px;
}
.other-nickel .enter-au input{
    height: 15px;
    text-indent: 15px;
    width: 128px;
    border-bottom: 1px solid #c0c0c0;
    outline: none;
}
.other-nickel .submit-btn{
    padding-top: 150px;
}
.other-nickel .submit-btn .submit {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    color: #333;
    border: 1px solid #bcbcbc;
    background-color: #eee;
}
.other-nickel .submit-btn .submit:hover{
    background-color: #cccc;
}
.immersion-gold{
    display: none;
}
.surface-text {
    float: left;
    margin-right: 15px;
    color: #727171;
}

.add-po {
    float: left;
    margin-left: 10px;
}

.add-po > label {
    font-weight: bold;
    margin-right: 10px;
}

.inner-copper {
    display: none;
}

/*输入区域*/
.board-item .item-right .text-box {
    width: 750px;
    height: 98px;
    border: 1px solid #cfcfcf;
    resize: none;
    float: right;
    padding: 15px;
    margin: 0 20px 0 0;
    box-sizing: border-box;
}

.board-item .detailed-text {
    padding-left: 130px;
    line-height: 18px;
    margin: 20px 0 0 0;
    color: #727171;
    padding-top: 85px;
    box-sizing: border-box;
}

/*弹窗盒子开始*/
.open-mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    display: none;
}

.table-open {
    width: 620px;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -470px;
    z-index: 99999;
    opacity: 1;
}

.in-box {
    width: 100%;
    padding: 20px;
}

.getInput-box {
    margin-bottom: 10px;
}

.getInput-box .getInput {
    width: 300px;
    height: 38px;
    line-height: 38px;
    text-indent: 15px;
    border: 1px solid #cfcfcf;
    margin-left: 20px;
}

.open-title {
    width: 100%;
    height: 40px;
    border: 1px solid #271e1e;
    background-color: #2e2525;
}

.choose-title {
    font-weight: bold;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
    font-size: 18px;
    color: #ffffff !important;
}

.close-box {
    float: right;
    margin: 10px 20px 0 0;
}

.get-btn {
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    background-color: #b21f1f;
    border-radius: 2px;
    margin: 30px 0 0 40px;
}

/*弹窗盒子结束*/
/*Additional Options 模块的样式开始*/
.additional-box {
    margin-top: 10px;
    border: 1px solid #efefef;
}

.additional-box .options-title {
    height: 38px;
    line-height: 38px;
    width: 100%;
    background: url("../images/downed-pointer.png") no-repeat 98% center #dcdddd;
    padding-left: 25px;
    box-sizing: border-box;
    font-size: 12px;
    cursor: pointer;
}

.options-title .add-flag {
    font-size: 18px;
    margin-right: 5px;
}

.options-title .options-left {
    font-size: 14px;
    color: #2e2525;
    font-weight: bold;
    margin-right: 25px;
}

/*内容区域默认隐藏点击显示*/
.additional-box .options-content {
    display: none;
    padding-left: 25px;
    box-sizing: border-box;
}

.additional-box .show-content {
    display: block;
}

.additional-box .options-content > h5 {
    margin-top: 30px;
    color: #727171;
}

/*第一项*/
.below-box {
    margin-top: 20px;
    *min-width: 640px;
}

.below-box::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.below-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.below-box .below-input {
    width: 180px;
    height: 28px;
    overflow: hidden;
    text-indent: 15px;
    line-height: 28px;
}

.below-left, .below-right {
    float: left;
    margin-right: 35px;
}

.below-left .down-box {
    position: relative;
    width: 210px;
    border: 1px solid #cfcfcf;
    margin-top: 10px;
    float: left;
    *z-index: 9;
}

.below-right .down-box {
    position: relative;
    width: 210px;
    border: 1px solid #cfcfcf;
    margin-top: 10px;
    float: left;
    *z-index: 9;
}

.below-left .down-flag {
    background: url("../images/downed-pointer.png") no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.below-right .down-flag {
    background: url("../images/downed-pointer.png") no-repeat center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.peelable-box {
    background-color: #efefef;
    border: 1px solid #cfcfcf;
    padding: 5px;
    box-sizing: border-box;
    display: none;
    height: 40px;
    width: 240px;
    position: absolute;
    top: 29px;
    left: 0;
    z-index: 9;
}

.peelable-box > li {
    padding: 0 10px;
    float: left;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 8px;
    background-color: #ffffff;
    cursor: pointer;
}

.peelable-box > li:hover {
    background-color: #d0b8b8;
}

.marking-box {
    width: 600px;
    background-color: #efefef;
    height: 110px;
    padding: 5px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 29px;
    left: -1px;
    z-index: 9;
}

.marking-box > li {
    padding: 0 8px;
    float: left;
    min-height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
    margin: 0 8px 5px 0;
}

.marking-box > li:hover {
    background-color: #d0b8b8;
}

/*提示信息*/
.below-box .tips-box {
    position: relative;
    background: url("../images/problem.png") no-repeat center;
    width: 18px;
    height: 18px;
    float: left;
    margin-top: 15px;
    margin-left: 25px;
}

.below-box .tips-box .tips-text {
    padding: 10px;
    border: 1px solid #fdbb2d \9;
    box-shadow: 0 0 2px 0 #fdbb2d;
    position: absolute;
    width: auto;
    min-width: 210px;
    left: -210px;
    top: 22px;
    background-color: #ffffff;
    z-index: 9;
    color: #999999;
    display: none;
    cursor: pointer;
}

.below-box .tips-box:hover .tips-text {
    display: block;
}

.options-item {
    margin-top: 15px;
    *min-height: 180px;
}

.options-item::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.options-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.options-item .list {
    width: 208px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #cfcfcf;
    position: relative;
    text-align: center;
    float: left;
    margin-bottom: 15px;
    cursor: pointer;
}

.options-item .list .flag {
    background: url("../images/right-sign.png") no-repeat center;
    width: 11px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

/*添加active-list之后的样式*/
.options-item .active-list {
    border: 1px solid #2e2525;
}

.options-item .active-list .flag {
    display: block;
}

/*提示信息*/
.options-tips {
    position: relative;
    background: url("../images/problem.png") no-repeat center;
    width: 18px;
    height: 18px;
    float: left;
    margin: 6px 37px 0 25px;
}

.options-tips .tips-text {
    padding: 10px;
    border: 1px solid #fdbb2d \9;
    box-shadow: 0 0 2px 0 #fdbb2d;
    position: absolute;
    width: auto;
    min-width: 210px;
    left: -210px;
    top: 22px;
    background-color: #ffffff;
    z-index: 9;
    color: #999999;
    display: none;
    cursor: pointer;
}

.options-tips:hover .tips-text {
    display: block;
}

/*<!--SMD-Stencil 模块样式开始-->*/
.stencil-box {
    margin-top: 15px;
    border: 1px solid #efefef;
    border-top: 2px solid #2e2525;
}

.stencil-box .stencil-top {
    height: 50px;
    background: url("../images/no-right.png") no-repeat 98% center;
    cursor: pointer;
}

/*选中之后的标题*/
.stencil-box .active-top {
    background: url("../images/righted.png") no-repeat 98% center;
    border-bottom: 1px solid #efefef;
    cursor: pointer;
}

.stencil-logo {
    float: left;
    margin: 10px 0 0 25px;
}

.stencil-logo .icon-SMD {
    font-size: 26px;
}

.stencil-title {
    font-size: 18px;
    font-weight: bold;
    color: #2e2525;
    margin-left: 15px;
    line-height: 50px;
}

.stencil-order {
    margin-left: 35px;
}

.stencil-box .stencil-content {
    display: none;
}

/*选中之后显示主体*/
.stencil-box .show-stencil {
    display: block;
}

/*stencil 内容样式*/
/*左侧计价开始*/
.stencil-content .board-item::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.stencil-content .board-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.stencil-content .board-item {
    padding: 10px 0 10px 30px;
    border: 1px solid #efefef;
    border-top: none;
    cursor: pointer;
    color: #2e2525;
    /*border-top: 1px solid #efefef;*/
    border-right: none;
    border-left: none;
    /*border-bottom: none;*/
}

.stencil-content .board-item .item-left {
    width: 160px;
    line-height: 29px;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
}

.stencil-content .board-item .item-right {
    float: left;
    cursor: pointer;
}

.stencil-content .item-right .list {
    padding: 0 10px;
    border: 1px solid #cfcfcf;
    position: relative;
    min-height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 15px;
}

.stencil-content .item-right .list .flag {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/right-sign.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 12px;
    display: none;
}

/*选中后的样式*/
.stencil-content .item-right .active-list {
    border: 1px solid #2e2525;
}

.stencil-content .item-right .active-list .flag {
    display: block;
}

/*第二项*/
.stencil-content .item-right .valid-size {
    float: left;
    width: 320px;
    height: 27px;
    background-image: url("../images/downed-pointer.png");
    background-repeat: no-repeat;
    background-position: 98% center;
    border: 1px solid #cfcfcf;
    position: relative;
    *z-index: 9;
}

.stencil-content .item-right .valid-size .size-input {
    width: 295px;
    overflow: hidden;
    height: 27px;
    line-height: 27px;
    text-indent: 15px;
}

.stencil-content .item-right .valid-size .size-list {
    position: absolute;
    top: 27px;
    left: -1px;
    width: 735px;
    border: 1px solid #cfcfcf;
    font-size: 12px;
    background-color: #efefef;
    cursor: pointer;
    display: none;
    z-index: 9;
}

.stencil-content .item-right .valid-size .size-list > li {
    padding: 0 5px;
    min-height: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    min-width: 225px;
    background-color: #ffffff;
    text-align: center;
    margin: 5px;
}

.stencil-content .item-right .valid-size .size-list > li:hover {
    background-color: #d0b8b8;
}

.stencil-content .item-right .pieces {
    height: 28px;
    width: 160px;
    border: 1px solid #cfcfcf;
    margin-right: 5px;
    outline: none;
    text-indent: 15px;
}

.stencil-content .item-right .text-box {
    width: 722px;
    height: 98px;
    border: 1px solid #cfcfcf;
    resize: none;
    float: right;
    margin-right: 20px;
    padding: 15px;
    box-sizing: border-box;
    color: #727171;
}

/*<!--SMD-Stencil 模块样式结束-->*/

/*<!--PCB-Assembly 模块样式开始-->*/
.assembly-box {
    margin-top: 15px;
    border-top: 2px solid #2e2525;
}

.assembly-box .assembly-top {
    height: 50px;
    background: url("../images/no-right.png") no-repeat 98% center;
    border: 1px solid #efefef;
    cursor: pointer;
}

/*选中之后的标题*/
.assembly-box .active-top {
    background: url("../images/righted.png") no-repeat 98% center;
    border-bottom: 1px solid #cfcfcf;
    cursor: pointer;
}

.assembly-logo {
    float: left;
    margin: 10px 0 0 25px;
}

.assembly-logo .icon-SMT {
    font-size: 26px;
    color: #00a63f;
}

.assembly-title {
    font-size: 18px;
    font-weight: bold;
    color: #2e2525;
    margin-left: 15px;
    line-height: 50px;
}

.assembly-service {
    margin-left: 15px;
}

.assembly-box .assembly-content {
    display: none;
}

.assembly-box .show-assembly {
    display: block;
}

/*assembly内容区域*/
/*顶部材料盒子*/
.assembly-box .material-box {
    margin: 40px 0 20px 0;
}

.assembly-box .material-box::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.assembly-box .material-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.assembly-box .material-box .material-item {
    width: 300px;
    height: 138px;
    border: 1px solid #cfcfcf;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-right: 18px;
    *margin-right: 12px;
    cursor: pointer;
}

.assembly-box .material-box .material-item > .material-text {
    margin-top: 97px;
}

.assembly-box .material-box .material-item > .material-flag {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/right-sign.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 12px;
    display: none;
}

.assembly-box .material-box .material-item .img1, .img2 {
    position: absolute;
    top: 12px;
    left: 8px;
}

.assembly-box .material-box .material-item .img2 {
    position: absolute;
    top: 12px;
    left: 8px;
    display: none;
}

/*材料选中后的样式开始*/
.assembly-box .material-box .active-item {
    border: 1px solid #2e2525;
}

.assembly-box .material-box .active-item > .material-flag {
    display: block;
}

.assembly-box .material-box .active-item .img2 {
    display: block;
    z-index: 9;
}

/*材料选中后的样式结束*/
/*Assembly左侧下单开始*/
.assembly-box .board-item {
    border: 1px solid #efefef;
    margin-top: -1px;
    box-sizing: border-box;
    padding: 0 0 0 30px;
}

.assembly-box .board-item::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.assembly-box .board-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.assembly-box .board-item .board-left, .board-right {
    float: left;
    width: 437px;
    box-sizing: border-box;
    position: relative;
}

.assembly-box .board-item .board-right {
    margin-left: 30px;
    *margin-left: 28px;
}

.assembly-box .board-item .board-left {
    border-right: 1px solid #cfcfcf;
}

.assembly-box .board-item .item-left {
    width: 130px;
    position: relative;
    float: left;
    font-weight: bold;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 10px 0 10px 0;
}

.assembly-box .board-item .item-right {
    float: left;
    padding: 10px 0 10px 0;
}

.assembly-box .item-left .star-flag {
    background-image: url(../images/strat.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 7px;
    height: 6px;
    position: absolute;
    top: 22px;
    left: -10px;
}

.assembly-box .item-right .assem-quantity {
    width: 158px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #cfcfcf;
    float: left;
    text-indent: 15px;
}

.assembly-box .item-right .assem-stencil {
    float: left;
    margin: 0 8px 0 20px;
    min-height: 30px;
    line-height: 30px;
}

.assembly-box .board-item .list {
    padding: 0 10px;
    position: relative;
    border: 1px solid #cfcfcf;
    float: left;
    min-height: 28px;
    line-height: 28px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 15px;
}

.assembly-box .board-item .list .flag {
    background-image: url("../images/right-sign.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 11px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

/*不可选的样式*/
.item-right .disabled {
    background-color: #efefef;
    cursor: not-allowed !important;
    color: #727171;
}

/*添加类名active-list之后的样式开始*/
.assembly-box .board-item .active-list {
    border: 1px solid #2e2525;
}

.assembly-box .board-item .active-list .flag {
    display: block;
}

/*添加类名active-list之后的样式结束*/

.assembly-box .item-right .unique-img {
    float: left;
    position: absolute;
    top: 5px;
    margin-left: 10px;
}

.assembly-box .board-item .item-tips {
    position: relative;
    float: right;
    margin: 15px 20px 0 0;
    cursor: pointer;
}

.assembly-box .board-item .item-tips .tips-box {
    padding: 10px;
    border: 1px solid #fdbb2d \9;
    box-shadow: 0 0 2px 0 #fdbb2d;
    position: absolute;
    width: auto;
    min-width: 210px;
    left: -210px;
    background-color: #ffffff;
    z-index: 9;
    color: #999999;
    display: none;
    cursor: pointer;
}

.assembly-box .board-item .item-tips:hover .tips-box {
    display: block;
}

.assembly-box .board-item .item-right .text-box {
    width: 750px;
    height: 98px;
    border: 1px solid #cfcfcf;
    resize: none;
    float: right;
    margin-right: 20px;
    padding: 15px;
    box-sizing: border-box;
}

.assembly-box .board-item .detailed-text {
    padding-left: 130px;
    line-height: 18px;
    margin: 20px 0 10px 0;
    color: #727171;
}

.assembly-box .board-item .detailed-text > a {
    color: #fdbb2d;
}

/*Assembly左侧下单结束*/
/*新加计价按钮*/
.new-calculate {
    display: block;
    width: 180px;
    height: 40px;
    background-color: #271e1e;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    float: right;
    margin-top: 15px;
}

.new-calculate .icon-jisuan {
    font-size: 28px;
    margin-right: 10px;
    vertical-align: sub;
}

/*重写easyUI输入框样式*/
.validatebox-invalid {
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: right center;
    border-color: #ffa8a8;
    background-color: #fff3f3;
    color: #000;
}

/*新加通用价格总计*/
.general-price {
    padding: 20px 20px 0;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #efefef;
    height: 70px;
}

.general-price .active-content {
    height: 38px;
}

.general-price .hint-text {
    width: 72px;
    word-wrap: break-word;
    word-break: break-all;
    float: left;
    font-weight: bold;
}

.general-price .hint-price {
    float: right;
    width: 138px;
    text-align: right;
    color: #b21f1f;
    font-size: 30px;
}

.general-price .hint-price .hint-price-jp {
    font-size: 12px;
    margin-right: 10px;
    color: #727171;
}

.general-price .hint-price p {
    font-size: 30px;
    color: #b21f1f;
    float: right;
}

/*新加通用价格总计*/

/*gerber viewer*/
.gerber-viewer {
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 3;
    font-size: 12px;
    cursor: pointer;
    background-color: #408b00;
}

.gerber-viewer > a {
    color: #ffffff;
}

.gerber-viewer .gerber {
    vertical-align: top;
}

.gerber-viewer:hover .gerber {
    text-decoration: underline;
}

/*gerber viewer*/
