.phone-banner {
    background: url("../images/phone-banner.jpg") no-repeat center;
    width: 100%;
    height: 510px;
    min-width: 1280px;
}

.phone-link {
    height: 180px;
    background-color: #ffffff;
}

.phone-link .container_warp {
    position: relative;
}

.phone-link li {
    cursor: pointer;
    border-left: 1px solid #ddddde;
    height: 180px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 25px;
    text-align: center;
    transition: all .3s;
}
.phone-link li:hover{
    background-color: #f7f8f8;
}
.phone-link li:last-child {
    border-right: 1px solid #ddddde;
}

.phone-link li .iconfont {
    font-size: 33px;
    position: relative;
}

.phone-link li .iconfont > img {
    position: absolute;
    top: 2px;
    right: -2px;
    z-index: 3;
}

.phone-link li > p {
    margin-top: 15px;
}

.phone-link .mobile {
    position: absolute;
    top: -443px;
    right: 0;
    z-index: 3;
}

/*登录与注册*/
.login-register {
    background-color: #f7f8f8;
    height: 560px;
    min-width: 1280px;
}

.login-register .container_warp {
    position: relative;
}

.login-register .m-login {
    position: absolute;
    top: 110px;
    left: 40px;
    z-index: 6;
}

.login-register .m-register {
    position: absolute;
    top: 200px;
    left: 360px;
    z-index: 5;
}

.login-register .m-account {
    position: absolute;
    top: 508px;
    right: 90px;
    z-index: 5;
}

.login-register h3 {
    font-size: 24px;
    color: #2e2525;
    float: right;
    margin: 340px 90px 0 0;
}

/*计价与下单*/
.phone-quote {
    height: 640px;
    background-color: #ffffff;
}

.phone-quote .container_warp {
    position: relative;
}

.phone-quote .phone-quote-img {
    position: absolute;
    top: 280px;
    right: -50px;
    z-index: 3;
}

.quote-text {
    float: left;
    margin: 380px 0 0 90px;
    height: 260px;
}

.quote-text > h3 {
    font-size: 24px;
    margin: 0 0 50px 40px;
}

.quote-text .quote-list {
    width: 380px;
}

.quote-text .quote-list li {
    float: left;
    margin: 0 0 50px 40px;
    width: 150px;
    height: 60px;
    transition: all .3s;
    cursor: pointer;
}
.quote-text .quote-list li:hover{
    transform: translateY(-5px);
}
.quote-text .quote-list li i {
    margin-right: 10px;
    float: left;
}

.quote-text .quote-list li div{
    vertical-align: top;
    float: left;
}
/*添加购物车*/
.add-basket{
    height: 700px;
    background-color: #f4f2f2;
    width: 100%;
    min-width: 1280px;
}
.add-basket .container_warp{
    position: relative;
    height: 700px;
}
.add-basket .the-cart{
    position: absolute;
    top: 370px;
    left: 0;
    z-index: 5;
}
.add-basket .car-bottom{
    position: absolute;
    bottom: -3px;
    right: 90px;
    z-index: 5;
}
.add-basket h3{
    float: right;
    margin: 580px 90px 0 0;
    color: #2e2525;
    font-size: 24px;
}
/*手机文件上传提示*/
.phone-upload{
    height: 750px;
    background-color: #ffffff;
}
.phone-upload .container_warp{
    height: 750px;
}
.phone-upload .ps-tips{
    float: right;
    margin: 30px 90px 0 0;
    /*border: 1px solid red;*/
    height: 120px;
    width: 370px;
}
.phone-upload .ps-tips>p{
    width: 280px;
    font-size: 12px;
    line-height: 20px;
    float: left;
}
.phone-upload .ps-tips>i{
    float: right;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    font-size: 30px;
    color: #ffffff;
    text-indent: 10px;
    line-height: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background: -webkit-linear-gradient(-45deg, #cc7d50, #270703); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(-45deg, #cc7d50, #270703); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(-45deg, #cc7d50, #270703); /* Firefox 3.6 - 15 */
    background: linear-gradient(-45deg, #cc7d50, #270703); /* 标准的语法 */
    background-color: #cc7d50; /* 低版本IE */
}
.phone-upload .ps-tips>i:before{
    content:"";
    position: absolute;
    left: -25px;
    top: -55px;
    width: 100px;
    height: 6px;
    background-color: rgba(255,255,255,.4);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: searchLights 1s ease-in 2s infinite;
    -o-animation: searchLights 1s ease-in 2s infinite;
    animation: searchLights 1s ease-in 2s infinite;
}
@-webkit-keyframes searchLights {
    0% { left: -35px; top: 0; }
    to { left: 45px; top: 100px; }
}
@-o-keyframes searchLights {
    0% { left: -35px; top: 0; }
    to { left: 45px; top: 100px; }
}
@-moz-keyframes searchLights {
    0% { left: -35px; top: 0; }
    to { left: 45px; top: 100px; }
}
@keyframes searchLights {
    0% { left: -35px; top: 0; }
    to { left: 45px; top: 100px; }
}
/*歉意提示*/
.sorry-box{
    background: url("../images/sorry-bg.png") no-repeat center;
    width: 100%;
    height: 140px;
    min-width: 1280px;
    margin-top: 330px;
    float: left;
    color: #ffffff;
}
.sorry-box>img{
    float: left;
    margin-left: 45px;
}
.sorry-box>p{
    font-size: 14px;
    line-height: 20px;
    float: left;
    margin: 30px 0 0 40px;
    width: 850px;
}