@import "public_jp.css";
@import "header_jp.css";
@import "footer_jp.css";
input::-webkit-input-placeholder {
  color: #ffffff;
}
input::-moz-placeholder {
  color: #ffffff;
}
input:-ms-input-placeholder {
  color: #ffffff;
}
.clear:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.process-box {
  height: auto;
  padding-bottom: 120px;
}
.process-box .banner {
  background: url("../images/process-bg.jpg") no-repeat center;
  width: 100%;
  min-width: 1280px;
  height: 540px;
}
.process-box .banner .process-from {
  width: 320px;
  height: 540px;
  background-color: #2e2525;
  padding: 60px 35px 0 40px;
  box-sizing: border-box;
  float: left;
}
.process-box .banner .process-from h2 {
  color: #877070;
  font-size: 18px;
}
.process-box .banner .process-from .form-item {
  border: 1px solid #4c3a3a;
  width: 238px;
  margin-top: 15px;
  border-radius: 2px;
  background-color: #3b2f2f;
}
.process-box .banner .process-from .form-item .item-name,
.process-box .banner .process-from .form-item .item-value {
  float: left;
  height: 38px;
}
.process-box .banner .process-from .form-item .item-name {
  width: 70px;
  line-height: 16px;
  margin-top: 4px;
  color: #877070;
  padding-left: 10px;
}
.process-box .banner .process-from .form-item .item-value {
  width: 158px;
  line-height: 38px;
  outline: none;
  color: #ffffff;
  text-indent: 15px;
  background-color: #3b2f2f;
}
.process-box .banner .process-from .form-item:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.process-box .banner .process-from .form-item .first-name {
  height: 38px;
  line-height: 38px;
  margin-top: 0;
}
.process-box .banner .process-from .submit-btn {
  width: 240px;
  color: #ffffff;
  background: url("../images/btn-right.png") #b21f1f no-repeat 90% center;
  height: 44px;
  line-height: 44px;
  margin-top: 30px;
  text-align: left;
  padding-left: 30px;
  border-radius: 2px;
  cursor: pointer;
}
.process-box .banner .process-from .submit-btn:active {
  outline: none;
}
.process-box .banner .process-from .submit-btn:focus {
  outline: none;
}
.process-box .banner .process-from .submit-btn:hover {
  background: url("../images/btn-right.png") #bf2323 no-repeat 90% center;
}
.process-box .banner .process-from .form-tips {
  margin-top: 30px;
}
.process-box .banner .text-box {
  float: right;
  min-height: 300px;
  width: 640px;
  color: #ffffff;
  margin-top: 95px;
}
.process-box .banner .text-box h2 {
  font-size: 26px;
  word-spacing: 8px;
  font-weight: normal;
  margin-bottom: 20px;
}
.process-box .banner .text-box h3 {
  font-weight: normal;
}
.process-box .banner .text-box p {
  margin-top: 35px;
  line-height: 20px;
  text-indent: 1em;
}
.process-box .content-box:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.process-box .content-box .menu-left {
  width: 238px;
  margin-top: 36px;
  float: left;
}
.process-box .content-box .menu-left .menu-top {
  background: #f7f8f8;
  border: 1px solid #efefef;
  width: 238px;
  height: 60px;
  font-size: 24px;
  color: #2e2525;
  line-height: 60px;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}
.process-box .content-box .menu-left .menu-item {
  height: 40px;
  line-height: 40px;
  width: 238px;
  text-align: left;
}
.process-box .content-box .menu-left .menu-item a {
  color: #2e2525;
  width: 238px;
  height: 40px;
  border: 1px solid #efefef;
  border-top: 0;
  padding-left: 10px;
  box-sizing: border-box;
}
.process-box .content-box .menu-left .menu-item:hover {
  background-color: #2e2525;
}
.process-box .content-box .menu-left .menu-item:hover a {
  color: #ffffff;
}
.process-box .content-box .menu-left .how-order {
  height: 40px !important;
  line-height: 16px;
}
.process-box .content-box .menu-left .how-order a {
  height: 40px;
  line-height: 16px;
  float: left;
  padding-top: 15px;
}
.process-box .content-box .menu-left .active {
  background-color: #2e2525;
  width: 238px;
  height: 100%;
}
.process-box .content-box .menu-left .active a {
  color: #ffffff;
  height: 100%;
}
.process-box .content-box .menu-right {
  float: left;
  margin: 28px 0 0 80px;
  min-height: 300px;
  width: 960px;
}
.process-box .content-box .menu-right .content-title {
  height: 70px;
  line-height: 70px;
  width: 960px;
  font-size: 30px;
  color: #b21f1f;
  border-bottom: 1px solid #dedede;
  position: relative;
}
.process-box .content-box .menu-right .content-title:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  border-bottom: 1px solid #b21f1f;
  width: 50px;
}
.process-box .content-box .menu-right p {
  margin-top: 30px;
  line-height: 20px;
  text-indent: 1em;
}
.process-box .content-box .menu-right table {
  margin-top: 50px;
  width: 100%;
  border: 1px solid #efefef;
  border-bottom: 0;
}
.process-box .content-box .menu-right table .deepen {
  background: #f7f8f8;
}
.process-box .content-box .menu-right table .vertical {
  vertical-align: top;
}
.process-box .content-box .menu-right table td {
  padding: 16px 30px;
  border-bottom: 1px solid #efefef;
}
.process-box .content-box .menu-right table td:first-child {
  width: 31%;
  border-right: 1px solid #efefef;
}
.process-box .content-box .menu-right table td:first-child + td {
  width: 69%;
  border-right: 1px solid #efefef;
}
.process-box .content-box .menu-right .link-tips {
  margin-top: 60px;
}
.process-box .content-box .menu-right .link-tips a {
  color: #b21f1f;
  text-decoration: underline;
  font-size: 16px;
}
:root .process-box .content-box .menu-left .menu-top {
  padding-left: 25px;
}
:root .process-box .content-box .menu-left .menu-item a {
  padding-left: 25px;
}
.process-box .menu-right .the-below {
  margin-top: 50px;
  font-size: 16px;
}
.process-box .menu-right .production-figure {
  position: relative;
  margin-top: 40px;
  background: url("../images/production-figure.png") no-repeat center;
  width: 960px;
  height: 931px;
}
.process-box .menu-right .figure-link {
  margin-top: 70px;
}
.process-box .menu-right .reminders-lists .reminders-item {
  border-top: 1px dashed #dedede;
  padding: 30px 0;
}
.process-box .menu-right .reminders-lists :first-child {
  border-top: 0;
}
.process-box .menu-right h3 {
  margin-top: 0;
}
.process-box .menu-right .turnkey-box {
  margin-top: 35px;
}
.process-box .menu-right .turnkey-box img {
  padding-left: 50px;
}
.process-box .menu-right .turnkey-box .the-assembly {
  background: url("../images/turnkey-bg.png") no-repeat center;
  width: 960px;
  height: 207px;
  position: relative;
  margin-top: -41px;
  padding: 40px 0;
  box-sizing: border-box;
}
.process-box .menu-right .turnkey-box .the-assembly li {
  width: 25%;
  height: 108px;
  border-left: 1px solid #e5caca;
  float: left;
  padding-left: 40px;
  color: #8e4747;
  box-sizing: border-box;
}
.process-box .menu-right .turnkey-box .the-assembly li .turnkey-title {
  font-size: 48px;
}
.process-box .menu-right .turnkey-box .the-assembly li .turnkey-text {
  font-size: 18px;
}
.process-box .menu-right .turnkey-box .the-assembly :first-child {
  border-left: 0;
}
.process-box .menu-right .turnkey-box .assembly-lines {
  margin-top: 60px;
  font-size: 16px;
  line-height: 20px;
  text-indent: 1em;
}
.process-box .menu-right .the-requested {
  margin: 40px 0;
}
.process-box .menu-right .requested-item {
  border-top: 1px #dedede dashed;
  padding: 40px 0;
  display: table;
}
.process-box .menu-right .requested-item .item-left {
  width: 270px;
  text-align: center;
  display: table-cell;
  vertical-align: top;
}
.process-box .menu-right .requested-item .item-right {
  min-height: 50px;
  width: 675px;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}
.process-box .menu-right .requested-item .item-right h6 {
  font-size: 18px;
}
.process-box .menu-right .requested-item .item-right .text {
  margin-top: 15px;
}
.process-box .menu-right .requested-item .item-right a {
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  background-color: #408a00;
  border-radius: 2px;
  margin-top: 25px;
}
.process-box .menu-right .requested-item .item-right a .online-gerber {
  font-size: 14px;
  margin-left: 10px;
  vertical-align: middle;
}
.process-box .menu-right .requested-item .item-right a:hover .online-gerber {
  text-decoration: underline;
}
.process-box .menu-right .requested-item .item-right .instructions {
  margin-top: 40px;
}
.process-box .menu-right .first-faq {
  margin-top: 37px;
}
.process-box .menu-right .faq-item {
  width: 958px;
  border: 1px solid #dedede;
  margin-bottom: 10px;
}
.process-box .menu-right .faq-item .faq-title {
  padding-left: 25px;
  height: 43px;
  line-height: 43px;
  font-weight: bold;
  border-bottom: 1px solid #dedede;
}
.process-box .menu-right .faq-item .faq-text {
  padding: 25px 20px;
  color: #898989;
  text-indent: 1em;
}
.process-box .menu-right .email-link {
  margin-top: 40px;
  text-align: center;
}
.process-box .menu-right .email-link a {
  color: #b21f1f;
  text-decoration: underline;
  font-size: 16px;
}
.process-box .content-box .menu-right .sign-register {
  margin-top: 34px;
  font-size: 16px;
}
.process-box .content-box .menu-right .sign-register a {
  color: #b21f1f;
  text-decoration: underline;
  text-indent: 0;
}
.process-box .content-box .menu-right .work-item {
  border-top: 1px dashed #dedede;
  margin-top: 40px;
  padding-top: 35px;
  font-size: 16px;
}
.process-box .content-box .menu-right .work-item .work-title {
  font-size: 18px;
  color: #2e2525;
  font-weight: bold;
}
.process-box .content-box .menu-right .work-item .firstly {
  margin-top: 20px;
}
.process-box .content-box .menu-right .work-item .first-link {
  text-decoration: underline;
  color: #b21f1f;
  margin: 5px 0 30px 0;
}
.process-box .content-box .menu-right .work-item img {
  margin-bottom: 30px;
}
.process-box .content-box .menu-right .work-item .secondly {
  font-size: 16px;
  margin: 0 0 30px 0;
}
.process-box .content-box .menu-right .work-item .thirdly {
  margin-bottom: 30px;
}
.process-box .menu-right .circuit {
  margin-top: 35px;
  font-weight: 200;
}
.process-box .menu-right .picture-box {
  margin-top: 45px;
}
.process-box .menu-right .picture-box:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  clear: both;
}
.process-box .menu-right .picture-box .preview {
  float: left;
  width: 798px;
  height: 640px;
  border: 1px solid #dedede;
  background: url("../images/bg-loading.gif") no-repeat center;
  position: relative;
}
.process-box .menu-right .picture-box .preview img {
  max-width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.process-box .menu-right .picture-box .choose {
  border: 1px solid #dedede;
  float: right;
  width: 96px;
  height: 640px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.process-box .menu-right .picture-box .choose .pre,
.process-box .menu-right .picture-box .choose .next {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.3s;
  position: absolute;
  z-index: 20;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.process-box .menu-right .picture-box .choose .pre:hover,
.process-box .menu-right .picture-box .choose .next:hover {
  background-color: #dedede;
}
.process-box .menu-right .picture-box .choose .next {
  bottom: 0;
}
.process-box .menu-right .picture-box .choose .iconfont {
  font-size: 36px;
}
.process-box .menu-right .picture-box .choose .img-mask {
  position: relative;
  margin-top: 40px;
  z-index: 5;
  height: 560px;
  overflow: hidden;
}
.process-box .menu-right .picture-box .choose .choose-img {
  height: 560px;
  position: absolute;
  top: 0;
  z-index: 5;
}
.process-box .menu-right .picture-box .choose .choose-img li {
  width: 96px;
  height: 80px;
  box-sizing: border-box;
  position: relative;
}
.process-box .menu-right .picture-box .choose .choose-img li:hover {
  border: 1px solid #b21f1f;
}
.process-box .menu-right .picture-box .choose .choose-img li img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.process-box .menu-right .picture-box .choose .choose-img .active {
  border: 1px solid #b21f1f;
}
.valuation-box {
  width: 100%;
  height: 240px;
  background-color: #efebeb;
  position: relative;
  overflow: hidden;
}
.valuation-box .mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 48px;
  min-width: 1280px;
  background-color: #ffffff;
  z-index: 3;
}
.valuation-box .valuation-item {
  height: 242px;
  background: url("../images/valuation-bg.png") no-repeat 50% center;
  padding: 95px 0 0 210px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.valuation-box .valuation-item .your-files {
  font-size: 18px;
}
.valuation-box .valuation-item .got-project {
  margin-top: 10px;
  color: #826c6c;
  font-size: 12px;
}
.valuation-box .valuation-item .got-project a {
  text-decoration: underline;
  color: #826c6c;
}
.valuation-box .valuation-item .pcb-now-btn {
  background: url("../images/pcb-btn-bg.jpg") no-repeat center;
  width: 293px;
  height: 65px;
  line-height: 58px;
  color: #ffffff;
  font-weight: bold;
  text-indent: 30px;
  position: absolute;
  top: 135px;
  right: 100px;
}
/*# sourceMappingURL=processDescription_jp.css.map */