
.main-display .main-box {
    width: 100%;
    min-width: 1280px;
}

/*展示banner*/
.main-box .display-banner {
    background: url("../images/display-bg.jpg") no-repeat center;
    height: 240px;
    width: 100%;
}

/*左侧切换盒子*/
.sample-show-box {
    margin-top: 1px;
    overflow: hidden;
}

.sample-l {
    border-right: 1px solid #efefef;
    padding-top: 60px;
    float: left;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    width: 270px;
    margin-top: 100px;
    position: relative;
    z-index: 99;
}

.sample-l .sample-left-item {
    text-align: right;
    padding-right: 32px;
    height: 20px;
    width: 100%;
    background: url("../images/round.png") no-repeat right top;
    box-sizing: border-box;
    margin-bottom: 40px;
    color: #727171;
    margin-left: 6px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    display: block;
}
.sample-l .sample-left-item:hover{
    background: url("../images/rounded.png") no-repeat right top;
    color: #b21f1f;
}
.sample-l .show-rounded{
    color: #b21f1f;
}
.sample-l .show-rounded{
    background-image: url("../images/rounded.png");
}

/*右侧*/
.sample-r {
    float: right;
    width: 960px;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    margin-top: 100px;
}

.sample-title {
    font-size: 30px;
    color: #b21f1f;
}

.sample-sign {
    width: 100%;
    border-top: 1px solid #b21f1f;
    margin-top: 30px;
    height: auto;
    position: relative;
}

.signs {
    position: absolute;
    top: -8px;
    left: 0;
    background-color: #ffffff;
    height: 15px;
    width: 40px;
}

/*邮箱盒子*/
.email-box {
    height: 450px;
    background: url("../images/email-box-bg.png") no-repeat 17% center;
    padding: 145px 0 0 400px;
    box-sizing: border-box;
    position: relative;
}

.email-box .email-box-text {
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
}
.send-email-btn{
   position: absolute;top: 275px;left: 150px;width: 180px;height: 30px;
    background-color: #fdbb2d;
    color: #b21f1f;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
.send-email-btn:hover{
    background-color: #e2ad29;
}
.sample-pic-box {
    margin-top: 35px;
    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.sample-pic-box1 {
    background-image: url("../images/display-bg2.jpg");
}

.sample-pic-box2 {
    background-image: url("../images/sample-bg2.jpg");
}

.sample-pic-box3 {
    background-image: url("../images/quickturn-bg.jpg");
}

.sample-pic-mask {
    width: 480px;
    height: 220px;
    color: #ffffff;
    background: url("../images/sample-back.png") no-repeat 38% 92%;
    padding: 104px 0 0 60px;
    box-sizing: border-box;
}

.quickturn-pic-mask {
    width: 480px;
    height: 220px;
    color: #ffffff;
    background: url("../images/sample-back.png") no-repeat 14% 83%;
    padding: 104px 0 0 60px;
    box-sizing: border-box;
}

.pic-mask-left {
    font-size: 18px;
    float: left;
    line-height: 27px;
}

/*文字介绍*/
.sample-text {
    color: #2e2525;
    line-height: 25px;
    margin: 50px 0 200px 0;
}

.text-item-box {
    height: 150px;
}

/*表格展示信息*/
.table-show-info {
    margin-top: 57px;
    padding-top: 50px;
    border-top: 1px dashed #727171;
    margin-bottom: 200px;
}

.table-show-info .table-title {
    font-size: 18px;
    color: #2e2525;
    font-weight: bold;
    margin-bottom: 30px;
}

.table-box {
    border-collapse: collapse;
    border: 1px solid #efefef;
    width: 100%;
    text-align: left;
}

.sample-box th {
    background-color: #f7f8f8;
    font-weight: bold;
    padding: 0 25px;
    box-sizing: border-box;
}

.sample-box td {
    font-size: 12px;
    padding: 0 25px;
    box-sizing: border-box;
}

.sample-box tr {
    height: 60px;
    border: 1px solid #efefef;
    text-align: left;
}

.sample-box .wd3 {
    width: 30%;
    border-right: 1px solid #efefef;
}

.sample-box .wd7 {
    width: 70%;
}

.sample-box .wd25 {
    width: 25%;
    height: 90px;
    border-right: 1px solid #efefef;
}

.sample-box .wsd5 {
    width: 50%;
    border-right: 1px solid #efefef;
}

.sample-box .wd50 {
    width: 50%;
    height: 90px;
}

.sample-box .wd16 {
    width: 16.5%;
    background-color: #f7f8f8;
    border-right: 1px solid #efefef;
}

.sample-box .wd33 {
    width: 33.5%;
    font-weight: bold;
}

.layout-box {
    margin-top: 45px;
}

/*表格结尾*/
.end-table {
    margin: 50px 0 230px 0;
}

.end-table .text-link {
    font-size: 12px;
    line-height: 20px;
}

.end-table .text-link .service-com {
    color: #b21f1f;
    text-decoration: underline;
    font-weight: bold;
}

/*邮箱链接*/
.mailbox-link{
    text-decoration: underline;font-weight: bold;color: #2e2525;
}
.sample-list {
    padding-bottom: 30px;
    border-bottom: 1px dashed #727171;
    margin-bottom: 30px;
}

.sample-list .list-title {
    font-size: 16px;
    font-weight: bold;
}

.text-price-item {
    border-right: 1px solid #efefef;
    height: 150px;
    padding-top: 25px;
    padding-right: 44px;
    box-sizing: border-box;
    word-break: break-all;
    padding-left: 30px;
    float: left;
}

.text-price-item .price-item {
    font-size: 72px;
    color: #2e2525;
    font-weight: bold;
}

.text-price-item .price-text {
    margin-top: 20px;
    font-size: 18px;
}

.requested-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 40px;
}

.sample-text .requested-item {
    padding: 50px 0 50px 320px;
    box-sizing: border-box;
    border-top: 1px dashed #727171;
    background-repeat: no-repeat;
    background-position: 14% center;
}

.sample-text .requested-item .item-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.requested-list-box {
    margin-top: 50px;
}

.requested-list-box > ul > li {
    margin-top: 30px;
}

.sample-text .faq-item {
    margin-top: 40px;
}

.sample-text .faq-title {
    font-weight: bold;
}

.sample-text .faq-text {
    padding: 20px 25px;
    background-color: #f7f8f8;
    margin-top: 20px;
    font-size: 12px;
}

.sample-text .samrle-box .samrle-item {
    width: 300px;
    height: 290px;
    background-color: #f7f8f8;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 25px;
}

.sample-text .samrle-box .remove-margin {
    margin-right: 0;
}

.sample-text .samrle-box .samrle-item .item-img {
    width: 100%;
    height: 220px;
}

.sample-text .samrle-box .samrle-item .item-img > img {
    width: 100%;
    height: 100%;
}

.sample-text .samrle-box .samrle-item > p {
    margin-top: 20px;
    padding-left: 25px;
}

.quickturn-title {
    font-size: 18px;
    font-weight: bold;
}
/*消息列表*/
.mass-box{
    margin: 60px 0 200px 0;
}
.mass-box .mass-item{
    padding-bottom: 50px;
    border-bottom: 1px dashed #727171;
    margin-top: 40px;
}
.mass-box .mass-item .mass-item-l{
    width: 320px;
    height: auto;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    float: left;
}
.mass-box .mass-item .mass-item-r{
    display: inline-block;
    width: 630px;
    line-height: 25px;
}
/*quickturn表格盒子*/
.quickturn-box {
    margin-top: 60px;
}

.quickturn-box th {
    background-color: #f7f8f8;
    font-weight: bold;
}

.quickturn-box td {
    background: url("../images/capability-bg.png") no-repeat 93% center;
}

/*计价盒子*/
.valuation-box {
    width: 100%;
    height: 240px;
    background-color: #efebeb;
    position: relative;
    overflow: hidden;
    margin-top: -48px;
}
.valuation-box .mask{
    position: absolute;
    top: 0;
    width: 100%;
    height: 48px;
    min-width: 1280px;
    background-color: #ffffff;
    z-index: 3;
}
.valuation-box .valuation-item {
    height: 242px;
    background: url("../images/valuation-bg.png") no-repeat 50% center;
    padding: 95px 0 0 210px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
}

.valuation-item .your-files {
    font-size: 18px;
    margin-top: 15px;
}

.got-project {
    margin-top: 20px;
    color: #826c6c;
}

.got-project > a {
    text-decoration: underline;
    color: #826c6c;
}

.pcb-now-btn {
    background: url("../images/pcb-btn-bg.jpg") no-repeat center;
    width: 293px;
    height: 65px;
    line-height: 58px;
    color: #ffffff;
    font-weight: bold;
    text-indent: 30px;
    position: absolute;
    top: 135px;
    right: 100px;
}
