/* 主体*/
.order-main {
    width: 100%;
    height: 100%;
}

.order-main::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.order-main:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧*/
.order-main .box-r {
    background-color: #fff;
    padding-right: 80px;
    padding-left: 276px;
    width: 1080px;
}

.box-r .r-title {
    padding-top: 55px;
    font-size: 24px;
    color: #2e2525;
    font-weight: bold;
}

/*底部文字信息*/
.copy-right-box {
    margin-top: 180px;
}

/*购买链接*/
.purchase-box {
    border-top: 1px solid #efefef;
    margin-top: 54px;
    padding-top: 100px;
}

.purchase-box .purchase-link {
    background-image: url("../images/promote/purchase-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    height: auto;
    width: inherit;
}

.link-top {
    height: 80px;
    text-align: center;
    width: inherit;
    font-size: 24px;
    color: #2e2525;
    padding-top: 12px;
    box-sizing: border-box;
}

.link-top > span {
    color: #b21f1f;
}

.link-share {
    height: 80px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: #2e2525;
    margin-top: 40px;
}

.link-share > a {
    color: #b21f1f;
    text-decoration: underline;
}

.btn-box {
    text-align: center;
    margin-top: 45px;
}

/*按钮盒子*/
.btn-tips {
    width: 754px;
    display: inline-block;
    height: auto;
    border: 1px dashed #b3b3b3;
    border-radius: 10px;
}

.tips-text {
    margin: 5px;
    height: auto;
    min-height: 50px;
    border: 1px solid #ddd;
    background-color: #f7f8f8;
    border-radius: 3px;
    text-align: center;
    line-height: 27px;
    font-size: 18px;
    color: #9fa0a0;
    width: 98%;
    padding: 10px 0;
    box-sizing: border-box;
    outline: none;
    overflow: hidden;
}

.submit-box {
    margin-top: 22px;
    text-align: center;
}

.btn-audit {
    width: 138px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background-color: #b21f1f;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 2px 2px #ccc;
    cursor: pointer;
    transition: all .3s;
}

.btn-audit:hover {
    background-color: #cb1f1f;
}

/*显示列表项*/
.show-item {
    margin-top: 85px;

}

.show-item .show-table {
    border-collapse: collapse;
    border: 1px solid #efefef;
    width: 100%;
}

.show-title {
    height: 40px;
    background-color: #f7f8f8;
    width: 100%;
    border-bottom: 1px solid #efefef;
}

.show-title .shared {
    width: 323px;
}

.show-title .status {
    width: 140px;
}

.show-title .add-time {
    width: 240px;
}

.show-title .earn {
    width: 137px;
}

.show-title .details {
    width: 240px;
}

th {
    border-right: 1px solid #efefef;
}

td {
    height: auto;
    text-align: center;
    font-size: 12px;
}

.link-url {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 305px;
    display: inline-block;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}

.link-url > a {
    color: #2e2525;
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link-text {
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 305px;
    line-height: 50px;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
}

.show-title .price {
    color: #b21f1f;
}

.show-title .pass {
    color: #0569c7;
}

.show-title .wait {
    color: #fdbb2d;
}

.show-title .failed {
    color: #b21f1f;
}
