/*清除默认样式*/
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'myfont';
    src: url('../fonts/MyriadPro-Regular.woff') format('woff'), /* chrome、firefox */ url('../fonts/MyriadPro-Regular.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/MyriadPro-Regular.otf'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/MyriadPro-Regular.svg#iconfont') format('svg'), /* iOS 4.1- */ url('../fonts/MyriadPro-Regular.eot');
}

img {
    border: none;
}

body {
    font-size: 14px;
    font-family: 'myfont', 'Arial';
    background-color: #fff;
}

a {
    text-decoration: none;
    display: inline-block;
}

input {
    border: none;
}

button {
    border: none;
}

i {
    display: inline-block;
    font-style: normal;
}

ul, ol {
    list-style: none;
}

/*公共版心*/
.container_warp {
    width: 1280px !important;
    margin: 0 auto;
}

/*论坛版心*/
.bbs_warp {
    width: 1280px;
    margin: 0 auto;
}

/*会员版心*/
.vip_warp {
    width: 1120px;
}

.container_warp::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
}

.rightf {
    float: right;
}

.leftf {
    float: left;
}

.font12 {
    font-size: 12px;
    color: #727171;
}

.clear-float {
    clear: both;
    zoom: 1 \9;
}

.ie-float {
    overflow: auto \9;
}

.clear-fix:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

textarea::-webkit-input-placeholder {
    color: #999;
}

textarea::-moz-placeholder {
    color: #999;
}

textarea::-moz-placeholder {
    color: #999;
}

textarea:-ms-input-placeholder {
    color: #999;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}

::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}

.font-color {
    color: #727171;
}

/*图片文字对齐*/
.align-pic {
    vertical-align: middle;
}

/*清除IEX号*/
/*::-ms-clear,::-ms-reveal{display:none;}*/
input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}

/*右侧悬浮*/
.business-pic {
    padding-right: 10px;
    height: 172px;
    background-color: #3575bd;
    position: fixed;
    right: -160px;
    top: 258px;
    transition: all .5s;
    border-radius: 2px;
    box-shadow: 0 0 4px 0px #33333370;
    font-size: 12px;
}

.business-pic:hover {
    right: 0;
}

.business-pic a {
    color: #ffffff;
}

.business-pic a .icon-Skype {
    font-size: 21px;
}

.business-l {
    width: 50px;
    background-color: #397ecc;
    float: left;
    display: inline-block;
    padding: 10px 0 10px 0;
    border-radius: 2px;
}

.business-l ul li {
    text-align: center;
    color: #ffff;
    height: 38px;
    line-height: 38px;
}

.top-pics {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.top-pics img {
    width: 100%;
    height: 100%;
}

.business-l ul li a img {
    vertical-align: middle;
}

.business-r {
    width: 150px;
    float: left;
    text-indent: 5px;
    padding: 10px 0 15px 0;
}

.business-r ul li {
    height: 38px;
    line-height: 38px;
}

/*会员中心左侧*/
/*字体线*/
.font-line {
    position: absolute;
    top: 122px;
    left: 48px;
    height: auto;
    border-left: 1px solid #efefef;
    z-index: 999;
}

/*字体线*/
/*左侧*/
.order-main .box-l {
    position: absolute;
    left: 0;
    top: 119px;
    z-index: 99;
    width: 240px;
    background-color: #ffffff;
    min-height: 100%;
    border-right: 1px solid #efefef;
}

.order-main .box-l .category > .item {
    /*height: 50px;*/
    /*line-height: 50px;*/
    border-top: 1px solid #efefef;
    background-color: #ffffff;
    color: #fff;
    cursor: pointer;
}

/*鼠标经过*/
.order-main .box-l .category > .item:hover .category-name {
    color: #b21f1f;
}

.order-main .box-l .category > .item > a:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.order-main .box-l .category > .item > a {
    color: #3e3a39;
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
}

.order-main .box-l .category > .item > a .iconfont {
    display: inline-block;
    width: 48px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    border-bottom: 1px solid #efefef;
    float: left;
}

.order-main .box-l .category > .item > a .icon-daipingjiab {
    font-size: 24px;
}

.order-main .box-l .category > .item > a .icon-34 {
    font-size: 32px;
}

.order-main .box-l .category > .item > a .icon-gerenziliao {
    font-size: 18px;
}

.order-main .box-l .category > .item > a .category-name {
    height: 50px;
    display: inline-block;
    width: 192px;
    border-bottom: 1px solid #efefef;
    float: left;
    text-indent: 15px;
    position: relative;
}

.order-main .box-l .category .cash-coupon {
    margin-top: 80px;
}

.order-main .box-l .category .more-list > a .iconfont {
    /*font-size: 24px;*/
}

/*一级菜单选中改变外观样式*/
.order-main .box-l .category .active {
    background-color: #f7f8f8;
}

.order-main .box-l .category .active > a .category-name {
    color: #b21f1f;
}

.order-main .box-l .category .active .second-item {
    display: block;
}

.second-item {
    display: none;
    height: auto !important;
    background-color: #ffffff;
}

.second-item > a {
    display: block;
    height: 39px;
    line-height: 40px;
    color: #3e3a39;
    font-size: 12px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 35% center;
}

.second-item .second-name {
    display: inline-block;
    width: 192px;
    height: 39px;
    margin-left: 48px;
    text-indent: 25px;
    border-top: 1px solid #efefef;
}

/*二级菜单显示*/
.show-second {
    display: block;
    background-color: #efefef;
}

.show-second > a .category-name {
    color: #b21f1f;
}

.second-item .second-active {
    height: 40px;
    line-height: 40px;
    color: #b21f1f;
    background-color: #efefef;
}

/*新加列表样式*/
.active-new .icon-new {
    position: absolute;
    top: 0;
    left: -19px;
    z-index: 9;
    color: #4a90e2;
    line-height: 22px;
    height: 20px !important;
    border-bottom: 0 !important;
}

/*会员中心右侧面包屑导航*/

/*分页样式*/
#pageToolbar {
    margin-bottom: 120px !important;
    margin-top: 0;
}

.ui-paging-container {
    color: #666;
    font-size: 12px;
}

.ui-paging-container ul {
    overflow: hidden;
    text-align: center;
}

.ui-paging-container ul, .ui-paging-container li {
    list-style: none;
}

.ui-paging-container li {
    display: inline-block;
    padding: 3px 6px;
    margin-left: 5px;
    color: #666;
}

.ui-paging-container li.ui-pager {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #ffffff;
    display: inline-block;
    padding: 10px 14px;
    margin-left: 5px;
    color: #666;
}

.ui-paging-container li.ui-pager:hover, .ui-paging-container li.focus {
    background-color: #2e2525;
    color: #FFFFFF;
}

.ui-paging-container li.ui-paging-ellipse {
    border: none;
}

.ui-paging-container li.ui-paging-toolbar {
    padding: 0;
}

.ui-paging-container li.ui-paging-toolbar select {
    height: 22px;
    border: 1px solid #ddd;
    color: #666;
}

.ui-paging-container li.ui-paging-toolbar input {
    height: 33px;
    width: 50px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 0 0 5px;
    vertical-align: middle;
}

.ui-paging-container li.ui-paging-toolbar a {
    text-decoration: none;
    display: inline-block;
    height: 34px;
    border: 1px solid #ddd;
    vertical-align: top;
    border-radius: 2px;
    line-height: 34px;
    padding: 0 3px;
    cursor: pointer;
    margin-left: 5px;
    color: #666;
    width: 50px;
}

.ui-paging-container li.ui-pager-disabled, .ui-paging-container li.ui-pager-disabled:hover {
    background-color: #ffffff;
    cursor: default;
    color: #ddd;
}

/*分页样式2*/
/*放假通知*/
.holiday-tips {
    min-width: 1280px;
    background-color: #d0ba9a;
}

.holiday-tips .tips-content {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px 0 0 60px;
    position: relative;
}
@media screen and (min-width: 1800px){
    .holiday-tips .tips-content {
        width: 1280px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 15px 0 0 0;
    }
}
/*关闭*/
.holiday-tips .tips-content .icon-guanbi{
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 9;
    font-size: 22px;
    cursor: pointer;
    transition: all .3s;
}
.holiday-tips .tips-content .icon-guanbi:hover{
    color: #b21f1f;
    transform: rotate(90deg);
}
.holiday-tips .tips-content .tips-logo {
    float: left;
}

.holiday-tips .tips-content .tips-logo .iconfont {
    font-size: 24px;
    line-height: 24px;
    color: #2e2525;
    display: block;
    -webkit-animation: radio .5s ease-in infinite;
}

.holiday-tips .tips-content .tips-text {
    float: left;
    margin-left: 10px;
}

.holiday-tips .tips-content .tips-text h5 {
    color: #ac0000;
    font-size: 16px;
}

.holiday-tips .link-holiday {
    color: #2e2525;
}

.holiday-tips .link-holiday:hover {
    text-decoration: underline;
}

.holiday-tips .quote-link .enquiry {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.holiday-tips .quote-link .quote-now:hover{
    color: #b21f1f;
}


@keyframes radio {
    0% {
       transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}


/*放假通知*/
