
/*主体内容*/
.forum-pic {
    margin-top: 55px;
}

.water-full-box {
    margin-top: 40px;
    min-width: 1280px;
    /*min-height: 520px;*/
    height: auto;
}
.water-full-box .box-list {
    width: 299px;
    border: 1px solid #efefef;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
    background-color: #ffffff;
    transition: all .3s;
    opacity: 0;
    filter: alpha(opacity=0);
}
.water-full-box .box-list:hover{
    transform: translateY(-5px);
    box-shadow: 0 2px 1px 0 #F6F6F6;
}
.water-full-box .box-list > img {
    width: 255px;
}

.fall-title {
    padding: 15px 0 15px 0;
}

.fall-title .fall-l {
    height: 30px;
    color: #727171;
    font-size: 12px;
}

.fall-title .header-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
}

.fall-title .national-flag {
    vertical-align: middle;
    margin-left: 5px;
}

.fall-title .fall-text {
    margin-top: 20px;
    border-top: 1px solid #efefef;
    color: #3e3a39;
}

.good-stars {
    height: 12px;
    margin-bottom: 12px;
}

.good-stars li {
    float: left;
    width: 10px;
    height: 12px;
    margin-right: 2px;
    background: url("../images/order/stars.png") no-repeat center;
}

.list-text {
    font-weight: bold;
    color: #2e2525;
    word-break: break-all;
    /*word-wrap: break-word;*/
}

.list-text > a {
    color: #2e2525;
}
/*返回顶部*/
.go-btn {
    position: fixed;
    right: 10px;
    top: 650px;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

/*底部列表*/
.footer {
    height: 120px;
    padding-top: 30px;
    background-color: #271e1e;
    width: 100%;
    min-width: 1280px;
    margin-top: 50px;
}

.footer-item .footer-item-ul {
    padding: 30px 0;
    color: #826c6c;
    font-size: 12px;
}

.footer-item .footer-item-ul > li {
    float: left;
    border-right: 1px dotted #877070;
    padding: 0 20px;
}

.footer-item .footer-item-ul .ban-quan {
    padding-left: 0;
}

.footer-item .footer-item-ul .footer-last-item {
    border-right: none;
    box-sizing: border-box;
}

.min-logo {
    margin-left: 100px;
}

.min-logo img {
    vertical-align: middle;
}

.footer-item .footer-item-icon {
    padding-top: 35px;
    padding-bottom: 108px;
}

.footer-item .footer-item-icon > li {
    float: left;
    margin-right: 1px;
}