/*banner图*/
.banner-box {
    width: 100%;
    height: 240px;
    min-width: 1280px;
    background: url("../images/optimized.jpg") no-repeat;
    background-image: url("../images/optimized.jpg") \9;
    background-repeat: no-repeat \9;
    padding-top: 196px;
    background-size: cover !important;
    background-position: center;
    box-sizing: border-box;
}

/*二级吸顶导航*/
.nb {
    width: 100%;
    height: 44px;
    background-color: #d0b8b8;
}

.banner-box .banner-ul {
    height: 44px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.banner-box .banner-ul .active {
    background-color: #ffffff;
    color: #2e2525;
}

.banner-box .banner-ul .active a {
    color: #2e2525;
}

.banner-box .banner-ul > li {
    width: 319px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #d0b8b8;
    float: left;
    border-right: 1px solid #a48d8d;
    color: #ffffff;
}

.banner-box .banner-ul li a {
    color: #2e2525;
}

/*主体列表盒子*/
.pcb-box {
    margin-bottom: 100px;
}

.main .instance-box {
    display: block;
    padding-top: 102px;
    position: relative;
}

.instance-title {
    font-size: 30px;
    color: #2e2525;
    position: relative;
    width: 936px;
}

.instance-title > .icon-FPC {
    font-size: 26px;
    color: #d9b138;
}

.instance-box .instance-title .tips-box {
    font-size: 12px;
    margin-left: 25px;
    color: #fdbb2d;
}

/*计价右侧开始*/
.content .content-r {
    width: 320px;
    float: right;
    background-color: #efefef;
    position: relative;
    top: 0;
    margin-top: 20px;
}

.quantity-select .selectq {
    width: 100%;
    height: 28px;
    line-height: 28px;
    outline: none;
    text-indent: 15px;
    background: url("../images/downed-pointer.png") no-repeat 90% center;
    cursor: pointer;
    border: none;
}

.content .content-r .content-top-price {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #efefef;
    height: 70px;
    *width: 320px;
}

.content .content-r .main-price {
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
    background-color: #efefef;
    display: none;
    width: 320px;
}

.content .content-r .main-price .time-box .js-build-box .active {
    border: 1px solid #b21f1f;
}

.content .content-r .main-price .time-box, .shipping-box {
    height: auto;
    width: 100%;
    position: relative;
    border-top: 1px solid #fff;
    padding: 20px 0 20px 0;
    cursor: pointer;
}

.content .content-r .main-price .shipping-box {
    margin-top: 10px;
}

.content .content-r .calculate {
    width: 320px;
    height: 50px;
    border-radius: 2px;
    text-align: center;
    background-color: #271e1e;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    *min-width: 360px;
}

.content .content-r .calculate > .icon-jisuan {
    font-size: 28px;
    margin-right: 10px;
    vertical-align: sub;
}

.content .content-r .main-price .time-box .build-time, .shipping-costs {
    width: 105px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 90px;
    line-height: 35px;
    background: #efefef;
    text-align: center;
}

.content .content-r .main-price .time-box .lead-time {
    background-color: #FFFFFF;
    padding: 8px 10px 0 10px;
    box-sizing: border-box;
    min-height: 40px;
    color: #fdbb2d;
    display: none;
    font-size: 12px;
}

.content .content-r .main-price .time-box .build-box {
    display: none;
}

.content .content-r .main-price .time-box .show-item {
    display: block;
}

.content .content-r .main-price .time-box .time-l {
    border: 1px solid #efefef;
}

.content .content-r .main-price .time-box .time-l > dl > dt {
    color: #727171;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    float: left;
    width: 133px;
}

.content .content-r .main-price .time-box .time-l > dl > dd {
    line-height: 32px;
    color: #2e2525;
    height: 32px;
    box-sizing: border-box;
    float: left;
    width: 142px;
    text-align: right;
}

.content .content-r .main-price .time-box .time-l > dl > dd .original-price {
    color: #727171;
    margin-right: 5px;
    font-size: 12px;
}

.content .content-r .main-price .time-box .time-l > dl > dd .original-price .price {
    text-decoration: line-through;
}

.content .content-r .main-price .time-box .time-r {
    width: 133px;
    border: 1px solid rgb(193, 193, 193);
    margin: 20px 0;
    float: right;
}

.content .content-r .main-price .time-box dl {
    background-color: #fff;
    height: 32px;
}

.content .content-r .main-price .time-box ul .sale-box {
    border-bottom: none;
}

.content .content-r .main-price .time-box ul .sale-box .sale-item {
    text-decoration: line-through;
}

.content .content-r .main-price .time-box ul .sale-box .sale-item {
    float: right;
}

.content .content-r .main-price .time-box .icon-Express {
    color: #f5a623;
    *margin-top: -25px;
}

.content .content-r .content-top-price .price-box .price-left {
    width: 72px;
    word-wrap: break-word;
    word-break: break-all;
    float: left;
    font-weight: bold;
}

.content .content-r .content-top-price .price-box .price-right {
    float: right;
    font-size: 30px;
    color: #b21f1f;
}

.content .content-r .content-top-price .price-box {
    overflow: auto;
    margin-top: 17px;
}

.content .content-r .price-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-l {
    margin-top: 0;
    *float: left;
}

.content .content-r .main-price .shipping-box .shipping-r {
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    float: right;
    background-color: #ffffff;
    word-break: break-all;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-item::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-item > i {
    float: left;
    margin-right: 5px;
}

.content .content-r .main-price .shipping-box .shipping-l .shipping-title {
    margin-left: 0;
    width: 100%;
    margin-bottom: 5px;
}

.content .content-r .main-price .shipping-box .shipping-l .country-title {
    width: 100%;
    margin: 10px 0 0 0;
}

.content .content-r .main-price .shipping-box .shipping-l .country-title .shipping-down {
    width: 138px;
}

.content .content-r .main-price .shipping-box .shipping-l::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-r .shipping-price {
    float: right;
    color: #2e2525;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-time {
    font-size: 12px;
    margin-top: 7px;
    color: #999999;
}

.quantity-select {
    margin-left: 7px;
    width: 160px;
    border: 1px solid #a9a9a9;
    height: 28px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
}

.content .content-r .main-price .shipping-email {
    width: 100%;
    height: 36px;
    text-indent: 15px;
    border: 1px solid #cfcfcf;
}

/*计价列表*/
.content .content-r .pricing-list {
    background-color: #ffffff;
    min-height: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    display: none;
}

.content .content-r .pricing-list li:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .pricing-list .list-name {
    float: left;
    color: #727171;
    font-size: 12px;
}

.content .content-r .pricing-list .list-price {
    float: right;
}

.content .content-r .pricing-list .list-price .list-price-jp {
    font-size: 12px;
    margin-right: 10px;
    color: #727171;
}

/*下单按钮*/

.content .content-r .add-basket {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #b21f1f;
    font-size: 18px;
    color: #ffffff;
    border-radius: 2px;
    transition: all 1s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    display: none;
    *min-width: 360px;
}

.content .content-r .add-basket .icon-gouwuche1 {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: sub;
}

.content .content-r .add-basket:hover {
    background-color: #ee2323;
}

.basket-tips {
    padding: 25px 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    color: #fdbb2d;
    display: none;
    transition: all 1s;
    width: 320px;
}

.content::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧加载动画*/
.loading-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 534px;
    line-height: 576px;
    background-color: rgba(0, 0, 0, .2);
    background-color: #271e1e \9;
    z-index: 99;
    text-align: center;
    filter: alpha(opacity=20);
}

/*计价右侧结束*/
/*计价左侧*/
.instance-box .content .content-l {
    width: 936px;
    float: left;
    border-top: 2px solid #b21f1f;
    margin-top: 20px;
    font-size: 12px;
    height: auto;
}

/*各个条目*/
.board-item {
    padding: 10px 0 10px 30px;
    border: 1px solid #efefef;
    border-top: none;
    cursor: pointer;
    color: #2e2525;
    *min-height: 50px;
}

.board-item .item-left {
    width: 160px;
    height: 29px;
    line-height: 29px;
    font-weight: bold;
    box-sizing: border-box;
    float: left;
    position: relative;
}

.board-item .item-right {
    min-height: 29px;
    float: left;
}

.item-right .list {
    padding: 0 9px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    border: 1px solid #cfcfcf;
    float: left;
    position: relative;
}

.list .flag {
    background: url("../images/right-sign.png") no-repeat center;
    width: 11px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

/*提示信息*/
.board-item .item-tips {
    position: relative;
    float: right;
    margin: 6px 20px 0 0;
    cursor: pointer;
}

.board-item .item-tips .tips-box {
    padding: 10px;
    border: 1px solid #fdbb2d \9;
    box-shadow: 0 0 2px 0 #fdbb2d;
    position: absolute;
    width: auto;
    min-width: 210px;
    left: -210px;
    background-color: #ffffff;
    z-index: 9;
    color: #999999;
    display: none;
    cursor: pointer;
}

.board-item .item-tips:hover .tips-box {
    display: block;
}

/*选中显示的样式 active-list*/
.item-right .active-list {
    border: 1px solid #2e2525;
}

.item-right .active-list .flag {
    display: block;
}

/*不可选的样式*/
.item-right .disabled {
    background-color: #efefef;
    cursor: not-allowed;
    color: #727171;
}

.board-item::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

.board-item:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
}

.unit-img {
    vertical-align: middle;
    margin-left: 10px;
}
.board-item .item-right .green, .red, .yellow, .blue, .white, .purple, .black, .matt-black, .matt-green {
    width: 30px;
    height: 20px;
    float: left;
    margin: 4px 17px 0 0;
}
.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.white {
    background-color: white;
    border: 1px solid #cfcfcf;
}

.purple {
    background-color: purple;
}

.black {
    background-color: black;
}

.matt-black {
    background-color: #767676;
}

.matt-green {
    background-color: #57be5a;
}
/*重写easyUI*/
.validatebox-invalid {
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: right center;
    border-color: #ffa8a8;
    background-color: #fff3f3;
    color: #000;
}
/*重写计价按钮*/
.new-calculate {
    display: block;
    width: 180px;
    height: 40px;
    background-color: #271e1e;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    float: right;
    margin-top: 15px;
}
.new-calculate .icon-jisuan {
    font-size: 28px;
    margin-right: 10px;
    vertical-align: sub;
}
/*新加通用价格总计*/
.general-price {
    padding: 20px 20px 0;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #efefef;
    height: 70px;
}

.general-price .active-content {
    height: 38px;
}

/*无活动提示*/
.general-price .hint-text {
    width: 72px;
    word-wrap: break-word;
    word-break: break-all;
    float: left;
    font-weight: bold;
}

.general-price .hint-price {
    float: right;
    width: 138px;
    text-align: right;
    color: #b21f1f;
    font-size: 30px;
}

.general-price .hint-price .hint-price-jp {
    font-size: 12px;
    margin-right: 10px;
    color: #727171;
}

.general-price .hint-price p {
    font-size: 30px;
    color: #b21f1f;
    float: right;
}

/*gerber viewer*/
.gerber-viewer {
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 3;
    font-size: 12px;
    cursor: pointer;
    background-color: #408b00;
}

.gerber-viewer > a {
    color: #ffffff;
}

.gerber-viewer .gerber {
    vertical-align: top;
}

.gerber-viewer:hover .gerber {
    text-decoration: underline;
}

/*gerber viewer*/

/*具体参数*/
.change-board .item-left {
    height: 49px;
    line-height: 49px;
}

.change-board .list {
    padding: 10px 9px;
    line-height: 0;
}

.change-board .list .material-img {
    vertical-align: middle;
}

.change-board .item-tips {
    margin-top: 15px;
}

.item-right .single-pieces, .in-panel {
    float: left;
    margin-right: 35px;
}

.item-right .size-length, .size-width {
    border: 1px solid #cfcfcf;
    width: 148px;
    height: 28px;
    float: left;
    text-indent: 15px;
}

.item-right .cheng-hao {
    display: inline-block;
    width: 40px;
    height: 28px;
    line-height: 27px;
    text-align: center;
    font-size: 18px;
    float: left;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.board-item .inch-tips {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

/*宽高转换*/
.board-item .inch-box {
    float: right;
    width: 94px;
    padding-left: 8px;
    box-sizing: border-box;
    height: 28px;
    line-height: 28px;
    color: #727171;
    border: 1px solid #cfcfcf \9;
    box-shadow: 0 0 2px 0 #c9caca;
    margin-right: 15px;
    background-image: url(../images/problem.png);
    background-position: 92% center;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative;
    text-align: left;
    *z-index: 9;
}

.inch-box .inch-open {
    position: absolute;
    top: 29px;
    left: -242px;
    width: 336px;
    height: 370px;
    padding: 12px 30px;
    box-sizing: border-box;
    display: none;
    z-index: 9;
    text-indent: 0;
    border: 1px solid #fdbb2d \9;
    background-color: #ffffff;
    box-shadow: 0 0 2px 0 #fdbb2d;
    text-align: left;
}

.inch-open-pic {
    border-bottom: 1px solid #efefef;
}

.inch-open .inch-input {
    margin-top: 25px;
}

.inch-open .inch-input .inch-inputX {
    width: 250px;
    height: 40px;
    border: 1px solid #cfcfcf;
    padding: 0 12px;
    box-sizing: border-box;
    color: #2e2525;
    margin-bottom: 10px;
}

.inch-open .inch-input .inch-inputX .inputX {
    height: 35px;
    width: 170px;
    text-indent: 15px;
}

.inch-open .inch-input .submin {
    width: 250px;
    height: 40px;
    background-color: #2e2525;
    color: #ffffff;
    font-weight: bold;
    transition: all .3s;
    border-radius: 2px;
    margin-top: 5px;
    cursor: pointer;
}

.inch-open .inch-input .submin:hover {
    background-color: rgba(58, 47, 47, 0.84);
}

/*宽高转换*/
.item-right .pcs {
    width: 158px;
    height: 28px;
    line-height: 28px;
    text-indent: 15px;
    border: 1px solid #cfcfcf;
    margin-right: 10px;
}

/*金手指*/
.bevel-box {
    float: left;
}

.bevel-box .bevel-text {
    float: left;
    margin: 10px 20px 0 40px;
}

/*Flex Part*/
.part-item {

}

.part-item .part-title {
    background: url("../images/part-bg.png") repeat-x center;
    height: 64px;
    font-size: 18px;
    color: #3e3a39;
    font-weight: bold;
    padding: 25px 0 0 30px;
    box-sizing: border-box;
}
.rigid-color {
    width: 735px;
    position: relative;
    top: -5px;
}
.rigid-color .list{
    margin-top: 10px;
}
.part-item .add-po {
    float: left;
}
.part-item .add-po label {
    font-weight: bold;
    margin-right: 10px;
}
.part-item .add-po .get-value {
    width: 158px;
    height: 28px;
    border: 1px solid #cfcfcf;
    line-height: 28px \9;
    text-indent: 15px;
}
.part-item .rigid-finished{
    width: 550px;
}
.part-item .rigid-finished .list{
    margin-bottom: 10px;
}
.part-item .rigid-dditional .item-tips {
    position: relative;
    float: left;
    margin: 6px 20px 0 15px;
    cursor: pointer;
}
.part-item .text-box {
    width: 725px;
    height: 98px;
    border: 1px solid #cfcfcf;
    resize: none;
    float: right;
    padding: 15px;
    box-sizing: border-box;
}

.part-item .detailed-text {
    margin: 110px 0 0 160px;
    color: #727171;

}
