.banner-box {
    width: 100%;
    height: 240px;
    min-width: 1280px;
    background: url("../images/optimized.jpg") no-repeat;
    background-image: url("../images/optimized.jpg") \9;
    background-repeat: no-repeat \9;
    padding-top: 196px;
    background-size: cover !important;
    background-position: center;
    box-sizing: border-box;
}

.nb {
    width: 100%;
    height: 44px;
    background-color: #d0b8b8;
}

.banner-box .banner-ul {
    height: 44px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.banner-box .banner-ul .active {
    background-color: #ffffff;
    color: #2e2525;
}

.banner-box .banner-ul .active a {
    color: #2e2525;
}

.banner-box .banner-ul > li {
    width: 319px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #d0b8b8;
    float: left;
    border-right: 1px solid #a48d8d;
    color: #ffffff;
}

.banner-box .banner-ul li a {
    color: #2e2525;
}

/*主体列表盒子*/
.pcb-box {
    margin-bottom: 100px;
}

.main .stenc-box {
    display: block;
    padding-top: 102px;
    position: relative;
}

.stenc-title {
    font-size: 30px;
    color: #2e2525;
    position: relative;
    width: 936px;
}

.stenc-title > .icon-SMD {
   font-size: 26px;
}

.stenc-box .stenc-title .tips-box {
    font-size: 12px;
    margin-left: 25px;
    color: #fdbb2d;
}

.stenc-box .content .content-l {
    width: 936px;
    float: left;
    border-top: 1px solid #efefef;
    margin-top: 20px;
    font-size: 12px;
}

/*重写框架样式*/
.validatebox-invalid {
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: right center;
    border-color: #ffa8a8;
    background-color: #fff3f3;
    color: #000;
}

/*计价右侧开始*/
.content .content-r {
    width: 320px;
    float: right;
    background-color: #efefef;
    position: relative;
    top: 0;
    margin-top: 20px;
}

.quantity-select .selectq {
    width: 100%;
    height: 28px;
    line-height: 28px;
    outline: none;
    text-indent: 15px;
    background-image: url("../images/downed-pointer.png");
    background-repeat: no-repeat;
    background-position: 90% center;
    cursor: pointer;
    border: none;
}

.content .content-r .content-top-price {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #efefef;
    height: 70px;
    *width: 320px;
}

.content .content-r .main-price {
    padding: 38px 20px 25px 20px;
    box-sizing: border-box;
    background-color: #efefef;
    display: none;
    width: 320px;
}

.content .content-r .main-price .time-box .js-build-box .active {
    border: 1px solid #b21f1f;
}

.content .content-r .main-price .time-box, .shipping-box {
    height: auto;
    width: 100%;
    position: relative;
    border-top: 1px solid #fff;
    padding: 20px 0 20px 0;
    cursor: pointer;
}

.content .content-r .main-price .shipping-box {
    margin-top: 10px;
}

.content .content-r .calculate {
    width: 320px;
    height: 50px;
    background-color: #271e1e;
    border-radius: 2px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    *min-width: 360px;
}
.content .content-r .calculate>.icon-jisuan{
    font-size: 28px;
    margin-right: 10px;
    vertical-align: sub;
}
.content .content-r .main-price .time-box .build-time, .shipping-costs {
    width: 105px;
    height: 35px;
    position: absolute;
    top: -20px;
    left: 90px;
    line-height: 35px;
    background: #efefef;
    text-align: center;
}

.content .content-r .main-price .time-box .lead-time {
    background-color: #FFFFFF;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    min-height: 50px;
    color: #fdbb2d;
    display: none;
}

.content .content-r .main-price .time-box .build-box {
    display: none;
}

.content .content-r .main-price .time-box .show-item {
    display: block;
}

.content .content-r .main-price .time-box .time-l {
    border: 1px solid #efefef;
}

.content .content-r .main-price .time-box .time-l > dl > dt {
    color: #727171;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    float: left;
    width: 133px;
}

.content .content-r .main-price .time-box .time-l > dl > dd {
    line-height: 32px;
    color: #2e2525;
    height: 32px;
    box-sizing: border-box;
    float: left;
    width: 142px;
    text-align: right;
}

.content .content-r .main-price .time-box .time-l > dl > dd .original-price{
    color: #727171;
    margin-right: 5px;
    font-size: 12px;
}
.content .content-r .main-price .time-box .time-l > dl > dd .original-price .price{
    text-decoration: line-through;
}

.content .content-r .main-price .time-box .time-r {
    width: 133px;
    border: 1px solid rgb(193, 193, 193);
    margin: 20px 0;
    float: right;
}

.content .content-r .main-price .time-box dl {
    background-color: #fff;
    height: 32px;
}

.content .content-r .main-price .time-box ul .sale-box {
    border-bottom: none;
}

.content .content-r .main-price .time-box ul .sale-box .sale-item {
    text-decoration: line-through;
}

.content .content-r .main-price .time-box ul .sale-box .sale-item {
    float: right;
}
.content .content-r .main-price .time-box .icon-Express {
    color: #f5a623;
    *margin-top: -25px;
}

.content .content-r .content-top-price .price-box .price-left {
    width: 72px;
    word-wrap: break-word;
    word-break: break-all;
    float: left;
    font-weight: bold;
}

.content .content-r .content-top-price .price-box .price-right {
    float: right;
    font-size: 30px;
    color: #b21f1f;
}

.content .content-r .content-top-price .price-box {
    overflow: auto;
    margin-top: 17px;
}

.content .content-r .price-box::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-l {
    margin-top: 0;
    *float: left;
}

.content .content-r .main-price .shipping-box .shipping-r {
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    float: right;
    background-color: #ffffff;
    word-break: break-all;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
}
.content .content-r .main-price .shipping-box .shipping-r .logistics-item::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}
.content .content-r .main-price .shipping-box .shipping-r .logistics-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-item > i {
    float: left;
    margin-right: 5px;
}

.content .content-r .main-price .shipping-box .shipping-l .shipping-title {
    margin-left: 0;
    width: 100%;
    margin-bottom: 5px;
}

.content .content-r .main-price .shipping-box .shipping-l .country-title {
    width: 100%;
    margin: 10px 0 0 0;
}

.content .content-r .main-price .shipping-box .shipping-l .country-title .shipping-down {
    width: 138px;
}

.content .content-r .main-price .shipping-box .shipping-l::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content .content-r .main-price .shipping-box .shipping-r .shipping-price {
    float: right;
    color: #2e2525;
}

.content .content-r .main-price .shipping-box .shipping-r .logistics-time {
    font-size: 12px;
    margin-top: 7px;
    color: #999999;
}

.quantity-select {
    margin-left: 7px;
    width: 160px;
    border: 1px solid #a9a9a9;
    height: 28px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
}

.content .content-r .main-price .shipping-email {
    width: 100%;
    height: 36px;
    text-indent: 15px;
    border: 1px solid #cfcfcf;
}

/*计价列表*/
.content .content-r .pricing-list {
    background-color: #ffffff;
    min-height: 50px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    display: none;
}
.content .content-r .pricing-list li:after{
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear:both;
}
.content .content-r .pricing-list .list-name {
    float: left;
    color: #727171;
    font-size: 12px;
}

.content .content-r .pricing-list .list-price {
    float: right;
}
.content .content-r .pricing-list .list-price .list-price-jp{
    font-size: 12px;
    margin-right: 10px;
    color: #727171;
}
/*活动价格*/
.content .content-r .active-price{
    border: 1px solid #efefef;
    border-bottom:0;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    display: none;
}
.content .content-r .active-price>span{
    float: left;
    color: #727171;
    font-size: 12px;
}
.content .content-r .active-price .preferential{
    float: right;
    text-decoration: line-through;
    color: #b21f1f;
}
/*下单按钮*/

.content .content-r .add-basket {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #b21f1f;
    font-size: 18px;
    color: #ffffff;
    border-radius: 2px;
    transition: all 1s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    display: none;
    *min-width: 360px;
}
.content .content-r .add-basket .icon-gouwuche1{
    font-size: 24px;
    margin-right: 10px;
    vertical-align: sub;
}
.content .content-r .add-basket:hover {
    background-color: #ee2323;
}

.basket-tips {
    padding: 25px 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    color: #fdbb2d;
    display: none;
    transition: all 1s;
    width: 320px;
}

.content::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.content:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧加载动画*/
.loading-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 534px;
    line-height: 576px;
    background-color: rgba(0, 0, 0, .2);
    background-color: #271e1e \9;
    z-index: 99;
    text-align: center;
    filter: alpha(opacity=20);
}

/*计价右侧结束*/

/*左侧计价开始*/
.board-item::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.board-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.board-item {
    padding: 10px 0 10px 30px;
    border: 1px solid #efefef;
    border-top: none;
    cursor: pointer;
    color: #2e2525;
    *min-height: 50px;
}

.board-item .item-left {
    width: 160px;
    line-height: 29px;
    box-sizing: border-box;
    float: left;
    font-weight: bold;
}

.board-item .item-right {
    float: left;
    cursor: pointer;
}

.item-right .list {
    padding: 0 10px;
    border: 1px solid #cfcfcf;
    position: relative;
    min-height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 15px;
}

.item-right .list .flag {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/right-sign.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 12px;
    display: none;
}

/*选中后的样式*/
.item-right .active-list {
    border: 1px solid #2e2525;
}

.item-right .active-list .flag {
    display: block;
}

/*第二项*/
.item-right .valid-size {
    float: left;
    width: 320px;
    height: 27px;
    background-image: url("../images/downed-pointer.png");
    background-repeat: no-repeat;
    background-position: 98% center;
    border: 1px solid #efefef;
    position: relative;
    z-index: 9;
}

.item-right .valid-size .size-input {
    width: 295px;
    overflow: hidden;
    height: 27px;
    line-height: 27px;
    text-indent: 15px;
}

.item-right .valid-size .size-list {
    position: absolute;
    top: 27px;
    left: -1px;
    width: 735px;
    border: 1px solid #efefef;
    font-size: 12px;
    background-color: #efefef;
    cursor: pointer;
    display: none;
    z-index: 9;
}

.item-right .valid-size .size-list > li {
    padding: 0 5px;
    min-height: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    min-width: 225px;
    background-color: #ffffff;
    text-align: center;
    margin: 5px;
}

.item-right .valid-size .size-list > li:hover {
    background-color: #d0b8b8;
}

.item-right .pieces {
    height: 28px;
    width: 160px;
    border: 1px solid #efefef;
    margin-right: 5px;
    outline: none;
    text-indent: 15px;
}

.item-right .text-box {
    width: 722px;
    height: 98px;
    border: 1px solid #efefef;
    resize: none;
    float: right;
    margin-right: 20px;
    padding: 15px;
    box-sizing: border-box;
    color: #727171;
}

/*登陆后显示条目*/
.gogo-order {
    display: none;
}

.gogo-tips {
    background: url("../images/problem.png") no-repeat center;
    width: 18px;
    height: 18px;
    float: right;
    margin: 7px 15px 0 0;
    position: relative;
}

.gogo-text {
    position: absolute;
    width: 336px;
    top: 25px;
    left: -315px;
    display: none;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9;
    box-shadow: 0 0 2px 0 #fdbb2d;
    background-color: #ffffff;
    color: #999999;
}

.gogo-tips:hover .gogo-text {
    display: block;
}
/*新加计价按钮*/
.new-calculate {
    display: block;
    width: 180px;
    height: 40px;
    background-color: #271e1e;
    border-radius: 3px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
    float: right;
    margin-top: 15px;
}
.new-calculate .icon-jisuan {
    font-size: 28px;
    margin-right: 10px;
    vertical-align: sub;
}
/*新加通用价格总计*/
.general-price{
    padding: 20px 20px 0;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #efefef;
    height: 70px;
}
.general-price .active-content{
    height: 38px;
}

/*无活动提示*/
.general-price .hint-text{
    width: 72px;
    word-wrap: break-word;
    word-break: break-all;
    float: left;
    font-weight: bold;
}

.general-price .hint-price{
    float: right;
    width: 138px;
    text-align: right;
    color: #b21f1f;
    font-size: 30px;
}
.general-price .hint-price .hint-price-jp {
    font-size: 12px;
    margin-right: 10px;
    color: #727171;
}
.general-price .hint-price p {
    font-size: 30px;
    color: #b21f1f;
    float: right;
}
/*新加通用价格总计*/
/*gerber viewer*/
.gerber-viewer{
    padding: 0 20px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 3;
    font-size: 12px;
    cursor: pointer;
    background-color: #408b00;
}
.gerber-viewer>a{
    color: #ffffff;
}
.gerber-viewer .gerber{
    vertical-align: top;
}
.gerber-viewer:hover .gerber{
    text-decoration: underline;
}
/*gerber viewer*/
