/* 主体*/
.order-main:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧*/
.order-main .box-r {
    width: 1080px;
    padding-left: 276px;
    padding-right: 80px;
    background-color: #fff;
}

.box-r .r-title {
    padding-top: 55px;
    font-size: 24px;
    color: #2e2525;
    font-weight: bold;
}

/*进度图盒子*/
.box-r .progress-map-box {
    margin-top: 30px;
    height: 80px;
}

.progress-map-box .progress-ul li {
    text-align: center;
    float: left;
    position: relative;
    height: 40px;
    line-height: 40px;
    width: 360px;
}
.progress-map-box .progress-ul .active .iconfont{
    color: #b21f1f;
}
.progress-map-box .progress-ul .active .progress-line{
    border-bottom: 2px solid #b21f1f;
    color: #b21f1f;
}
.progress-map-box .progress-ul li .progress-line{
    width: 336px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 2px solid #efefef;
    margin-top: 10px;
    position: relative;
    left: 13px;
}

.finish-pic {
    position: absolute;
    top: 20px;
    left: -5px;
    font-size: 34px;
    color: #ddd;
    z-index: 5;
}

.order-main .box-r .pay-success-box {
    width: 100%;
    padding: 150px 0 100px 300px;
    box-sizing: border-box;
}

.vb {
    width: 600px;
    height: 150px;
}

/*支付方式盒子*/
.pay-box {
    border: 1px solid #efefef;
    margin-top: 25px;
}

.pay-box .pay-l {
    width: 720px;
    height: auto;
    padding-left: 25px;
    padding-top: 30px;
    float: left;
    box-sizing: border-box;
}

.pay-box:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.pay-box .pay-l .pay-item {
    float: left;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
}

.pay-box .pay-l .pay-item .pay-flag {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/right-sign.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 12px;
    /*display: none;*/
}

.pay-box .pay-l .pay-item .pay-logo {
    margin-bottom: 5px;
}

.pay-box .pay-l .pay-item .pay-logo img {
    display: block;
}

/*激活的样式*/
.pay-box .pay-l .active .pay-logo {
    border: 1px solid #000000;
}

.pay-box .pay-l .active .pay-flag {
    display: block;
}

/*付款提示*/
.pay-box .pay-l .pay-item .pay-tips {
    width: 450px;
    min-height: 300px;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 999;
    border: 1px solid #cfcfcf;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    display: none;
}

:root .pay-box .pay-l .pay-item .pay-tips {
    box-shadow: 0 0 6px #efeff0;
}

.pay-tips .hidden-tips {
    -moz-opacity: 0;
    -ms-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
}

.pay-tips h3 {
    margin-bottom: 10px;
}

.pay-tips .info-item {
    margin-bottom: 5px;
}

.pay-tips .info-item:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.pay-tips .info-l {
    width: 85px;
    float: left;
}

.pay-tips .copy-btn {
    padding: 0 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    background-color: #877070;
}

.pay-tips .copy-btn:hover {
    background-color: #b21f1f;
}

.pay-tips .pay-text {
    font-size: 12px;
    color: #727171;
    margin-top: 15px;
    width: 390px;
}

.pay-l .other-pay {
    margin-top: 30px;
}

.pay-l .other-pay > a {
    color: #b21f1f;
    text-decoration: underline;
}

/*订单信息*/
.pay-l .order-info {
    margin-top: 35px;
    font-size: 12px;
}

.pay-l .order-info p {
    margin-top: 10px;
}

.pay-l .order-info .order-num {
    font-size: 14px;
    font-weight: bold;
}

.pay-l .order-info p > span {
    color: #fdbb2d;
}

/*右侧*/
.pay-tips .info-r {
    float: left;
    width: 315px;
}

.pay-box .pay-r .label-bg {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../images/order/gou.png");
    background-repeat: no-repeat;
}

.pay-box .pay-r .active {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url("../images/order/goued.png");
    background-repeat: no-repeat;
}

.pay-box dl input {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pay-box dl dt {
    float: left;
    margin-right: 10px;
    position: relative;
}

.pay-box dl dd {
    float: left;
    font-size: 12px;
    color: #2e2525;
}

.pay-r {
    width: 356px;
    float: left;
    border-left: 1px solid #efefef;
}

/*优惠列表*/
.pay-r .discount-list {

}

.pay-r .discount-list li {
    padding: 15px 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #efefef;
}

.pay-r .discount-list li:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.pay-r .discount-list .list-l {
    float: left;
}

.pay-r .discount-list .list-state {
    position: relative;
    float: left;
    margin-right: 10px;
}

.pay-r .discount-list .list-state > input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.pay-r .discount-list .list-name {
    float: left;
    line-height: 20px;
}

.pay-r .discount-list .list-r {
    float: right;
}

.pay-r .discount-list .list-r .pal-free {
    color: #727171;
    margin-right: 5px;
}

.ship-r {
    border-left: none;
    border-bottom: none;
    width: 358px;
    height: auto;
    background-color: #f7f8f8;
    padding-top: 20px;
    box-sizing: border-box;
}

.ship-r dl {
    height: 21px;
    padding: 0 25px;
}

.ship-r dl dt {
    float: left;
    color: #727171;
    font-size: 12px;
}

.ship-r dl dd {
    float: right;
    color: #b21f1f;
}
/*日文价格*/
.ship-r dl dd .rf-jp {
    font-size: 12px;
    color: #727171;
}

/*优惠提示*/
.the-price {
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
    width: 325px;
    min-height: 34px;
    margin: 10px auto;
}
.the-price .price:after{
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}
.the-price .price-left{
    float: left;
    color: #727171;
}
.the-price .price-right{
    float: right;
}
/*日文价格*/
.the-price .price-right .rf-jp {
    font-size: 12px;
    color: #727171;
}
.total-amount {
    padding: 0 25px;
    font-size: 12px;
    height: 50px;
    border-top: 1px solid #efefef;
}

.total-amount .amount-l {
    float: left;
    margin-top: 20px;
    font-weight: bold;
}

.total-amount .amount-r {
    float: right;
    font-size: 24px;
    color: #b21f1f;
    margin-top: 15px;
}
/*日文价格*/
.total-amount .amount-r .payment-total-yen {
    font-size: 12px;
    color: #727171;
}

/*支付 与 发票*/
.box-r .button-group {
    padding: 20px 0;
    text-align: right;
    border-bottom: 1px solid #efefef;
}

.box-r .button-group * {
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border-radius: 2px;
    margin-left: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
}

.box-r .button-group .invoice {
    background-color: #826c6c;
}

.box-r .button-group .pay-btn {
    background-color: #b21f1f;
}

/*优惠列表*/
.price-div ul li {
    margin-bottom: 15px;
    color: #727171;
    font-size: 12px;
}

.rf {
    float: right;
    font-weight: bold;
    color: #2e2525;
    font-size: 14px;
}

/*地址*/
.delivery-ress {
    margin: 18px 0 18px 0;
    font-weight: bold;
}

.delivery-box {
    background-image: url("../images/order/border-pic .png");
    background-repeat: no-repeat;
    width: 1080px;
    height: 200px;
    padding: 34px 0 0 30px;
    box-sizing: border-box;
}

.delivery-box dl {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #2e2525;
    margin-bottom: 5px;
}

.delivery-box dl dt {
    margin-right: 20px;
    min-width: 60px;
}

.delivery-box dl dt, dd {
    float: left;
}

/*表格盒子*/
.box-r .detail-box {
    border: 1px solid #efefef;
    margin-bottom: 22px;
}

.box-top {
    height: 40px;
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid #efefef;
    box-sizing: border-box;
}

.box-r .detail-box .box-top .box-title {
    font-weight: bold;
    color: #2e2525;
}

.box-r .detail-box .box-top .box-price {
    float: right;
    font-weight: bold;
    color: #b21f1f;
}

/*日语价格*/
.box-r .detail-box .box-top .box-price-jp {
    float: right;
    margin-left: 10px;
    font-size: 12px;
    color: #727171;
}

.box-r .detail-box .box-content::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

.box-r .detail-box .box-content .content-l {
    width: 810px;
    display: inline-block;
    float: left;
    border-right: 1px solid #efefef;
}

.box-r .detail-box .box-content .content-r {
    width: 267px;
    padding: 15px 15px 0 15px;
    box-sizing: border-box;
    font-size: 12px;
    color: #727171;
    float: left;
}

.box-content .content-l .content-list {
    height: 40px;
}

.box-content .content-l .content-list li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    font-weight: bold;
}

/*文字超出部分出现省略号*/
.box-content .content-l .content-list > li > a {
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box-content .content-l .content-list .bg-text {
    width: 120px;
    background-color: #f7f8f8;
    font-size: 12px;
    color: #727171;
}

.box-content .content-l .content-list .fg-text {
    width: 150px;
    color: #2e2525;
    font-size: 12px;
}

.box-content .content-l .content-list .ot-text {
    width: 420px;
    color: #2e2525;
    font-size: 12px;
}

.copy-right-box {
    margin-top: 180px;
}
