/* 主体*/
.order-main {
    width: 100%;
    height: 100%;
}

.order-main::after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    clear: both;
}

/*右侧*/
.order-main .box-r {
    background-color: #fff;
    padding-right: 80px;
    padding-left: 276px;
    width: 1080px;
}

.r-top {
    height: 60px;
    width: 100%;
    line-height: 60px;
    text-indent: 20px;
    background-image: url("../images/order/home.png");
    background-repeat: no-repeat;
    background-position: left center;
    color: #c9caca;
    font-size: 12px;
}

.box-r .r-title {
    margin-top: 40px;
    font-size: 24px;
    color: #2e2525;
    font-weight: bold;
}

/*返回顶部*/
.order-main .go-btn {
    position: fixed;
    right: 10px;
    top: 700px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*账户盒子*/
.box-r .account-box {
    margin-top: 30px;
}

/*账户额度*/
.quota-box {
    height: 122px;
    background-color: #f7f8f8;
    border: 1px solid #efefef;
}

.quota-box .money-text {
    float: left;
    margin-left: 10px;
    font-weight: bold;
}

.quota-box .money {
    float: right;
    margin-right: 60px;
    font-size: 30px;
    color: #b21f1f;

}

.quota-box .quota-l {
    float: left;
    width: 50%;
    height: 122px;
    padding: 40px 0 0 25px;
    box-sizing: border-box;
    background-color: #f7f8f8;
    background-image: url("../images/down-pointer.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
}

.quota-box .active {
    background-color: #ffffff;
}

/*列表切换盒子*/
/*表格切换*/
.box-r .tabed {
    margin-top: 40px;
    height: 35px;
    position: relative;
}

.tabed .tabed-ul {
    display: inline-block;
    height: 35px;
    float: left;
}

.tabed .tabed-ul li {
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 138px;
    float: left;
    border: 1px solid #efefef;
    font-size: 12px;
    border-bottom: 2px solid #b21f1f;
}

.tabed .tabed-ul .active {
    border-left: 2px solid #b21f1f;
    border-right: 2px solid #b21f1f;
    border-top: 2px solid #b21f1f;
    border-bottom: 2px solid transparent;
}

.tabed .right-line {
    float: right;
    border-bottom: 2px solid #b21f1f;
    width: 658px;
    height: 36px;
    position: relative;
}

.tabed .right-line .date-box {
    width: 520px;
    height: 38px;
    float: right;
    position: relative;
}

.tabed .right-line .date-box .time-input {
    text-align: center;
    width: 160px;
    height: 25px;
    border: 1px solid #efefef;
    line-height: 25px;
    background-image: url("../images/order/calendar-pic.png");
    background-repeat: no-repeat;
    background-position: 95% center;
}

.tabed .right-line .date-box .split-line {
    display: inline-block;
    width: 20px;
    height: 25px;
    border: 1px solid #efefef;
    text-align: center;
    line-height: 25px;
}

.tabed .right-line .date-box .time-btn {
    width: 60px;
    height: 27px;
    border: 1px solid #efefef;
    border-radius: 3px;
    line-height: 27px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    background-color: #f7f8f8;
}

.tabed .right-line .date-box .search-btn {
    background-color: #2e2525;
    color: #ffffff;
}
.tabed .right-line .date-box .search-btn:hover{
    background-color: #483838;
    color: #ffffff;
}
/*新加类名*/
.tabed .right-line .date-box .rest-btn:hover{
    background-color: #f7f8f8;
}
/*人员列表*/
.box-r .person-lists table {
    width: 100%;
    margin-top: 17px;
}

.box-r .person-lists table tr {
    text-align: center;
    height: 60px;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-left: 1px solid #efefef;
}

.box-r .person-lists table .table-title {
    background-color: #f7f8f8;
    height: 38px;
    border: 1px solid #efefef;
    font-size: 12px;
    box-shadow: 0px 1px 1px 0px #eaeaea;

}

.box-r .person-lists table .table-title th {
    border-right: 1px solid #efefef;
    width: 16%;
}

/*优惠券盒子*/
.box-r .coupon-box {
    width: 100%;
    height: auto;
    display: none;
    box-sizing: border-box;
}

.coupon-top {
    height: 120px;
    box-sizing: border-box;
    padding: 40px 0 0 0;
}

.box-r .coupon-box .coupon-l {
    float: left;
    margin: 35px 0 0 30px;
}

.coupon-top .coupon-input {
    width: 216px;
    height: 23px;
    border: 1px solid #efefef;
}

.coupon-top .check-btn {
    width: 75px;
    height: 24px;
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    background-color: #e2e2e2;
    font-weight: bold;
}

.coupon-top .to-balance {
    color: #ffffff;
    width: 175px;
    height: 24px;
    background-color: #2e2525;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

/*票券*/
.box-r .coupon-box .voucher-box {
    border: 1px solid #efefef;
    height: auto;
    width: 338px;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.voucher-text {
    height: 118px;
    border-bottom: 1px dashed #efefef;
    padding: 30px 0 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
}

.voucher-text > p {
    margin-bottom: 10px;
    color: #727171;
}

.voucher-text > p > span {
    color: #271e1e;
    font-weight: bold;
}

.box-r .coupon-box .voucher-box .voucher-item {
    background-repeat: no-repeat;
    height: 101px;
    background-position: center center;
    margin: 30px 0 15px 0;
    box-sizing: border-box;
    padding: 0 16px 0 38px;
}

.box-r .coupon-box .voucher-box .discount-coupon {
    background-image: url(../../img/images/order/Voucher1.png);
}

.box-r .coupon-box .voucher-box .voucher {
    background-image: url(../../img/images/order/Voucher2.png);
}

.box-r .coupon-box .voucher-box .expiry-voucher {
    background-image: url(../../img/images/order/Voucher3.png);
}

.box-r .coupon-box .voucher-box .voucher-item .item-l {
    float: left;
    height: 101px;
    width: 98px;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    color: #ffffff;
}

.box-r .coupon-box .voucher-box .voucher-item .item-l span {
    font-size: 24px;
}

.box-r .coupon-box .voucher-box .voucher-item .item-r {
    float: right;
    color: #ffffff;
    height: 101px;
    line-height: 101px;
    text-align: center;
    width: 109px;
    padding-right: 55px;
}

.use-now {
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #271e1e;
}

.use-now > a {
    color: #b21f1f;
    text-decoration: underline;
}
/*新加提示信息*/
.promo-fin-info{
    position: relative;
    top: -25px;
    color: #b21f1f;
}
.copy-right-box {
    font-size: 12px;
    color: #999;
    margin-top: 180px;
    height: 70px;
    line-height: 70px;
    padding-left: 276px;
}
/*空数据元素*/
.empty-item {
    width: 100%;
    height: 400px;
    margin-top: 107px;
    text-align: center;
    display: none;
}

.empty-item .empty-order {
    display: inline-block;
    height: 70px;
}

.empty-item .empty-order .empty-pic {
    float: left;
}

.empty-item .empty-order .empty-link-box {
    float: left;
    margin-left: 25px;
}

.empty-text {
    color: #c9caca;
    font-size: 12px;
    text-align: left;
}
.empty-link-box .empty-link{
    color: #2e2525;
    text-decoration: underline;
    font-size: 12px;
    margin-top: 10px;
}